@use "../variables.scss" as *;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

::placeholder {
  color: $gray;
  opacity: 1;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.4em;
  color: $black;
}

code {
  background-color: $backgroundGrayColor;
  padding: 0px 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.4em;
  margin: 0.5em 0 0.2em 0;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0.5em 0 0.2em 0;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.4em;
  margin: 0.5em 0 0.2em 0;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.4em;
  margin: 0.5em 0 0.2em 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.right {
  float: right;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
}

.hidden {
  display: none !important;
}

p {
  margin: 0px;
  margin-bottom: 0.5em;
}

.progress {
  display: block;
  margin: 5px auto;
}

a {
  color: $baseColor;
}

a:hover {
  text-decoration: none;
  background-color: $hoverColor;
}

a:active {
  background-color: $activeColor;
}

ul {
  padding: 0px 20px;
  margin: 0px;
  margin-bottom: 1rem;
}

pre {
  margin: 0px;
}
