@use "../variables.scss" as *;

.root {
  display: flex;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  flex-direction: column;
}

.root_header {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
  justify-content: space-between;
  height: 45px;
  border-bottom: .5px solid $baseColorBackground;
  //background-color: $baseColorBackground;
}


.root_bottom {
  flex-grow: 100;
  display: flex;
  overflow: auto;
}

.root_left {
  flex-shrink: 0;
  width: 300px;
  overflow: auto;
}

.root_content {
  flex-grow: 10;
  overflow: auto;
}

.root_hamburger {
  border-radius: 5px;
  width: 40px;
  height: 33px;
  cursor: pointer;
  flex-shrink: 0;
  display: none;

  justify-content: center;
  align-items: center;
  background-color: $backgroundGrayColor;
}

.root_hamburger:hover {
  opacity: 0.9;
  background-color: $hoverColor;
}

.root_hamburger:active {
  opacity: 0.8;
  background-color: $activeColor;
}

.root_hamburger_iconopen,
.root_hamburger_iconclose {
  width: 20px;
}

.root_hamburger_iconclose {
  display: none;
}

.root-visible .root_hamburger_iconopen {
  display: none;
}

.root-visible .root_hamburger_iconclose {
  display: inline-block;
}

@keyframes root_left_animation {
  0% {
    opacity: 0;
    transform: perspective(10cm) scale(1) translateX(100px);
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  //fix mobile display: https://dev.to/maciejtrzcinski/100vh-problem-with-ios-safari-3ge9

  .root_header {
    //border-top: 1px solid #eee;
    background: white;
    z-index: 1000;
  }

  .root_logo {
    width: 50px;
    margin: 0px 10px;
  }

  .root_left {
    display: none;
  }

  .root-visible .root_left {
    display: block;
    position: absolute;
    top: 50px;
    bottom: 0px;
    right: 0px;
    z-index: 10;
    background-color: #fff;
    //@include shadow;
    animation: root_left_animation 200ms ease-out;
    width: 100vw;
    z-index: 10000000;
    position: absolute;
  }

  .root_hamburger {
    display: flex;
  }
}

@media (max-width: 600px) {
  .root-visible .root_left {
    right: 0px;
    left: 0px;
    width: 100vw;
    //z-index: 10000000;
    //position: absolute;
  }
}

@media print {
  .root {
    display: block;
    height: auto;
  }

  .root_header {
    display: none;
  }

  .root_left {
    display: none;
  }

  .root_bottom {
    overflow: visible;
  }

  .root_content {
    display: block;
    overflow: visible;
  }
}
