.admin_header {
  background: white;
  font-size: 14px;
  padding-bottom: 0px;
  .shadow;
  position: relative;
  z-index: 2;
}

.admin_header_top {
  display: flex;
  padding: 0px 5px;
}

.admin_header_top_item {
  padding: 5px;
}

.admin_header a {
  text-decoration: none;
  line-height: 1.6em;
}

.admin_header a:hover {
  background-color: #eee;
}

.admin_header_top_space {
  flex-grow: 2;
}

.admin_header_name {
  font-weight: bold;
}

.admin_header_resources {
  border-top: 1px solid #e5e5e5;
  margin: 0px;
  padding: 0px;
  clear: both;
  display: flex;
  margin-left: -2px;
  font-size: 0px;
  padding-left: 5px;
}

.admin_header_resource {
  text-transform: uppercase;
  padding: 5px 5px;
  margin: 0px;
  margin-right: 2px;
  font-size: 12px;
  border-bottom: 2px solid none;
}


.admin_header_resource:hover {
  background-color: #eee;
}

.admin_header_resource-active {
  font-weight: bold;
  border-bottom: 2px solid #4078c0;
}