a.search {
  //border: 1px solid red;
  border-top: 1px solid #eee;
  display: flex;
  padding: 10px 5px;
  text-decoration: none;
}

.search_icon {
  background: #fafafa;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100px;
  margin-right: 10px;
}

.search_category {
  color: @gray;
  font-size: .8rem;
  text-transform: uppercase;
}

.search_name {
  font-size: 1.1rem;
}

.search_description {
  font-size: .9rem;
  color: @gray;
}

.search_pagination {
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0px;
}

a.search_pagination_page {
  padding: 5px 10px;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 3px;
}

a.search_pagination_page-selected {
  font-weight: bold;
  text-decoration: none;
  color: @black;
}