$baseColor: hsl(214, 50%, 50%);
$baseColorBackground: hsl(214, 50%, 90%);
$baseColorBackgroundLighter: hsl(214, 50%, 97%);

$red: #cb2431;
$redLighter: #de4450;

$green: #006400;
$yellow: #ffd800;

$hoverColor: $baseColorBackgroundLighter;
$activeColor: $baseColorBackground;

$black: #444;


$gray: #888;

$grayBorderColor: #eee;

$backgroundGrayColor: #fafafa;

@mixin shadow {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}

@mixin shadowLarge {
    box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.1);
}

@mixin shadowMedium {
    box-shadow: rgb(50 50 93 / 25%) 0px 2px 5px -1px, rgb(0 0 0 / 30%) 0px 1px 3px -1px;
}

@mixin border {
    border: 1px solid $grayBorderColor;
}

$radius: 5px;

@mixin rectangle {
    @include border;
    display: inline-block;
    background-color: $baseColorBackgroundLighter;
    border-radius: $radius;
    margin: 5px;
    flex-shrink: 0;
}

@mixin inputzone {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    background-color: #fcfcfc;
    outline: none;
    border: 1px solid #ddd;
    padding: 8px 6px;
    display: inline-block;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.4rem;
    color: #333;
    vertical-align: middle;
    width: 100%;
}