{{define "admin_list"}}

<h2>{{call .admin_resource.Name .locale}}</h2>

{{$adminResource := .admin_resource }}
{{$locale := .locale}}

{{$csrfToken := ._csrfToken}}

<a href="{{.admin_resource.ID}}/new" class="btn">{{message .locale "admin_new"}}</a>

<table class="admin_table">
  <tr>
  {{range $item := .admin_list_table_data.Header}}
    <th>{{$item.NameHuman}}</th>
  {{end}}
  <th colspan="2"></th>
  </tr>
{{range $item := .admin_list_table_data.Rows}}
  <tr>
    {{range $cell := $item.Items}}
    <td>
      {{ tmpl $cell.TemplateName $cell.Value }}
    </td>
    {{end}}
    <td nowrap>
      <a href="{{ $adminResource.ID}}/{{$item.ID}}" class="btn">{{message $locale "admin_edit"}}</a> 
    </td>
    <td nowrap>
      <form method="POST" action="{{ $adminResource.ID}}/{{$item.ID}}/delete?_csrfToken={{$csrfToken}}" onsubmit="return window.confirm('{{message $locale "admin_delete_confirmation"}}');">
        <input type="submit" value="{{message $locale "admin_delete"}}" class="btn">
      </form>
    </td>
  </tr>
{{end}}
</table>

{{end}}