{{define "admin_form"}}

<form method="{{.Method}}" action="{{.Action}}" class="form" enctype="multipart/form-data" novalidate>

{{if .Errors}}
<div class="form_error">{{.Errors}}</div>
{{end}}

{{range $item := .Items}}
  {{tmpl $item.Template $item}}
{{end}}

<input type="submit" value="{{.SubmitValue}}" class="btn">
</form>

{{end}}