{{define "admin_home"}}

<div class="admin_box">

  <h2>{{.admin_header.Name}}</h2>

  <table class="admin_table">
  {{range $item := .admin_header.Items}}
    <tr>
      <td>
        <a href="{{$item.Url}}">{{$item.Name}}</a>
      </td>
    </tr>
  {{end}}
  </table>
</div>

{{end}}