{{define "admin_settings"}}

<div class="admin_box">

  <h2>{{.admin_title}}</h2>

  <a href="password">{{message .locale "admin_password_change"}}</a>

  {{tmpl "admin_form" .admin_form}}
</div>

{{end}}