{{define "admin_home"}}

<div class="admin_box">

  <h2>{{.admin_header.Name}}</h2>

  <table class="admin_table">
  <tr>
    <th>Název</th>
    <th>Počet položek</th>
    <th>Akce</th>
  </tr>
  {{range $item := .home_data}}
    <tr>
      <td>
        <a href="{{$item.URL}}">{{$item.Name}}</a>
      </td>
      <td>
        {{$item.Count}}
      </td>
      <td>
        {{range $action := $item.Actions}}
          <a class="btn" href="{{$action.Url}}">{{$action.Name}}</a>
        {{end}}
      </td>
    </tr>
  {{end}}
  </table>
</div>

{{end}}