{{define "admin_login"}}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.name}} admin přihlášení</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{.admin_header_prefix}}/admin.css">
  </head>
  <body class="admin">
    <div class="admin_content">
    <h2>{{.name}} admin přihlášení</h2>

    <form class="form" method="POST">
        <label class="form_label">
          <span class="form_label_text">Email</span>
          <input type="email" name="email" autofocus class="input form_input">
        </label>

        <label class="form_label">
          <span class="form_label_text">Heslo</span>
          <input type="password" name="password" class="input form_input">
        </label>

        <input type="submit" value="Přihlásit se" class="btn">

    </form>

    </div>
  </body>
</html>

{{end}}