{{define "admin_layout"}}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{if .admin_title}}{{.admin_title}} — {{.appName}}{{else}}Admin — {{.appName}}{{end}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{.admin_header.UrlPrefix}}/_static/admin.css?v={{.version}}">
    {{range $c := .css}}
        <link rel="stylesheet" href="{{$c}}">
    {{end}}

    <script type="text/javascript" src="{{.admin_header.UrlPrefix}}/_static/admin.js?v={{.version}}"></script>
    {{range $javascript := .javascripts}}
        <script type="text/javascript" src="{{$javascript}}"></script>
    {{end}}
    <script src="https://maps.googleapis.com/maps/api/js?callback=bindPlaces&key={{.google}}" async defer></script>

  </head>
  <body class="admin" data-csrf-token="{{._csrfToken}}" data-admin-prefix="{{.admin_header.UrlPrefix}}"
    {{if .admin_header.Background}}
      style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255,255,255, 0.9) 100%), url('{{.admin_header.Background}}'); background-size: cover; background-attachment: fixed;" 
    {{end}}
    >
    {{tmpl "admin_flash" .}}
    <div class="admin_header">
        <div class="admin_header_top">
            <a href="{{.admin_header.UrlPrefix}}" class="admin_header_name admin_header_top_item">
              {{if .admin_header.Logo}}
                <div class="admin_logo" style="background-image: url('{{.admin_header.Logo}}');"></div>
              {{end}}
            {{message .locale "admin_admin"}} — {{.admin_header.Name}}</a>
            <a href="/" class="admin_header_top_item">{{.admin_header.HomepageUrl}}</a>
            <div class="admin_header_top_item admin_header_top_space"></div>
            <div class="admin_header_top_item">{{.currentuser.Email}}</div>
            <a href="{{.admin_header.UrlPrefix}}/user/settings" class="admin_header_top_item">{{message .locale "admin_settings"}}</a>
            <a href="{{.admin_header.UrlPrefix}}/logout?_csrfToken={{._csrfToken}}" class="admin_header_top_item">{{message .locale "admin_log_out"}}</a>
        </div>


        {{ $admin_resource := .admin_resource }}

        <div class="admin_header_resources">
            {{range $item := .admin_header.Items}}
                <a href="{{$item.Url}}" class="admin_header_resource {{if $admin_resource}}{{ if eq $admin_resource.ID $item.ID }}admin_header_resource-active{{end}}{{end}}">{{$item.Name}}</a>
            {{end}}
        </div>
    </div>

    <div class="admin_content">

    {{if .template_before}}{{tmpl .template_before .}}{{end}}

    {{tmpl .admin_yield .}}

    {{if .template_after}}{{tmpl .template_after .}}{{end}}

    </div>
  </body>
</html>

{{end}}