{{define "admin_form"}}

<form method="{{.Method}}" action="{{.Action}}" class="form" enctype="multipart/form-data" novalidate>

{{if .Errors}}
  <div class="form_errors">
    {{range $error := .Errors}}
      <div class="form_errors_error">{{$error}}</div>
    {{end}}
  </div>
{{end}}

{{range $item := .Items}}
  <label class="form_label{{if .Errors}} form_label-errors{{end}}">
    <span class="form_label_text">{{.NameHuman}}</span>
    {{if .Errors}}
      <div class="form_label_errors">
        {{range $error := .Errors}}
          <div class="form_label_errors_error">{{$error}}</div>
        {{end}}
      </div>
    {{end}}
    {{tmpl $item.Template $item}}
  </label>
{{end}}

<input type="submit" value="{{.SubmitValue}}" class="btn">
</form>

{{end}}