{{define "admin_login"}}
<div class="admin_box">
    <h2>{{.title}}</h2>

    {{tmpl "admin_form" .admin_form}}

    {{if .bottom}}
    <div style="text-align: center">
    {{Plain .bottom}}
    </div>
    {{end}}
</div>
{{end}}