{{define "admin_new"}}

<h2>{{message .locale "admin_new"}} - {{call .admin_resource.Name .locale}}</h2>

<a href="../{{.admin_resource.ID}}">{{message .locale "admin_back"}}</a>

{{tmpl "admin_form" .admin_form}}

{{end}}