{{define "admin_list"}}

{{$adminResource := .admin_resource }}
{{$locale := .locale}}

{{$csrfToken := ._csrfToken}}
{{$table := .admin_list}}


<table class="admin_table admin_table-list {{if .admin_list.Order}} admin_table-order{{end}}">
  <tr>
    <td colspan="{{.admin_list.Colspan}}">
      <h2>{{.admin_title}}</h2>
    </td>
  </tr>
  <tr>
  {{range $item := .admin_list.Header}}
    <th>
      {{if $item.CanOrder}}
        <a href="{{$item.OrderPath}}" class="{{if $item.Ordered}}ordered{{end}}{{if $item.OrderedDesc}} ordered-desc{{end}}">
      {{- end -}}
        {{- $item.NameHuman -}}
      {{if $item.CanOrder -}}
        </a>
      {{end}}
    </th>
  {{end}}
  <th>
    {{if $table.HasNew}}
      <a href="{{.admin_resource.ID}}/new" class="btn">{{message .locale "admin_new"}}</a>
    {{end}}
  </th>
  </tr>
{{range $item := .admin_list.Rows}}
  <tr data-id="{{$item.ID}}" class="admin_table_row">
    {{range $cell := $item.Items}}
    <td>
      {{ tmpl $cell.TemplateName $cell }}
    </td>
    {{end}}
    <td nowrap class="center top">
      <div class="btngrp">
        <a href="{{ $adminResource.ID}}/{{$item.ID}}" class="btn">{{message $locale "admin_edit"}}</a> 
        {{if $table.HasDelete}}
          <div class="btn admin-action-delete" data-action="{{ $adminResource.ID}}/{{$item.ID}}/delete?_csrfToken={{$csrfToken}}" data-confirm-message="{{message $locale "admin_delete_confirmation"}}">
            {{message $locale "admin_delete"}}
          </div>
        {{end}}
      </div>
    </td>
  </tr>
{{end}}
  {{if .admin_list.Pagination.Pages}}
    <tr>
      <td colspan="{{.admin_list.Colspan}}" class="pagination">
        {{range $page := .admin_list.Pagination.Pages}}
          {{if $page.Current}}
            <span class="pagination_page pagination_page-current">{{$page.Name}}</span>
          {{else}}
            <a href="{{$page.URL}}" class="pagination_page">{{$page.Name}}</a>
          {{end}}
        {{end}}
      </td>
    </tr>
  {{end}}
</table>

{{end}}