{{define "admin_layout"}}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{.admin_header.prefix}}/normalize.css">
    <link rel="stylesheet" href="{{.admin_header.prefix}}/admin.css">
    <script type="text/javascript" src="{{.admin_header.prefix}}/jquery.js"></script>
    <script type="text/javascript" src="{{.admin_header.prefix}}/image.js"></script>
    <script type="text/javascript" src="{{.admin_header.prefix}}/order.js"></script>
    <script type="text/javascript" src="{{.admin_header.prefix}}/place.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=bindPlaces" async defer></script>
    <script type="text/javascript" src="{{.admin_header.prefix}}/script.js"></script>

  </head>
  <body class="admin">
    {{tmpl "admin_flash" .}}
    <div class="admin_header">
        <ul class="admin_header_list admin_header_list-right">
            <li><a href="{{.admin_header.prefix}}/user/settings">{{.currentuser.Email}}</a> | <a href="{{.admin_header.prefix}}/logout?_csrfToken={{._csrfToken}}">{{message .locale "admin_log_out"}}</a></li>
        </ul>

        <h1><a href="{{.admin_header.prefix}}">{{.admin_header.appName}}</a></h1>


        {{ $admin_resource := .admin_resource }}

        <ul class="admin_header_list">
            <li><a href="/" style="text-decoration: none;">🌐</a></li>
            {{range $item := .admin_header.menu}}
                <li class="{{if $admin_resource}}{{ if eq $admin_resource.ID $item.id }}admin_header_item-active{{end}}{{end}}">
                    <a href="{{$item.url}}">{{$item.name}}</a>
                </li>
            {{end}}
        </ul>
    </div>

    <div class="admin_content">

    {{if .template_before}}{{tmpl .template_before .}}{{end}}

    {{tmpl .admin_yield .}}

    {{if .template_after}}{{tmpl .template_after .}}{{end}}

    </div>

    <div id="admin_images_popup">
      <div class="admin_images_popup_box" tabindex="1">
        <div class="admin_images_popup_box_header admin_popup_section">
          <h3>Selected images</h3>
          <div class="admin_images_popup_box_content"></div>
        </div>
        <div class="admin_images_popup_box_upload admin_popup_section">
            <h3>Upload new files</h3>
            <div><input type="file" accept=".jpg,.jpeg" multiple class="admin_popup_file"></div>
            <div class="admin_images_popup_box_upload_message"></div>
            <button class="admin_images_popup_box_upload_btn btn">Upload</button>
        </div>
        <div class="admin_images_popup_box_new admin_popup_section">
          <h3>Add Image</h3>
          <input class="admin_images_popup_filter"><button class="btn admin_images_popup_filter_button">Filter</button>
          <div class="admin_images_popup_box_new_list">
          </div>
        </div>
        <div class="admin_images_popup_box_footer">
          <button class="btn admin_images_popup_save">Save</button>
          <button class="btn admin_images_popup_cancel">Cancel</button>
        </div>
      </div>
    </div>
    
  </body>
</html>

{{end}}