{{define "admin_home"}}
  {{tmpl "admin_navigation_page_content" .navigation}}

  {{$global := .}}
  {{range $snippet := .snippets}}
    {{tmpl $snippet.Template $global}}
  {{end}}
{{end}}


{{define "admin_home_navigation"}}
  <table class="admin_table">
    {{range $item := .}}
      <tr>
        <td>
          <b>{{$item.Name}}</b> ({{$item.Count}}x)
        </td>
        <td>
          <div class="btngroup">
            {{range $action := $item.Actions}}
              <a class="btn" href="{{$action.Url}}">{{$action.Name}}</a>
            {{end}}
          </div>
        </td>
      </tr>
    {{end}}
  </table>
{{end}}