{{define "admin_edit"}}

<h2>{{message .locale "admin_edit"}} - {{.admin_item.Name}}</h2>

<a href="../{{.admin_resource.ID}}">{{message .locale "admin_back"}}</a>

{{tmpl "admin_form" .admin_form}}

{{end}}