{{define "admin_new"}}

<h2>{{message .locale "admin_new"}} - {{.admin_resource.Name}}</h2>

<a href="../{{.admin_resource.ID}}">{{message .locale "admin_back"}}</a>

<form method="POST" action="../{{.admin_resource.ID}}" class="form" enctype="multipart/form-data">
{{tmpl "admin_form" .}}
<input type="submit" value="{{message .locale "admin_create"}}" class="btn">
</form>

{{end}}