{{define "newsletter_send"}}
  <form method="POST" action="send">

    <div>
      <b>Emailové adresy ({{.recipients_count}})</b>
    </div>
    {{if false}}
      {{range $item := .recipients}}
        <div>{{$item}}</div>
      {{end}}
    {{end}}

    <input type="submit" class="btn" value="Odeslat newsletter">
  </form>
{{end}}