{{define "newsletter_sent"}}

<div class="admin_box">
  <h1>Newsletter odeslán</h1>

  <b>Emailové adresy ({{.recipients_count}})</b>
  {{range $item := .recipients}}
    <div>{{$item}}</div>
  {{end}}
  
</div>

{{end}}