{{define "newsletter_send_preview"}}
  <form method="POST" action="send-preview">
    <label>
      Seznam emailů na poslání preview (jeden email na řádek)
      <textarea class="input" name="emails"></textarea>
    </label>

    <input type="submit" class="btn">
  </form>
{{end}}