{{define "admin_new"}}

<h2>New {{.admin_resource.Name}}</h2>

<form method="POST" action="../{{.admin_resource.ID}}">

{{range $item := .admin_item_descriptions}}
  {{tmpl $item.Template $item}}
{{end}}

<input type="submit" value="Create">
</form>

{{end}}