{{define "admin_item_input"}}
<label class="form_label">
  {{if .Error}}
    <div class="form_label_error">{{.Error}}</div>
  {{end}}
  <span class="form_label_text">{{.NameHuman}}</span>
  <input name="{{.Name}}" value="{{.Value}}" class="input form_input">
</label>
{{end}}

{{define "admin_item_textarea"}}
<label class="form_label">
  {{if .Error}}
    <div class="form_label_error">{{.Error}}</div>
  {{end}}
  <span class="form_label_text">{{.NameHuman}}</span>
  <textarea name="{{.Name}}" class="input form_input textarea">{{.Value}}</textarea>
</label>
{{end}}

{{define "admin_item_checkbox"}}
<label class="form_label">
  {{if .Error}}
    <div class="form_label_error">{{.Error}}</div>
  {{end}}
  <input type="checkbox" name="{{.Name}}" {{if .Value}}checked{{end}}>
  <span class="form_label_text-inline">{{.NameHuman}}</span>
</label>
{{end}}

{{define "admin_item_date"}}
<label class="form_label">
  {{if .Error}}
    <div class="form_label_error">{{.Error}}</div>
  {{end}}
  <span class="form_label_text">{{.NameHuman}}</span>
  <input type="date" name="{{.Name}}" value="{{.Value}}" class="input form_input">
</label>
{{end}}

{{define "admin_item_readonly"}}
<label class="form_label">
  {{if .Error}}
    <div class="form_label_error">{{.Error}}</div>
  {{end}}
  <span class="form_label_text">{{.NameHuman}}</span>
  <div>{{.Value}}</div>
</label>
{{end}}

{{define "admin_item_file"}}
<label class="form_label">
  {{if .Error}}
    <div class="form_label_error">{{.Error}}</div>
  {{end}}
  <span class="form_label_text">{{.NameHuman}}</span>
  <input type="file" name="{{.Name}}" accept=".jpeg,.jpg" class="input form_input">
</label>
{{end}}

{{define "admin_item_hidden"}}
{{end}}

{{define "admin_string"}}
{{.}}
{{end}}

{{define "admin_image"}}
<img src="/img/uploaded/{{.}}.jpg" style="max-width: 100px; max-height: 100px;">
{{end}}
