{{define "admin_list"}}

<h2>{{.admin_resource.Name}}</h2>

{{ $adminResource := .admin_resource }}

<ul>
{{range $item := .admin_items}}
  <li><a href="{{ $adminResource.ID}}/{{$item.ID}}">{{.Name}}</a></li>
{{end}}
</ul>

<a href="{{.admin_resource.ID}}/new"> New</a>
{{end}}