{{define "admin_item_input"}}
<div style="border: 1px solid red;">
<div>{{.NameHuman}}</div>
<input type="text" name="{{.Name}}" value="{{.Value}}">
</div>
{{end}}

{{define "admin_item_textarea"}}
<div style="border: 1px solid red;">
<div>{{.NameHuman}}</div>
<textarea name="{{.Name}}">{{.Value}}</textarea>
</div>
{{end}}

{{define "admin_item_checkbox"}}
<div style="border: 1px solid red;">
<input type="checkbox" name="{{.Name}}" {{if .Value}}checked{{end}}>
<span>{{.NameHuman}}</span>
</div>
{{end}}

{{define "admin_item_date"}}
<div style="border: 1px solid red;">
<div>{{.NameHuman}}</div>
<input type="date" name="{{.Name}}" value="{{.Value}}">
</div>
{{end}}