{{define "admin_new"}}

<h2>New {{.admin_resource.Name}}</h2>

<a href="../{{.admin_resource.ID}}">Back</a>

<form method="POST" action="../{{.admin_resource.ID}}" class="form">

{{range $item := .admin_item_descriptions}}
  {{tmpl $item.Template $item}}
{{end}}

<input type="submit" value="Create" class="btn">
</form>

{{end}}