{{define "admin_edit"}}

<h2>Edit {{.admin_resource.Name}} - {{.admin_item.Name}}</h2>

<form method="POST" action="{{.admin_item.ID}}">

{{range $item := .admin_item_descriptions}}
  {{tmpl $item.Template $item}}
{{end}}

<input type="submit" value="Save">

</form>

{{end}}