{{define "admin_list"}}

<h2>{{.admin_resource.Name}}</h2>

{{ $adminResource := .admin_resource }}

<table class="admin_table">
  <tr>
  {{range $item := .admin_list_table_data.Header}}
    <th>{{$item.NameHuman}}</th>
  {{end}}
  <th colspan="2"></th>
  </tr>
{{range $item := .admin_list_table_data.Rows}}
  <tr>
    {{range $cell := $item.Items}}
    <td>
      {{ $cell }}
    </td>
    {{end}}
    <td nowrap>
      <a href="{{ $adminResource.ID}}/{{$item.ID}}" class="btn">Edit</a> 
    </td>
    <td nowrap>
      <form method="POST" action="{{ $adminResource.ID}}/{{$item.ID}}/delete" onsubmit="return window.confirm('Really want to delete?');">
        <input type="submit" value="Delete" class="btn">
      </form>
    </td>
  </tr>
{{end}}
</table>

<a href="{{.admin_resource.ID}}/new" class="btn">New {{.admin_resource.Name}}</a>
{{end}}