{{define "admin_list"}}

<h2>{{.admin_resource.Name}}</h2>

{{ $adminResource := .admin_resource }}

<table class="admin_table">
{{range $item := .admin_items}}
  <tr>
    <td nowrap>
      {{.ID}}
    </td>
    <td style="width: 100%;">
      <a href="{{ $adminResource.ID}}/{{$item.ID}}">{{.Name}}</a>
    </td>
    <td nowrap>
      <form method="POST" action="{{ $adminResource.ID}}/{{$item.ID}}/delete" onsubmit="return window.confirm('Really want to delete?');">
        <input type="submit" value="Delete" class="btn">
      </form>
    </td>
  </tr>
{{end}}
</table>

<a href="{{.admin_resource.ID}}/new" class="btn">New {{.admin_resource.Name}}</a>
{{end}}