
.admin_images_loaded {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.admin_images_preview {
  display: inline-grid;
  flex-grow: 100;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  border: 0px solid red;
  gap: 10px;
}

.admin_item_view_image_content {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.admin_images_image {
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  aspect-ratio: 16/9;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include shadowMedium;
  display: inline-block;
  position: relative;
}

.admin_images_image_description {
  font-size: 0.7rem;
  line-height: 1.3em;
  position: absolute;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  bottom: 3px;
  right: 3px;
  left: 3px;
  display: none;
  backdrop-filter: blur(3px);
  padding: 3px;
}

.admin_images_image:hover {
  background-color: $baseColorBackgroundLighter;
}

.admin_images_image:hover .admin_images_image_description {
  display: block;
}

.admin_images_image:active {
  background-color: $baseColorBackground;
}

.admin_images_image_delete {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-radius: 5px;
}

.admin_images_image_delete:hover {
  color: white;
  background: red !important;
}

.admin_images_fileinput {
  align-self: baseline;
  margin-top: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-left: 18px !important;
}

.admin_images_fileinput input {
  opacity: 10;
  position: absolute;
  top: -100px;
}

.admin_images_fileinput:hover {
  background-color: $baseColorBackground;
}

.admin_images_fileinput-droparea {
  border: 3px dashed #aaa;
  background-color: #fafafa;
}

.admin_place_map {
  height: 300px;
}

.admin_markdown textarea {
  margin-top: 5px;
  white-space: pre-wrap;
}

.admin_markdown_header {
  display: none;
}

.admin_markdown:focus-within .admin_markdown_header {
  display: block;
}

.admin_markdown_preview {
  margin-top: 5px;
  background: white;
  border: 1px dashed #e5e5e5;
  padding: 5px;
  font-size: 0.9em;
  line-height: 1.4em;
  color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: auto;
}

.admin_timestamp {
  display: inline-flex;
  align-items: center;
}

select.admin_timestamp_date {
  width: 150px;
  flex-grow: 0;
}

select.admin_timestamp_hour {
  width: 60px;
  flex-grow: 0;
  margin: 0px 5px;
}

select.admin_timestamp_minute {
  width: 60px;
  flex-grow: 0;
  margin-left: 5px;
}

.view_header {
  padding: 0px 10px 0px 15px;
  display: flex;
  align-items: center;
}

.view_header_icon {
  width: 40px;
  aspect-ratio: 1;
  margin-right: 10px;
  padding: 10px;
}

.view_header_name {
  font-weight: 500;
  flex-grow: 10;
  font-size: 1rem;
  line-height: 1.3em;
}

.view_header_subname {
  font-size: .9rem;
  line-height: 1.3em;
  color: $gray;
  display: block;
}

.view_header_tabs {
  flex-shrink: 0;
}

.view_name {
  font-size: 1rem;
  margin-left: 0px;
  padding: 10px 10px 5px 10px;
  display: flex;
  align-items: center;
}

.view_name_icon {
  width: 15px;
  margin-right: 5px;
}

.view_name:first-child {
  border-top: none;
}

.view_edit { 
  font-size: .8rem;
  margin-left: 5px;
  opacity: 0;
}

.view_name:hover .view_edit {
  opacity: 1;
}

.view_edit_icon {
  aspect-ratio: 1;
  width: 13px;
  border-radius: 5px;
}

.view_content {
  clear: both;
  padding: 0px 10px 0px 10px;
  word-wrap: break-word;
  color: $gray;
}

.view_content:last-child {
  margin-bottom: 10px;
}

.view_content:empty {
  display: none;
}

.admin_item_view_place {
  height: 200px;
}

.progress {
  padding: 5px;
  margin: 0px auto;
  line-height: 100px;
  display: block;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  border: 5px solid $baseColor;
  border-top: 5px solid $baseColorBackground;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  animation: spin_animation 700ms ease-in-out infinite;
}

@keyframes spin_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.admin_preview {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 0px -10px;
  font-size: 1rem;
  line-height: 1.4em;

  display: flex;
  align-items: center;
  gap: 10px;
}

.admin_preview_image {
  margin-top: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $backgroundGrayColor;
  align-self: flex-start;
}

.admin_preview_right {
  flex-grow: 2;
  flex-shrink: 2;
}

.admin_preview_description {
  font-size: 0.9rem;
  line-height: 1.3em;
  color: $gray;
  overflow-wrap: anywhere;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.admin_item_relation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.admin_relation_previews {
  border: 0px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.admin_relation_preview {
  display: flex;
}

.admin_relation_preview:first-child .admin_relation_preview_action-up {
  display: none;
}

.admin_relation_preview:last-child .admin_relation_preview_action-down {
  display: none;
}

.admin_relation_preview_action {
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  align-self: center;
  background: white;
  color: $gray;
  width: 30px;
  aspect-ratio: 1;
  flex-shrink: 0;
  line-height: 30px;
  border-radius: 300px;
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: bold;
  background-color: $backgroundGrayColor;
  cursor: pointer;
}

.admin_relation_preview_action:hover {
  background-color: $hoverColor;
}

.admin_relation_preview_action:active {
  background-color: $activeColor;
}

.admin_item_relation_picker {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.admin_item_relation_picker_suggestions {
  position: relative;
}

.admin_item_relation_picker_suggestions_content {
  position: absolute;
  top: 0px;
  z-index: 20;
  background-color: white;
  margin-bottom: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  @include shadow;
  width: 400px;
}

.admin_item_relation_picker_suggestion {
  box-shadow: none;
  margin: 0px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  border-radius: 0px;
}

.admin_item_relation_picker_suggestion:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}

.admin_item_relation_picker_suggestion-selected {
  background-color: $baseColorBackgroundLighter;
}

.admin_stats_pie canvas {
  margin: 0 auto;
}

.admin_nologin_outer {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
}

.admin_nologin {
  background-position: center;
  background-size: cover;
  min-height: 100dvh;
}

.admin_nologin_content {
  border: 1px solid $grayBorderColor;
  background: white;
  margin: 20px;
  max-width: 600px;
  border-radius: 5px;
  padding: 0px 10px;
  @include shadowMedium;

  animation: nologinLoad 1000ms ease;
}

@keyframes nologinLoad {

  from {
    opacity: 1;
    transform: perspective(20cm) rotateX(0deg) scale(1.02) translateY(-0px);
  }

  to {
    opacity: 1;
  }
  
}

.admin_nologin_logo {
  width: 100px;
  aspect-ratio: 1;
  margin: 10px auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.help_icons {
  display: flex;
  flex-wrap: wrap;
}

.help_icon {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  width: 150px;
  height: 70px;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
}

.help_icon:hover {
  background-color: #fafafa;
}

.help_icon_img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  flex-shrink: 0;
}

.help_icon_name {
  font-size: 0.8rem;
  line-height: 1.2em;
  flex-grow: 10;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
