.admin_table {
  background-color: white;
  min-width: 100%;
  margin: 0px auto;
}

.admin_table td {
  padding: 2px;
  border: 1px solid #f1f1f1;
}

.admin_table th {
  vertical-align: bottom;
  font-weight: normal;
  border: 1px solid #f1f1f1;
}

.admin_images_loaded {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.admin_images_preview {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.admin_images_image {
  padding: 3px;
  border-radius: 3px;
  margin: 0px 10px 10px 0px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  .rectangle;
  .shadow;
}

.admin_images_image_description {
  font-size: 0.7rem;
  line-height: 1.3em;
  position: absolute;
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  bottom: 3px;
  right: 3px;
  left: 3px;
  display: none;
  backdrop-filter: blur(3px);
  padding: 3px;
}

.admin_images_image:hover {
  background-color: @baseColorBackgroundLighter;
}

.admin_images_image:hover .admin_images_image_description {
  display: block;
}

.admin_images_image:active {
  background-color: @baseColorBackground;
}

.admin_images_image_delete {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-radius: 5px;
}

.admin_images_image_delete:hover {
  color: white;
  background: red !important;
}

.admin_images_fileinput {
  display: inline-block;
  padding: 3px;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  background-color: @baseColorBackgroundLighter;
  cursor: pointer;
  margin: 0px 10px 10px 0px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: @baseColorBackgroundLighter;
  border: 1px solid #eee;
  .rectangle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin_images_fileinput_plus {
  font-size: 30px;
}

.admin_images_fileinput_plus::after {
  content: "+";
}

.admin_images_fileinput input {
  opacity: 0;
  position: absolute;
  top: -10px;
}

.admin_images_fileinput:hover {
  background-color: @baseColorBackground;
}

.admin_images_fileinput-droparea {
  border: 3px dashed #aaa;
  background-color: #fafafa;
}

.admin_place_map {
  height: 300px;
}

.admin_markdown textarea {
  margin-top: 5px;
  white-space: pre-wrap;
}

.admin_markdown_header {
  display: none;
}

.admin_markdown:focus-within .admin_markdown_header {
  display: block;
}

.admin_markdown_preview {
  margin-top: 5px;
  background: white;
  border: 1px dashed #e5e5e5;
  padding: 5px;
  font-size: 0.9em;
  line-height: 1.4em;
  color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: auto;
}

.admin_timestamp {
  display: inline-flex;
  align-items: center;
}

select.admin_timestamp_date {
  width: 150px;
  flex-grow: 0;
}

select.admin_timestamp_hour {
  width: 60px;
  flex-grow: 0;
  margin: 0px 5px;
}

select.admin_timestamp_minute {
  width: 60px;
  flex-grow: 0;
  margin-left: 5px;
}

.view_header {
  margin: 0 auto;
  max-width: 600px;
  padding-bottom: 5px;
  padding-left: 15px;
  display: flex;
  align-items: flex-start;
}

.view_header_icon {
  width: 35px;
  margin-right: 10px;
}

.view_header_name {
  font-weight: 500;
  flex-grow: 10;
  font-size: 1.3rem;
  line-height: 1.3em;
}

.view_header_subname {
  font-size: 1rem;
  line-height: 1.3em;
  color: @gray;
  display: block;
}

.view_header_tabs {
  flex-shrink: 0;
}

.view_name {
  font-size: 1rem;
  margin-left: 0px;
  padding: 10px 10px 5px 10px;
  display: flex;
}

.view_name_icon {
  width: 15px;
  margin-right: 5px;
}

.view_name:first-child {
  border-top: none;
}

.view_content {
  clear: both;
  padding: 0px 10px 0px 10px;
  word-wrap: break-word;
  color: @gray;
}

.view_content:last-child {
  margin-bottom: 10px;
}

.view_content:empty {
  display: none;
}

.admin_item_view_place {
  height: 200px;
}

.progress {
  padding: 5px;
  margin: 0px auto;
  line-height: 100px;
  display: block;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  border: 5px solid @baseColor;
  border-top: 5px solid @baseColorBackground;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  animation: spin_animation 700ms ease-in-out infinite;
}

@keyframes spin_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.admin_preview {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 0px -10px;
  font-size: 1rem;
  line-height: 1.4em;

  display: flex;
  align-items: center;
}

.admin_preview_image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fafafa;
  border: 1px solid #eee;
  align-self: flex-start;
}

.admin_preview_right {
  flex-grow: 2;
  flex-shrink: 2;
}

.admin_preview_description {
  font-size: 0.9rem;
  line-height: 1.4em;
  color: @gray;
  overflow-wrap: anywhere;
}

.admin_item_relation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_item_relation .admin_item_relation_preview {
  flex-grow: 2;
}

.admin_item_relation_change {
  margin: 10px 0px;
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
}

.admin_item_relation_change_btn {
  display: inline-block;
  width: 40px;
  text-align: center;
  margin: 10px 10px;
  background: white;
  color: @red;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 300px;
  font-weight: bold;
}

.admin_item_relation_picker {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.admin_item_relation_picker_suggestions {
  position: relative;
}

.admin_item_relation_picker_suggestions_content {
  position: absolute;
  top: 0px;
  z-index: 20;
  background-color: white;
  margin-bottom: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  .shadow;
  width: 400px;
}

.admin_item_relation_picker_suggestion {
  box-shadow: none;
  margin: 0px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  border-radius: 0px;
}

.admin_item_relation_picker_suggestion:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}

.admin_item_relation_picker_suggestion-selected {
  background-color: @baseColorBackgroundLighter;
}

.admin_stats_pie canvas {
  margin: 0 auto;
}

.admin_nologin_logo {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.help_icons {
  display: flex;
  flex-wrap: wrap;
}

.help_icon {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  width: 150px;
  height: 70px;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
}

.help_icon:hover {
  background-color: #fafafa;
}

.help_icon_img {
  width: 50px;
  margin-right: 5px;
  flex-shrink: 0;
}

.help_icon_name {
  font-size: 0.8rem;
  line-height: 1.2em;
  flex-grow: 10;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}
