@use "../variables.scss" as *;


.map_picker {

}

.map_picker_map {
  height: 300px;
  background-color: $backgroundGrayColor;
}

.map_picker_status {
  display: flex;
  gap: 10px;
  padding: 3px 5px;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  color: $gray;
  font-size: .9rem;
  line-height: 1.3em;
}

.map_picker_description {
  flex-grow: 10;
}

.admin_markdown textarea {
  margin-top: 5px;
  white-space: pre-wrap;
}

.admin_markdown_header {

}

.admin_markdown_preview {
  margin-top: 5px;
  background: white;
  border: 1px dashed #e5e5e5;
  padding: 5px;
  font-size: 0.9em;
  line-height: 1.4em;
  color: #333;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: auto;
}

.admin_timestamp {
  display: inline-flex;
  align-items: center;
}

select.admin_timestamp_date {
  width: 150px;
  flex-grow: 0;
}

select.admin_timestamp_hour {
  width: 60px;
  flex-grow: 0;
  margin: 0px 5px;
}

select.admin_timestamp_minute {
  width: 60px;
  flex-grow: 0;
  margin-left: 5px;
}

.view {
  //border: 1px solid red;
}

.view_header {
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
}

.view_header_icon {
  width: 40px;
  aspect-ratio: 1;
  margin-right: 10px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: $backgroundGrayColor;
  border-radius: 5px;
}

.view_header_name {
  font-weight: 500;
  flex-grow: 10;
  font-size: 1rem;
  line-height: 1.3em;
}

.view_header_subname {
  font-size: .9rem;
  line-height: 1.3em;
  color: $gray;
  display: block;
}

.view_header_tabs {
  flex-shrink: 0;
}

.view_name {
  font-size: 1rem;
  margin-left: 0px;
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
}

@media (min-width: 700px) {
  .view_name:has(.view_name_icon) {
    margin-left: -20px;
  } 
}

.view_name_icon {
  width: 15px;
  margin-right: 5px;
}

.view_edit { 
  font-size: .8rem;
  margin-left: 5px;
  opacity: 0;
  padding: 0px 3px;
  display: inline-flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  border-radius: 3px;
  background-color: $backgroundGrayColor;

  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     
}

@media (hover: hover) {
  .view:hover .view_edit {
    opacity: 1;
  }
}

.view_edit_icon {
  aspect-ratio: 1;
  width: 13px;
  border-radius: 5px;
}

.view_content {
  clear: both;
  padding: 0px 10px 0px 10px;
  word-wrap: break-word;
  color: $gray;
}

.view_content:last-child {
  margin-bottom: 10px;
}

.view_content:empty {
  display: none;
}

.admin_item_view_place {
  height: 200px;
}

.progress {
  padding: 5px;
  margin: 0px auto;
  line-height: 100px;
  display: block;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  border: 5px solid $baseColor;
  border-top: 5px solid $baseColorBackground;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  animation: spin_animation 700ms ease-in-out infinite;
}

@keyframes spin_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.admin_item_relation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.relation_message {
  padding: 5px 5px;
  color: $gray;
}

.relation_button {
  display: block;
  margin: 5px 5px;
  justify-content: center;
  width: calc(100% - 10px);
  
  position: sticky !important;
  bottom: 5px !important;
  left: 0px !important;
}

.admin_relation_previews {
  border: 0px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.admin_relation_preview {
  display: flex;
}

.admin_relation_preview:first-child .admin_relation_preview_action-up {
  display: none;
}

.admin_relation_preview:last-child .admin_relation_preview_action-down {
  display: none;
}

.admin_relation_preview_action {
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  align-self: center;
  background: white;
  color: $gray;
  width: 30px;
  aspect-ratio: 1;
  flex-shrink: 0;
  line-height: 30px;
  border-radius: 300px;
  font-size: 1.3rem;
  line-height: 30px;
  font-weight: bold;
  background-color: $backgroundGrayColor;
  cursor: pointer;
}

.admin_relation_preview_action:hover {
  background-color: $hoverColor;
}

.admin_relation_preview_action:active {
  background-color: $activeColor;
}

.admin_item_relation_picker {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.admin_item_relation_picker_suggestions {
  position: relative;
  z-index: 100000;
}

.admin_item_relation_picker_suggestions_content {
  position: absolute;
  top: 0px;
  z-index: 100000;
  background-color: white;
  margin-bottom: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  @include shadow;
  width: 400px;
  max-height: 300px;
  overflow: auto;
  //border: 1px solid red;
}

.admin_item_relation_picker_suggestion {
  box-shadow: none;
  margin: 0px !important;
  //border-bottom: 1px solid #eee;
  cursor: pointer;
  border-radius: 0px;
}

.admin_item_relation_picker_suggestion:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: none;
}

.admin_item_relation_picker_suggestion-selected {
  background-color: $baseColorBackgroundLighter;
}

.admin_stats_pie canvas {
  margin: 0 auto;
}

.help_icons {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 5px;
}

.help_icon {
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  width: 150px;
  height: 70px;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  cursor: default;
}

.help_icon:hover {
  background-color: $hoverColor;
}

.help_icon:active {
  background-color: $activeColor;
}

.help_icon_img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  flex-shrink: 0;
}

.help_icon_name {
  font-size: 0.8rem;
  line-height: 1.2em;
  flex-grow: 10;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.fileview {

}

.fileview_preview {
  display: block;
  aspect-ratio: 16/9;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: $backgroundGrayColor !important;
  background-color: black !important;
  //border-radius: 3px;
  //border: 10px solid $backgroundGrayColor;
  border: 20px solid black;
}

@media print {
  body {
    background: none !important;
  }

  /** {
    background: none !important;
    box-shadow: none !important;
  }*/
}