@use "../variables.scss" as *;


.map_picker {

}

.map_picker_map {
  height: 250px;
  background-color: white;
}

.map_picker_status {
  display: flex;
  gap: 10px;
  padding: 3px 5px;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  color: $gray;
  font-size: .9rem;
  line-height: 1.3em;
}

.map_picker_description {
  flex-grow: 10;
}

.input_timestamp {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

select.input_timestamp_date {
  width: 150px;
  flex-grow: 0;
}

select.input_timestamp_hour {
  min-width: 50px !important;
  flex-grow: 0;
  //margin: 0px 5px;
}

select.input_timestamp_minute {
  min-width: 50px !important;
  flex-grow: 0;
}


.progress {
  padding: 8px;
  margin: 0px auto;
  line-height: 100px;
  display: block;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  border: 4px solid var(--baseColor);
  border-top: 4px solid var(--baseColorBackground);
  border-radius: 50%;
  width: 0px;
  height: 0px;
  animation: spin_animation 700ms ease-in-out infinite;
}

.error_message {
  color: $red;
  padding: 8px 16px;
  font-size: 1.5rem;
  background-color: $redBackground;
  background: $red;
  color: white;
  border: 1px solid $red;
  font-weight: thin;
  line-height: 1.3em;
  margin: 8px auto;
  border-radius: 16px;
  @include softShadow;
  max-width: min(500px, calc(100% - 32px));

}

@keyframes spin_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.help_icons {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 5px;
}

.help_icon {
  display: flex;
  align-items: center;
  border: 1px solid $grayBorderColor;
  width: 150px;
  height: 70px;
  padding: 2px;
  margin: 2px;
  border-radius: 10px;
  background-color: white;
  justify-content: space-between;
  cursor: pointer;
}

.help_icon:hover {
  border-color: $baseColor;
  background-color: $hoverColor;
}

.help_icon:active {
  background-color: $activeColor;
}

.help_icon_img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  flex-shrink: 0;
}

.help_icon_name {
  font-size: 0.8rem;
  line-height: 1.2em;
  flex-grow: 10;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

@media print {
  body {
    background: none !important;
  }
}