.board {
}

.board_name {
  padding: 0px 10px;
  margin: 0px;
  display: flex;
  align-items: center;
}


.board_icon {
  width: 20px;
  aspect-ratio: 1;
  margin-right: 10px;
}

.board_name_text {
  border: 0px solid red;
}

.board_resources {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

@keyframes board_resource {
  0% {
    opacity: 0;
    transform: perspective(5cm) rotateY(30deg);
  }
  100% {
    opacity: 1;
  }
}

.board_resource {
  padding: 5px 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  line-height: 1.3em;
  font-weight: 500;
  background-color: $backgroundGrayColor;
}


a.board_resource {
  text-decoration: none;
}

.board_resource_icon {
  width: 20px;
  aspect-ratio: 1;
  border: 0px solid red;
}

.board_resource_left {
  border: 0px solid green;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 5px;
  min-width: 20px;
}

.board_resource_right {
  flex-grow: 10;
  flex-shrink: 10;
  border: 0px solid red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes board_user {
  0% {
    opacity: 0.3;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
  }
}
