.board {
}

.board_name {
  padding: 0px 10px;
}

.board_icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.board_logo {
  border: 0px solid red;
  height: 100px;
  width: 200px;
  margin: 10px auto;
  margin-bottom: 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.board_resources {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 10px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 5px 5px;
}

@keyframes board_resource {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  100% {
    opacity: 1;
  }
}

.board_resource {
  padding: 5px;
  border-radius: 10px;
  background: white;
  border: 1px solid #eee;
  display: flex;
  align-items: center;

  animation: board_resource 500ms ease-out;
  animation-fill-mode: both;
}

.board_resource-isboard {
  font-weight: 500;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 1), 2px 2px 0px rgba(0, 0, 0, 0.9),
    3px 3px 0px rgba(255, 255, 255, 1), 4px 4px 0px rgba(0, 0, 0, 0.9);

  //border-color: #ddd;
  //background-color: @baseColorBackgroundLighter;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
  //border-width: 2px;
  //box-shadow: none;
  transform: scale(1.01);
  z-index: 10;
}

a.board_resource:hover {
  border-color: $baseColor;
}


a.board_resource {
  text-decoration: none;
}

.board_resource_icon {
  width: 20px;
  height: 20px;
  border: 0px solid red;
}

.board_resource_left {
  border: 0px solid green;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 5px;
  min-width: 20px;
}

.board_resource_right {
  flex-grow: 10;
  flex-shrink: 10;
  border: 0px solid red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes board_user {
  0% {
    opacity: 0.3;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
  }
}

.board_user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px auto;
  max-width: 600px;
  margin-top: 30px;
  color: $gray;

  //display: none;
}

.board_user_text {
  padding: 20px 10px;
  font-size: 1.3rem;
  line-height: 1.3em;
  text-align: center;
  animation: board_user 2000ms ease-out;
}

.board_user_buttons {
  padding: 0px 10px;
  align-self: center;
  flex-wrap: wrap;
}
