@use "../variables.scss" as *;

.breadcrumbs {
    border: 0px solid red;
    display: flex;
    gap: 5px;
    flex-grow: 100;
    align-items: center;
    min-width: 0;
    flex-shrink: 1000;
}

.breadcrumb {
    text-decoration: none;
    color: $black;
    font-weight: 500;
    padding: 3px 5px;
    border-radius: 3px;
    display: flex;
    gap: 5px;
    flex-shrink: 100;
    min-width: 0;
    //background-color: $backgroundGrayColor;
    //display: none;
}

@media (min-width: 1100px) {
    .breadcrumb-logo {
        width: 290px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .breadcrumb-logo .breadcrumb_text {
        display: block !important;
    }
}

.breadcrumb-logo .breadcrumb_text {
    //font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.3em;
    padding: 0px 5px;
    display: none;
}

.breadcrumb_logo {
    height: 40px;
    aspect-ratio: 1;
    object-fit: contain;
    //border: 1px solid #eee;
    border-radius: 3px;
}

.breadcrumb_badge {
    height: 20px;
    aspect-ratio: 1;
    display: flex;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    border: 0px solid red;
    background-color: $backgroundGrayColor;
    z-index: 2;
}

.breadcrumb_badge_image {
    position: absolute;
    inset: 0;
    object-fit: cover;
    aspect-ratio: 1;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

.breadcrumb_badge_icon {
    width: 100%;
    aspect-ratio: 1;
}

.breadcrumb_text {
    overflow: hidden;
    white-space: nowrap;
    text-wrap: nowrap;
    flex-shrink: 10000;
    text-overflow: ellipsis;
    min-width: 0;
}