.dashboard {
  //margin: 5px;
  max-width: 100vw;
}

.dashboard_name {
  padding: 0px 10px;
}

.dashboard_figures {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.dashboard_figure {
  padding: 5px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

a.dashboard_figure:hover {
  border-color: $baseColor;
}

a.dashboard_figure {
  text-decoration: none;
}

.dashboard_figure_icon img {
  width: 20px;
}

.dashboard_figure_name {
  color: $black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a .dashboard_figure_value {
  color: $baseColor;
  //color: red;

}

.dashboard_figure_value {
  font-size: 1.3rem;
  line-height: 1.3em;
  font-weight: 500;
  color: $black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dashboard_figure_description {
  color: $gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  //font-size: 0.9rem;
  //line-height: 1.3em;
}

.dashboard_figure-green .dashboard_figure_description {
  color: $green;
}

.dashboard_figure-red .dashboard_figure_description {
  color: $red;
}

.dashboard_figure_loader {
  position: absolute;
  top: 20px;
  left: 10px;
  right: 10px;
  display: none;
}

.dashboard_figure-loading .dashboard_figure_loader {
  display: inline-block;
}

.dashboard_figure-loading > :not(.dashboard_figure_loader) {
  filter: blur(1px);
  opacity: 0.8;
}

.dashboard_table {
  border: 0px solid red;
  overflow-x: auto;
  width: 100%;
  margin: 0px;
  padding: 0px 10px;
}

@media (max-width: 800px) {
  .dashboard_figure {
    min-height: 30px;
    font-size: 0.9rem;
    line-height: 1.3em;
  }
}

