.filter_relations {
  position: relative;
}

.filter_relations_search_input {
  position: relative;
  z-index: 2;
}

.filter_relations_suggestions {
  position: absolute;
  left: 0px;
  background: white;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 300px;
  max-width: 400px;
  z-index: 100;
  border-radius: 0px 0px 10px 10px;
}

.filter_relations_suggestions:empty {
  box-shadow: none !important;
}

.filter_relations_suggestions-empty {
  box-shadow: none !important;
}

.filter_relations_search:focus-within .filter_relations_suggestions {
  display: block;
}

.filter_relations_preview {
  font-size: 0.9rem;
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 15px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.filter_relations_preview_image {
  width: 10px;
  border: 1px solid #eee;
  background-color: #fafafa;
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  margin-right: 3px;
  background-size: cover;
}

.filter_relations_preview_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 10;
  font-size: 0.9rem;
  line-height: 1.1em;
}

.filter_relations_preview_close {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  padding: 2px;
  cursor: pointer;
  flex-shrink: 0;
}

.filter_relations_preview_close:hover {
  background-color: @baseColorBackground;
}

.filter_relations_preview_close:active {
  background-color: @baseColorBackground;
  background-color: @baseColorBackgroundLighter;
}

.filter_relations_preview_close::after {
  content: "✕";
}

.list_filter_suggestion {
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  font-size: 1rem;
  line-height: 1.4em;

  display: flex;
  align-items: center;
  cursor: pointer;
}

.list_filter_suggestion:hover {
  background: @baseColorBackgroundLighter;
}

.list_filter_suggestion:active {
  background: @baseColorBackground;
}

.list_filter_suggestion_image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #fafafa;
  border: 1px solid #eee;
  align-self: flex-start;
}

.list_filter_suggestion_right {
  flex-grow: 2;
  flex-shrink: 2;
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.4em;
}

.list_filter_suggestion_description {
  color: @gray;
}
