.btn {
  font-size: 0.9rem;
  line-height: 1.2em;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  //background-color: #eee;
  //background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  //background-image: linear-gradient(#fcfcfc, #eee);
  background: $backgroundGrayColor;
  border: 1px solid $grayBorderColor;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  outline: none;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;

  display: inline-flex;
  align-items: center;
  position: relative;

  padding: 3px 5px;
  gap: 5px;
  font-size: 12px;
}

.btn_icon {
  width: 15px;
  aspect-ratio: 1;
  margin-right: 5px;
}

.btn_icon:last-child {
  margin-right: 0px;
}

.btngroup {
  display: inline-flex;
}

.btngroup .btn:last-child:hover:has(.btn_more) {
  border-bottom-right-radius: 0px;
}

.btngroup > .btn:not(:last-child) {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btngroup > .btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn:hover {
  background: $hoverColor;
}

.btn:active {
  background: $activeColor;
}

.primarybtncontainer {
  text-align: right;
}

.btn-accented {
  background: linear-gradient(#42a1ec, #0070c9);
  color: white;
  border-color: #1e90ff;
  font-weight: 500;
}

.btn-accented:hover {
  background-color: #147bcd;
  background: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  outline: none;
}

.btn-accented:active {
  background-color: #0067b9;
  background: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.btn-primary {
  background: linear-gradient(#42a1ec, #0070c9);
  color: white;
  border-color: #1e90ff;
  font-weight: 500;
  display: block;
  font-size: 1rem;
  line-height: 1.9em;
  width: 100%;
}

.btn-primary:after {
  font-weight: normal;
}

.btn-primary:hover {
  background-color: #147bcd;
  background: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  outline: none;
}

.btn-primary:active {
  background-color: #0067b9;
  background: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.btn-delete,
.btn-delete:hover,
.btn-delete:active {
  //border: 1px solid red;
  //color: white;
  //background: linear-gradient(#dd2e4f, #dd2e4f);
  //background: linear-gradient(#dd2e4f, red);
  background: linear-gradient(rgba(255, 0, 0, .2), rgba(255, 0, 0, .1));
}

.btn-delete:hover,
.btn-delete:active {
  background: linear-gradient(rgba(255, 0, 0, .2), rgba(255, 0, 0, .2));
}

.form {
  padding: 0px 10px;
}

.form_errors_error {
  border: 1px solid #dd2e4f;
  color: #dd2e4f;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}

.form_label {
  display: block;
  margin: 15px 0px;
}

.form_label:first-of-type {
  margin-top: 0px;
}

.form_label:last-child {
  margin-bottom: 0px;
}

.form_label-required input,
.form_label-required select {
  border-width: 2px;
}

.form_label-hidden {
  display: none;
}

.form_label_text {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0px 0px 5px 0px;
  display: flex;
  align-items: center;
}

.form_label_text_icon {
  width: 15px;
  aspect-ratio: 1;
  margin-right: 5px;
}

.form_label_text_help {
  margin-left: 5px;
  border-radius: 3px;
  display: flex;
}

.form_label_text_help img {
  width: 15px;
  aspect-ratio: 1;

}

.form_label_description {
  color: #777;
  font-size: 0.8rem;
  line-height: 1.2em;
  margin: 5px 0px;
}

.form_label-errors {
  color: #dd2e4f;
}

.form_label-errors input,
.form_label-errors select,
.form_label-errors textarea {
  border-color: #dd2e4f !important;
}

.form_label_errors {
  font-size: 0.8em;
}

.form_label_text-checkbox {
  padding: 0px 5px;
}

.inputzone {
  @include inputzone;
}

.input {
  @include inputzone;
}

.input-placesearch {
  max-width: calc(100% - 200px);
  margin-left: 10px;
}

select.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding-right: 24px;
  background: #fcfcfc
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC")
    no-repeat right 8px center;
  background-size: 8px 10px;
  width: auto;
  max-width: 100%;
}

.input[readonly],
.textarea[readonly],
.input[disabled],
.textarea[disabled],
.input[readonly]:focus,
.textarea[readonly]:focus,
.input[disabled]:focus,
.textarea[disabled]:focus {
  border-color: #eee;
  background: #fcfcfc;
  color: #999;
  box-shadow: none;
}

.input:focus,
.btn:focus {
  outline: none;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(81, 167, 232, 0.5);
}

.textarea {
  min-height: 100px;
}

.form_radios {
  margin: 0px 10px;
}

.form_radio {
  margin: 5px 5px;
}

.form_progress {
  margin-bottom: 10px;
}

.form_after_content {
  padding: 0px 10px;
  overflow-x: auto;
}

.btn_more {
  display: none;
  position: absolute;
  right: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  top: 21px;
  @include shadowMedium;
  z-index: 2;
  flex-flow: column;
  background-color: white;
  clip-path: inset(0px -100px -100px -100px);
}

.btn:hover .btn_more {
  display: flex;
}

a.btn_more_item {
  padding: 5px 10px;
  text-decoration: none;
  color: $black;
  display: flex;
  align-items: center;
}

.btn_more_item_icon {
  width: 10px;
  margin-right: 5px;
}

.btn_more_item:hover {
  background-color: $baseColorBackgroundLighter;
}

.btn_more_item:active {
  background-color: $baseColorBackground;
}

