@use "../variables.scss" as *;

.btn {
  font-size: 1rem;
  line-height: 1.3em;
  color: $black;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: white;
  border: 1px solid $grayBorderColor;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  outline: none;
  text-decoration: none;
  font-weight: 500;
  border-radius: 8px;

  display: inline-flex;
  align-items: center;
  position: relative;

  padding: 4px 8px;
  gap: 8px;
  @include softShadow;
}

.btn_icon {
  width: 16px;
  aspect-ratio: 1;
}

.btn_icon:last-child {
  margin-right: 0px;
}

.btn:hover {
  background: $hoverColor;
  border-color: var(--baseColor);
}

.btn:active {
  background: $activeColor;
}

.primarybtncontainer {
  text-align: right;
}

.form_label:has(.primarybtncontainer) {
  position: sticky;
  bottom: 10px;
  z-index: 10;
  backdrop-filter: blur(3px);
}

.btn-primary {
  //background: linear-gradient(var(--baseColorDarker), var(--baseColor));
  background: linear-gradient(var(--baseColor), var(--baseColorDarker));
  background: var(--baseColor);
  color: white;
  border: none;
  font-weight: 500;
  display: block;
  font-size: 1rem;
  line-height: 1.9em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  @include softShadow;
  overflow: hidden;
}

.btn-accented {
  //color: $baseColor;
}

.btn-destroy {
  //color: $red;
}

.btn-accented:hover, .btn-accented:active, .btn-accented:focus {
  color: $baseColor;
}

.btn-destroy:hover, .btn-destroy:active, .btn-destroy:focus {
  border-color: $red !important;
  background: $redLightest;
  color: $red;
}

.form-loading .btn-primary {
  animation: savingBtn 1.3s infinite alternate ease-in-out;
}

@keyframes savingBtn {
  from {

  }

  to {
    //transform: perspective(20cm) scale(1.02) rotateX(-0deg) rotateY(0deg);
    filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.3));
  }
}

.form-loading .btn-primary::before {
  content: ""; position: absolute; inset: 0; z-index: 100;
  background: linear-gradient(100deg, transparent 30%, rgba(255,255,255,.9) 50%, transparent 70%);
  transform: translateX(-100%);
  animation: shimmerBtn 2.3s infinite ease-in-out;
}
@keyframes shimmerBtn {
  from {
  }
  to {
    transform: translateX(100%);
  }
}

.btn-primary:after {
  font-weight: normal;
}

.btn-primary:hover {
  background: var(--baseColorDarker) !important;
  outline: none;
}

.btn-primary:active {
  background: var(--baseColor) !important;
  outline: none;
}

.btn-delete,
.btn-delete:hover,
.btn-delete:active {
  //background: linear-gradient(rgba(255, 0, 0, .8), rgba(255, 0, 0, .9)) !important;
  background: $red !important;
}

.btn-delete:hover {
  //background: linear-gradient(rgba(255, 0, 0, .9), rgba(255, 0, 0, .9)) !important;
  background: $redLighter !important;
}

.btn-delete:active {
  //background: linear-gradient(rgba(255, 0, 0, .9), rgba(255, 0, 0, .9)) !important;
  background: $redLighter !important;
}

.form {
  padding: 0px 10px;
}

.form-errors {
  animation: formErrorsAnimation 500ms ease-out forwards;
}


@keyframes formErrorsAnimation {
  from {
    background-color: $redLighter;
  }

  to {
    background-color: $redLightest;
  }
}

.form_errors {
  position: sticky;
  top: 10px;
  z-index: 2;
}

.form_errors_item {
  border: 0px solid $grayBorderColor;
  font-size: 1rem;
  line-height: 1.3em;
  padding: 10px 10px;
  margin: 3px 0px;
  border-radius: 10px;
  @include shadowMedium;

  animation: formErrorsItemAnimation 200ms ease-in-out forwards;
  animation-delay: 0ms;
  opacity: 0;
}

@keyframes formErrorsItemAnimation {
  from {
    opacity: 0;
    transform: perspective(10cm) scale(.5) translateY(-0px) rotateX(-0deg);
  }

  to {
    opacity: 1;
  }
}

.form_errors_item-error {
  background-color: $red;
  color: white;
}

.form_errors_item-ok {
  background-color: $green;
  color: white;
}

.form_conflict {
  background-color: $red;
  border-radius: 8px;
  padding: 8px 8px;
  @include shadowMedium;
  color: white;
  position: sticky;
  top: 0px;
  margin: 0px 4px;
  z-index: 10;

}

.form_label {
  display: block;
  margin: 16px 0px;
}

.form_label:has(.checkbox_label) {
  margin: 0px;
}

.form_label-textover .form_label_content {
  display: none;
}

.form_label_textover {
  cursor: pointer;
}

.form_label-textoverexpanded .form_label_textover {
  display: none;
}

.form_label-textoverexpanded .form_label_content {
  display: block;
}

.form_label:first-of-type {
  margin-top: 0px;
}

.form_label:last-child {
  margin-bottom: 0px;
}

.form_label-required input,
.form_label-required select {
  //border-width: 2px;
}

.form_label_required {
 margin-left: 4px;
 font-size: 1rem;
 font-weight: bold;
 line-height: 1.3em;
 @include softShadow;
}

.form_label-hidden {
  display: none;
}

.form_label_text {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0px 0px 4px 0px;
  display: flex;
  align-items: center;
}

.form_label_text_icon {
  width: 16px;
  aspect-ratio: 1;
  margin-right: 4px;
}

.form_label_text_help {
  margin-left: 4px;
  border-radius: 4px;
  display: flex;
}

.form_label_text_help img {
  width: 16px;
  aspect-ratio: 1;

}

.form_label_description {
  color: $gray;
  font-size: 0.8rem;
  line-height: 1.2em;
  margin: 4px 0px;
}

.form_label-errors input,
.form_label-errors select,
.form_label-errors textarea {
  border-color: $red !important;
}

.form_label_errors {
  font-size: 0.9em;
  color: $red;
  padding: 2px 4px;
  //background: $redLightest;
  display: inline-block;
  border-radius: 4px;
}

.input {
  @include inputzone;
}

.input-placesearch {
  max-width: calc(100% - 200px);
  margin-left: 8px;
}

select.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding-right: 24px;
  background: white
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC")
    no-repeat right 8px center;
  background-size: 8px 10px;
  width: auto;
  min-width: 100px;
  max-width: 100%;
}

.input[type=date], .input[type=month] {
  width: auto;
  min-width: 120px;
  max-width: 100%;
  min-height: 2.5rem;
}

.input[readonly],
.textarea[readonly],
.input[disabled],
.textarea[disabled],
.input[readonly]:focus,
.textarea[readonly]:focus,
.input[disabled]:focus,
.textarea[disabled]:focus {
  border-color: $grayBorderColor;
  background: $backgroundGrayColor;
  color: $gray;
  box-shadow: none;
}

.input:focus,
.btn:focus {
  outline: none;
  border-color: var(--baseColor);
  //background-color: $hoverColor;
  @include softShadow;
}

.input:focus {
  background-color: $hoverColor;
}

.textarea {
  min-height: 4em !important;
  field-sizing: content;
}

.form_radios {
  margin: 0px 0px;
}

.form_radio {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid transparent;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 4px;
  @include softShadow;
}

.form_radio:hover {
  background-color: $hoverColor;
  border-color: var(--baseColor);
}

.form_radio:active {
  background-color: $activeColor;
}

.form_radio_image {
  object-fit: cover;
  width: 40px;
  border-radius: 4px;
  @include softShadow;
  aspect-ratio: 1;
}

.form_radio_content {
  flex-grow: 1000;
}

.form_radio_btn {
  flex-shrink: 0;
}

.form_radio_prename, .form_radio_postname {
  font-size: .8rem;
  line-height: 1.3em;
}

.form_progress {
  margin-bottom: 8px;
}

.form_after_content {
  padding: 0px 8px;
  overflow-x: auto;
}


.checkbox_label {
  display: flex;
  gap: 4px;
  align-items: center;
  border: 1px solid transparent;
  padding: 4px 4px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: -4px;

}

.checkbox_label:hover {
  background-color: $hoverColor;
}

.checkbox_label:active {
  background-color: $activeColor;
}

.checkbox_label .form_label_description {
  font-size: .7rem;
  line-height: 1.3em;
  margin: 0px;
  padding: 0px;
}

.input[type=number] {
  max-width: 200px;

 }

.form_task {
  padding: 0px 10px;
  margin: 0px 10px;
  background-color: $backgroundGrayColor;
  border-radius: 5px;
}

.form_task_header {
  display: flex;
  gap: 10px;
  flex-wrap: 10px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
}

.form_task_progress {
  appearance: none; /* Removes default styling */
  width: min(100%, 100px);
  height: 10px;
  overflow: hidden;
  border-radius: 10px;
}

/* The background (Firefox) */
.form_task_progress::-moz-progress-bar {
  background-color: var(--baseColorBackground);
  border-radius: 10px;
}

/* The background (Chrome, Safari, Edge) */
.form_task_progress::-webkit-progress-bar {
  background-color: var(--baseColorBackground);
  border-radius: 10px;
}

/* The actual "fill" (Chrome, Safari, Edge) */
.form_task_progress::-webkit-progress-value {
  //background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  background: var(--baseColor);
  border-radius: 10px;
}

.form_task_progress_text {
  width: 60px;
  text-align: right;
  //font-family: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
  font-family: 
    'SFMono-Regular', 
    Consolas, 
    'Liberation Mono', 
    Menlo, 
    Courier, 
    monospace;
  color: $gray;
  font-size: .8rem;
  line-height: 1.3em;
}

.form_task_status {
  //text-align: center;
  padding: 0px 0px 4px 0px;
  white-space: pre-wrap;
  text-align: center;
  color: $gray;
  font-size: 0.9rem;
  line-height: 1.3em;
}

@media print {
  .prago_form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5px;
  }

  .form_label {
    margin: 0px;
  }

  .form_label_text_icon {
    display: none;
  }

  .form_label_text {
    margin-left: 0px !important;
  }

  .form_input {
    box-shadow: none;
    padding: 2px 1px !important;
    font-size: .8rem;
    line-height: 1.3em;
    min-height: 0px !important;
  }

  .input[type=date].form_input {
    min-height: 0px !important;
  }


  .form_label:has(.btn-primary) {
    display: none;
  }
}
