@use "../variables.scss" as *;

.form_daterange {
    //border: 1px solid red;
    gap: 4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.form_daterange_inner {
    border: 1px solid $grayBorderColorDarker;
    flex-wrap: wrap;
    gap: 4px;
    background-color: white;
    border-radius: 8px;
    padding: 0px 4px;
    display: flex;
    align-items: center;
}


.form_daterange_inner:focus-within {
    border: 1px solid $baseColor;
}

.form_input-from, .form_input-to {
    border: none;
    box-shadow: none;
    outline: none;
    min-width: 20px !important;
    max-width: 100px !important;
}

.form_daterange_calendar {
    border: none;
    box-shadow: none;
    padding: 4px;
}

.form_daterange_arrow {
    width: 16px;
    aspect-ratio: 1;
    margin: 0px 16px;
    //border: 1px solid red;
}