.admin_form_table {
  border: 0px solid red;
}

.admin_form_table table {
  background-color: white;
  min-width: 100%;
  margin: 0px auto;
  border-left: 1px solid #eee;
  border: 1px solid #eee;
}

.admin_form_table tr:nth-child(even) {
  background-color: #fafafa;
}

.admin_form_table td {
  padding: 5px 10px;
  border-top: 1px solid #eee;
}

.admin_form_table tr:last-child {
  border-bottom: 1px solid #eee;
}

.admin_form_table_header {
  font-weight: bold;
}

.admin_form_table_footer {
  padding: 5px 10px;
  color: @gray;
}
