@use "../variables.scss" as *;

.form_table {
  border: 0px solid red;
  margin-top: 5px;
}

.form_table table {
  background-color: white;
  min-width: 100%;
  margin: 0px auto;
  border-left: 1px solid #eee;
  border: 1px solid #eee;
}

.form_table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  vertical-align: top;
}

.form_table tr:last-child {
  border-bottom: 1px solid #eee;
}

.form_table_footer {
  padding: 5px 0px;
  color: $gray;
}

.form_table_cell {
}

.form_table_cell-center {
  text-align: center;
}

.form_table_cell-right {
  text-align: right;
}

.form_table_cell-nowrap {
  white-space: nowrap;
}

.form_table_cell-green {
  background-color: palegreen;
}

.form_table_cell-orange {
  background-color: orange;
}

.form_table_cell-red {
  background-color: palevioletred;
}

.form_table_cell-header {
  font-weight: bold;
}

.form_table_cell-pre {
  font-family: monospace;
  white-space: nowrap;
}

.form_table_cell_descriptionbefore, .form_table_cell_descriptionafter {
  font-size: .8em;
  line-height: 1.3em;
  font-weight: normal;
  color: #444;
  user-select: none;
}

.form_table_cell a {
  text-decoration: none;
}

.form_table_cell_textafter {
  color: #999;
  font-size: .8em;
  line-height: 1.3em;
  font-weight: normal;
  color: #999;
  font-style: italic;

  max-width: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  //border: 1px solid red;
  text-overflow: ellipsis;
}

.form_table_cell_files {
  //border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 0px;
}

.form_table_cell_file {
  border: 1px solid $grayBorderColor;
  @include shadowMedium;
  border-radius: 5px;
  width: 100px;
  aspect-ratio: 16/9;
  background-color: $backgroundGrayColor;
  background-position: center;
  background-size: cover;
}


@media print {
  .form_table td {
    padding: 0px 1px;
    font-size: .9rem;
    line-height: 1.3em;
  }

  .form_table_cell .btn {
    display: none;
  }
}