@use "../variables.scss" as *;

.btn {
  font-size: 1rem;
  line-height: 1.3em;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  //background-color: #eee;
  //background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  //background-image: linear-gradient(#fcfcfc, #eee);
  background: $backgroundGrayColor;
  border: 1px solid $grayBorderColor;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  outline: none;
  text-decoration: none;
  font-weight: 500;
  border-radius: 5px;

  display: inline-flex;
  align-items: center;
  position: relative;

  padding: 5px 7px;
  gap: 7px;
}

.btn_icon {
  width: 15px;
  aspect-ratio: 1;
  //margin-right: 5px;
}

.btn_icon:last-child {
  margin-right: 0px;
}

.btngroup {
  display: inline-flex;
}

.btngroup .btn:last-child:hover:has(.btn_more) {
  border-bottom-right-radius: 0px;
}

.btngroup > .btn:not(:last-child) {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btngroup > .btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.btn:hover {
  background: $hoverColor;
}

.btn:active {
  background: $activeColor;
}

.primarybtncontainer {
  text-align: right;
}

.form_label:has(.primarybtncontainer) {
  position: sticky;
  bottom: 10px;
  z-index: 10;
  //backdrop-filter: blur(10px);
  backdrop-filter: blur(3px);
  //background-color: red;
  //padding: 10px 0px;
}

.btn-accented {
  background: linear-gradient(#42a1ec, #0070c9);
  color: white;
  border-color: #1e90ff;
  font-weight: 500;
}

.btn-accented:hover {
  background-color: #147bcd;
  background: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  outline: none;
}

.btn-accented:active {
  background-color: #0067b9;
  background: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.btn-primary {
  background: linear-gradient(#42a1ec, #0070c9);
  color: white;
  border-color: #1e90ff;
  font-weight: 500;
  display: block;
  font-size: 1rem;
  line-height: 1.9em;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-primary:after {
  font-weight: normal;
}

.btn-primary:hover {
  background-color: #147bcd;
  background: linear-gradient(#51a9ee, #147bcd);
  border-color: #1482d0;
  outline: none;
}

.btn-primary:active {
  background-color: #0067b9;
  background: linear-gradient(#3d94d9, #0067b9);
  border-color: #006dbc;
  outline: none;
}

.btn-delete,
.btn-delete:hover,
.btn-delete:active {
  background: linear-gradient(rgba(255, 0, 0, .8), rgba(255, 0, 0, .9));
}

.btn-delete:hover,
.btn-delete:active {
  background: linear-gradient(rgba(255, 0, 0, .9), rgba(255, 0, 0, .9));
}

.form {
  padding: 0px 10px;
}

.form-errors {
  animation: formErrorsAnimation 500ms ease-out forwards;
}


@keyframes formErrorsAnimation {
  from {
    background-color: $redLighter;
  }

  to {
    background-color: $redLightest;
  }
}

.form_errors {
  position: sticky;
  top: 10px;
  z-index: 2;
}

.form_errors_item {
  border: 0px solid $grayBorderColor;
  //background-color: $baseColorBackground;
  //color: $red;
  font-size: 1rem;
  line-height: 1.3em;
  padding: 10px 10px;
  //font-weight: 500;
  //text-align: center;
  border-radius: 1000px;
  @include shadowMedium;

  animation: formErrorsItemAnimation 200ms ease-in-out forwards;
  animation-delay: 0ms;
  opacity: 0;
}

@keyframes formErrorsItemAnimation {
  from {
    opacity: 0;
    transform: perspective(10cm) scale(.5) translateY(-0px) rotateX(-0deg);
  }

  to {
    opacity: 1;
  }
}

.form_errors_item-error {
  //border: 1px solid $red;
  //background-color: $baseColorBackground;
  //color: $red;
  background-color: $red;
  color: white;
  //padding: 5px;
  //text-align: center;
  //border-radius: 3px;
  //@include shadowMedium;
}

.form_errors_item-ok {
  //border: 1px solid $green;
  //background-color: $baseColorBackground;
  background-color: $green;
  color: white;
  //padding: 5px;
  //text-align: center;
  //border-radius: 3px;
  //@include shadowMedium;
}

.form_label {
  display: block;
  margin: 15px 0px;
}

.form_label-textover .form_label_content {
  display: none;
}

.form_label_textover {
  cursor: pointer;
}

.form_label-textoverexpanded .form_label_textover {
  display: none;
}

.form_label-textoverexpanded .form_label_content {
  display: block;
}

.form_label:first-of-type {
  margin-top: 0px;
}

.form_label:last-child {
  margin-bottom: 0px;
}

.form_label-required input,
.form_label-required select {
  border-width: 2px;
}

.form_label-hidden {
  display: none;
}

.form_label_text {
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0px 0px 5px 0px;
  display: flex;
  align-items: center;
}

@media (min-width: 700px) {
  .form_label_text:has(.form_label_text_icon) {
    margin-left: -20px;
  } 
}

.form_label_text_icon {
  width: 15px;
  aspect-ratio: 1;
  margin-right: 5px;
}

.form_label_text_help {
  margin-left: 5px;
  border-radius: 3px;
  display: flex;
}

.form_label_text_help img {
  width: 15px;
  aspect-ratio: 1;

}

.form_label_description {
  color: #777;
  font-size: 0.8rem;
  line-height: 1.2em;
  margin: 5px 0px;
}

.form_label-errors input,
.form_label-errors select,
.form_label-errors textarea {
  border-color: #dd2e4f !important;
}

.form_label_errors {
  font-size: 0.8em;
  color: #dd2e4f;
}

.form_label_text-checkbox {
  padding: 0px 5px;
}

.input {
  @include inputzone;
}

.input-placesearch {
  max-width: calc(100% - 200px);
  margin-left: 10px;
}

select.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding-right: 24px;
  background: #fcfcfc
    url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAADFBMVEUzMzMzMzMzMzMzMzMKAG/3AAAAA3RSTlMAf4C/aSLHAAAAPElEQVR42q3NMQ4AIAgEQTn//2cLdRKppSGzBYwzVXvznNWs8C58CiussPJj8h6NwgorrKRdTvuV9v16Afn0AYFOB7aYAAAAAElFTkSuQmCC")
    no-repeat right 8px center;
  background-size: 8px 10px;
  width: auto;
  min-width: 100px;
  max-width: 100%;
}

.input[type=date] {
  width: auto;
  min-width: 120px;
  max-width: 100%;
  min-height: 2.5rem !important;
}

.input[readonly],
.textarea[readonly],
.input[disabled],
.textarea[disabled],
.input[readonly]:focus,
.textarea[readonly]:focus,
.input[disabled]:focus,
.textarea[disabled]:focus {
  border-color: #eee;
  background: #fcfcfc;
  color: #999;
  box-shadow: none;
}

.input:focus,
.btn:focus {
  outline: none;
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(81, 167, 232, 0.5);
}

.textarea {
  min-height: 100px !important;
}

.form_radios {
  margin: 0px 10px;
}

.form_radio {
  margin: 5px 5px;
}

.form_progress {
  margin-bottom: 10px;
}

.form_after_content {
  padding: 0px 10px;
  overflow-x: auto;
}

.btn_more {
  display: none;
  position: absolute;
  right: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  top: 21px;
  @include shadowMedium;
  z-index: 2;
  flex-flow: column;
  background-color: white;
  clip-path: inset(0px -100px -100px -100px);
}

.btn:hover .btn_more {
  display: flex;
}

a.btn_more_item {
  padding: 5px 10px;
  text-decoration: none;
  color: $black;
  display: flex;
  align-items: center;
}

.btn_more_item_icon {
  width: 10px;
  margin-right: 5px;
}

.btn_more_item:hover {
  background-color: $baseColorBackgroundLighter;
}

.btn_more_item:active {
  background-color: $baseColorBackground;
}


.checkbox_label {
  //border: 1px solid red;
  display: flex;
  gap: 5px;
  align-items: center;
}

.checkbox_label .form_label_description {
  font-size: .7rem;
  line-height: 1.3em;
  margin: 0px;
  padding: 0px;
}

@media print {
  .prago_form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5px;
  }

  .form_label {
    margin: 0px;
  }

  .form_label_text_icon {
    display: none;
  }

  .form_label_text {
    margin-left: 0px !important;
  }

  .form_input {
    box-shadow: none;
    padding: 2px 1px !important;
    font-size: .8rem;
    line-height: 1.3em;
    min-height: 0px !important;
  }

  .input[type=date].form_input {
    min-height: 0px !important;
  }


  .form_label:has(.btn-primary) {
    display: none;
  }
}
