.admin_layout {
  width: 100%;
  height: 100vh;
  display: flex;
}

.admin_layout_left {
  overflow: auto;
  width: 300px;
  box-shadow: inset -10px -10px 30px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}

.admin_layout_right {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.admin_header {
  padding-bottom: 0px;
  position: relative;
  z-index: 2;
  line-height: 1.6em;
  flex-grow: 0;
  flex-shrink: 0;
  background: white;
  display: block;
}

.admin_header_container {
  display: flex;
}

.admin_header_container_left {
  padding: 0px 5px;
  display: none;
}

.admin_bottom {
  display: flex;
  flex-shrink: 10;
  flex-grow: 400;
  min-height: 0px;
}

.admin_header-scrolled {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
}

.admin_header a {
  text-decoration: none;
}

.admin_content {
  flex-grow: 10;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: auto;
  width: 10px;
}

@media (max-width: 800px) {
  .admin_header {
    box-shadow: none;
    background: none;
  }

  .admin_header_right {
    padding: 0px 5px 3px 5px;
  }

  .admin_layout {
    height: auto;
  }

  .admin_bottom {
    flex-direction: column;
    flex-grow: 10;
  }

  .admin_header_resources {
    flex-direction: row;
    width: 100%;
    margin-right: 0px;
    padding-right: 10px;
    flex-wrap: wrap;
    flex-grow: 0;
    align-items: center;
    padding: 5px;

    display: none;
  }

  a.admin_header_resource {
    padding: 3px 3px;
    margin: 2px 3px;
    border-radius: 3px;
  }

  .admin_content {
    width: auto;
  }
}
