.admin_home {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 10px 5px;
}

.admin_home_item {
  margin: 3px;
  padding: 5px 10px;
  border-radius: 2px;
  .shadow;
  //.animated;
  //.fadeIn;
  animation-iteration-count: 1;
}

a.admin_home_item {
  text-decoration: none;
}
