@use "../variables.scss" as *;

.imageview {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  
  .imageview_image {
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    aspect-ratio: 16/9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    display: inline-block;
    position: relative;
    border: none;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 0px;
    justify-content: center;
    @include softShadow;
  }
  
  .imageview_image:hover {
    opacity: .9;
  }
  
  .imageview_image:active {
    opacity: .8;
  }

  .imageview_image_img {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  .imageview_image_btn {
    position: absolute;
    right: 4px;
    top: 4px;
    font-weight: bold;
    display: flex;
    opacity: 0;
  }

  
  .imageview_image:hover .imageview_image_btn {
    opacity: 1;
  }

  .imageview_image_description {
    position: absolute;
    right: 4px;
    left: 4px;
    bottom: 4px;
    @include appleBackdrop;
    border-radius: 4px;
    padding: 0px 4px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 8px);
    font-size: .9rem;
    line-height: 1.3em;
  }

