@use "../variables.scss" as *;

.imagepicker {
    
}

.imagepicker_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

.imagepicker_preview {
    gap: 5px;
    padding: 0px 0px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.imagepicker_preview_item {
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    border: none;
    background-color: $backgroundGrayColor;
    background-position: center;
    background-size: cover;
}

.imagepicker_preview_item:hover {
    opacity: .9;
}

.imagepicker_preview_item:active {
    opacity: .8;
}
.imagepicker_btn {
    align-self: baseline;
    margin-top: 5px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .imagepicker_btn input {
    opacity: 1;
    position: absolute;
    top: -100px;
  }
  
  .imagepicker_btn:hover {
    background-color: $baseColorBackground;
  }