@use "../variables.scss" as *;

.list_filter2 {
    border: 1px solid red;
    height: 25px;
    padding: 2px 6px;
    border: 1px solid $grayBorderColor;
    border-radius: 100px !important;
    background-color: $backgroundGrayColor !important;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.list_filter2:hover {
    background-color: $hoverColor;
}

.list_filter2:hover {
    background-color: $activeColor;
}

.list_filter2_name {
    font-size: .8rem;
    line-height: 1.3em;
}