.menu {
  padding: 0px 0px;
}

.menu_section {
  padding: 10px 0px;
}

.menu_section_name {
  font-weight: 500;
  padding: 3px 25px;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.3em;
}

.menu_section > .menu_section_content {
  padding: 5px 0px;
}

.menu_section_content > .menu_section_content {
  padding-left: 20px;
}

.menu_row {
  border: 0px solid red;
  display: flex;
  padding-right: 5px;
}

.menu_row_icon {
  //margin: 6px 3px 3px 10px;
  width: 25px;
  height: 25px;
  border: 0px solid transparent;
  flex-shrink: 0;
  opacity: 0;
  border: 0px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.menu_row_icon_img {
  width: 15px;
  height: 15px;
}

.menu_row .menu_row {
  display: none;
}

.menu_row-expanded .menu_row {
  display: flex;
}

.menu_row-expanded .menu_row_icon_img {
  transform: rotate(90deg);
  transition: all 200ms ease-out;
}

.menu_row-subitems > .menu_row_icon {
  opacity: 1;
  cursor: pointer;
}

.menu_row-subitems > .menu_row_icon:hover {
  background-color: #eee;
}

.menu_row_content {
  flex-grow: 100;
}

.menu_item {
  flex-grow: 10;
  font-weight: 500;
  padding: 3px 5px;
  margin: 0px;
  font-size: 0.9rem;
  flex-shrink: 0;
  border-radius: 10px;
  text-decoration: none;
  color: $black;
  display: block;
  display: flex;
  border: 1px solid transparent;
}

.menu_item_icon {
  width: 20px;
  margin-right: 5px;
}

.menu_item:hover {
  border-color: #ddd;
}

.menu_item:active {
  border-color: #ccc;
}

.menu_item_left {
  flex-grow: 10;
  flex-shrink: 0;
}

.menu_item_right {
  padding-left: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: normal;
  color: #999;
}

.menu_item-selected,
.menu_item-selected:hover {
  background-color: $baseColor;
  color: white !important;
  border-color: $baseColor;

  position: sticky;
  top: 0px;
  bottom: 0px;
}

.menu_item-selected .menu_item_right {
  color: #eee;
}
