
.menu2 {
  padding-right: 5px;
}

.menu2_items {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu2_item_icon {
  height: 20px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-left: 3px;
}

.menu2_item_icon_img {
  height: 15px;
  aspect-ratio: 1;
}

.menu2_item_content_icon {
  height: 20px;
  aspect-ratio: 1;
}

.menu2_item_content_icon-empty {
  border-radius: 3px;
}

.menu2_item-hassubitems > .menu2_item_top > .menu2_item_icon {
  opacity: 1;
  cursor: pointer;
}

.menu2_item-hassubitems:hover > div > .menu2_item_icon {
  filter: contrast(.2);
}

.menu2_item {
  display: flex;
  flex-direction: column;
}

.menu2_item_top {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  flex-shrink: 100;
  min-width: 0px;

}

.menu2_item_content {
  flex-grow: 10;
  flex-shrink: 10;
  min-width: 0px;
  
  font-weight: 500;
  padding: 3px 3px;
  padding-right: 10px;
  margin: 0px;
  font-size: 0.9rem;
  flex-shrink: 0;
  border-radius: 5px;
  text-decoration: none;
  color: $black;
  display: flex;
  overflow: hidden;
  gap: 5px;
}

.menu2_item_content-selected,
.menu2_item_content-selected:hover {
  background-color: $baseColor;
  color: white !important;
  border-color: $baseColor;

  position: sticky;
  top: 0px;
  bottom: 0px;
}

.menu2_items-subitems {
  display: none;
  margin-left: 15px;
}

.menu2_item-expanded > .menu2_items-subitems {
  display: flex !important;
}

.menu2_item_content_name {
  flex-grow: 100;
  flex-shrink: 100;
  min-width: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu2_item_content_subname {
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: normal;
  color: #999;
}

.menu2_item_content-selected .menu2_item_content_subname {
  color: #eee;
}

.menu2_item-expanded > div > .menu2_item_icon .menu2_item_icon_img {
  transform: rotate(90deg);
  transition: all 200ms ease-out;
}

.menu_footer {
  font-size: .8rem;
  line-height: 1.3em;
  color: $gray;
  padding: 10px;
  padding-left: 28px;
}

.menu_footer_item-warning {
  background-color: yellow;
  border: 1px solid orange;
  border-radius: 3px;
  margin-left: -5px;
  padding-left: 5px;
}
