.notification_center {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 250px;
  z-index: 100;
}

.notification {
  .shadowLarge;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  position: relative;
}

.notification-clickable {
  background-color: @baseColorBackgroundLighter;
  cursor: pointer;
}

.notification-clickable:hover {
  background-color: @baseColorBackground;
}

.notification-clickable:active {
  opacity: 0.8;
}

.notification-closed {
  display: none;
}

.notification_close {
  position: absolute;
  top: -5px;
  right: -5px;
  display: inline-block;
  border: 1px solid #eee;
  width: 20px;
  height: 20px;
  line-height: 15px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
  .shadow;
  cursor: pointer;
}

.notification_close-disabled {
  display: none;
}

.notification_close:hover {
  background-color: #eee;
}

.notification_close:active {
  background-color: #ddd;
}

.notification_close::after {
  content: "×";
}

.notification_left {
  .rectangle;
  display: none;
  flex-grow: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  margin-right: 0px;
}

.notification_left-visible {
  display: flex;
}

.notification_right {
  flex-grow: 10;
  margin: 5px;
}

.notification_prename {
  font-size: 0.8rem;
  line-height: 1.3em;
  text-transform: uppercase;
}

.notification_name {
  font-weight: 500;
}

.notification_description {
  font-size: 0.9rem;
  line-height: 1.3em;
  color: @gray;
}

.notification_action {
  display: none;
}

.notification_action-visible {
  display: block;
  background-color: @baseColorBackgroundLighter;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.3em;
  padding: 3px 0px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  background-color: @baseColor;
  color: white;
  .shadow;
}

.notification_action-visible:hover {
  opacity: 0.9;
}

.notification_action-visible:active {
  opacity: 0.8;
}

.notification_left_progress {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  flex-grow: 10;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

.notification_left_progress-visible {
  display: flex;
}

.notification_left_progress_human {
  font-size: 0.8rem;
  line-height: 1.3em;
  font-weight: 500;
}

.notification_left_progressbar {
  width: 100%;
}

.notification-success .notification_name {
  color: @green;
}

.notification-success .notification_left {
}

.notification-fail {
}

.notification-fail .notification_name {
  color: @red;
}

.notification-fail .notification_left {
}
