@use "../variables.scss" as *;

.pagination {
  text-align: center;
  padding: 10px 5px;
}

.pagination_page,
.pagination_page_current {
  color: $baseColor;
  padding: 2px 10px;
  margin: 0px;
  margin-right: 1px;
  font-size: 1rem;
  line-height: 1.4em;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  min-width: 20px;
}

.pagination_page_delimiter {
  display: inline-block;
}

.pagination_page:hover {
  background-color: $hoverColor;
}

.pagination_page:active {
  background-color: $activeColor;
}

.pagination_page_current,
.pagination_page_current:hover {
  background-color: $backgroundGrayColor;
  //color: white;
  color: $black;
  border: 1px solid $grayBorderColor;
}

.pagination_page_current {
  cursor: default;
}
