@use "../variables.scss" as *;


.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 16px 8px;
  gap: 4px;
}

a.pagination_page {
  padding: 4px 8px;
  font-size: 1rem;
  line-height: 1.3em;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;

}

a.pagination_page:hover {
    background-color: $hoverColor;
    border-color: var(--baseColor);
}

a.pagination_page:active {
    background-color: $activeColor;
}

a.pagination_page-selected {
  text-decoration: none;
  color: white;
  background-color: var(--baseColor);
}