.quick_actions {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.quick_actions_btn {
  margin: 5px 0px;
  font-weight: 500;
  display: block;
  font-size: 1rem;
  line-height: 1.9em;
  width: 100%;
}

.quick_actions_btn-delete {
  border: 1px solid red;
  color: white;
  background: linear-gradient(#dd2e4f, #dd2e4f);
  background: linear-gradient(#dd2e4f, red);
}

.quick_actions_btn-delete:hover {
  background: #dd2e4f;
}

.quick_actions_btn-green {
  background: linear-gradient(green, $green);
  color: white;
  border-color: $green;
}

.quick_actions_btn-green:hover {
  background: $green;
}

.quick_actions_btn-blue {
  background: linear-gradient(#42a1ec, #0070c9);
  color: white;
  border-color: #1e90ff;
}

.quick_actions_btn-blue:hover {
  background: #0070c9;
}


