@use "../variables.scss" as *;


.relation_view_list_target {
  //padding: 0px 10px;
}

.relation_view_list_loading,
.relation_view_list_more {
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}