@use "../variables.scss" as *;

.searchbox {
  display: flex;
  max-width: 600px;
  border-radius: 14px;
  position: relative;
  z-index: 10000000000;
  background: white;
  border: 1px solid $grayBorderColor;
}

.searchbox:has(:focus) {
  border-color: var(--baseColor);
  background-color: white;
  @include softShadow;
}

.searchbox-showsuggestions {
  @include softShadow;
  border-color: $baseColor;
}

.searchbox_input {
  padding: 0px 4px;
  font-weight: 500;
  -webkit-appearance: textfield;
  background-color: white;
  border-radius: 800px;
  margin-left: 4px;
  border: none;
  box-shadow: none;
  font-size: 1rem;
  line-height: 2em;
  outline: none !important;
  flex-grow: 10;
  border-radius: 10px 0px 0px 10px;
}

.searchbox_button {
  border: none;
  background: none;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchbox_button:hover {
  opacity: .8;
}

.searchbox_button:active {
  opacity: .7;
}

.searchbox_button img {
  width: 20px;
}

.searchbox-showsuggestions {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: white;
}

.searchbox_suggestions {
  min-height: 20px;
  background: white;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 28px;
  @include shadow;
  border-radius: 0px 0px 10px 10px;
  padding: 0px;
  overflow: auto;
  display: none;
  z-index: 1000;
  clip-path: inset(0px -100px -100px -100px);
  border: 1px solid var(--baseColor);
  border-top: none;

  max-height: calc(100vh - 50px);
}

.searchbox-showsuggestions .searchbox_suggestions {
  display: block;
}

.search_suggestion {
  display: flex;
  font-size: 0.8rem;
  line-height: 1.3em;
  overflow: hidden;
  text-decoration: none;
  gap: 0px;
  padding-left: 50px;
}

.search_suggestion_icon {
  width: 25px;
  aspect-ratio: 1;
}

.search_suggestion-noimage {
  padding: 5px;
}

a.search_suggestion-selected {
  background: var(--baseColorBackgroundLighter) !important;
}

a.search_suggestion-selected:active {
  background: var(--baseColorBackground) !important;
}

.search_suggestion_left {
  border-radius: 10px;
  width: 40px;
  aspect-ratio: 1;
  flex-shrink: 0;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.search_suggestion_right {
  flex-grow: 2;
  padding: 5px;
}

.search_suggestion_category {
  text-transform: uppercase;
  color: $black;
  font-size: 0.7rem;
}

.search_suggestion_prename {
  color: $black;
  text-transform: uppercase;
  font-size: .7rem;
  line-height: 1.3em;
}

.search_suggestion_name {
  font-size: 1rem;
  line-height: 1.3em;
}

.search_suggestion_description {
  color: $gray;
}
