@use "../variables.scss" as *;

a.search {
  display: flex;
  padding: 10px 5px;
  text-decoration: none;
}

.search_icon {
  background: #fafafa;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-right: 10px;

  background-position: center;
  background-size: cover;
}

.search_category {
  color: $gray;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.search_name {
  font-size: 1.1rem;
}

.search_description {
  font-size: 0.9rem;
  color: $gray;
}

.search_pagination {
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0px;
}

a.search_pagination_page {
  padding: 5px 10px;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 3px;
}

a.search_pagination_page-selected {
  font-weight: bold;
  text-decoration: none;
  color: $black;
}

.searchbox {
  display: flex;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  position: relative;
  z-index: 10000000000;
  background-color: $backgroundGrayColor;
}

.searchbox-showsuggestions {
  @include shadow;
}

.searchbox_input {
  padding: 0px 10px;
  font-weight: 500;
  -webkit-appearance: textfield;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 1rem;
  line-height: 2em;
  outline: none !important;
  flex-grow: 10;
  border-radius: 10px 0px 0px 10px;
}

.searchbox_button {
  border: none;
  background: none;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchbox_button:hover {
  background-color: $hoverColor;
}

.searchbox_button:active {
  background-color: $activeColor;
}

.searchbox_button img {
  width: 20px;
}

.searchbox-showsuggestions {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: white;
}

.searchbox_suggestions {
  min-height: 20px;
  background: white;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 28px;
  @include shadow;
  border-radius: 0px 0px 10px 10px;
  padding: 0px;
  overflow: auto;
  display: none;
  z-index: 1000;
  clip-path: inset(0px -100px -100px -100px);
  border-top: none;

  max-height: calc(100vh - 50px);
}

.searchbox-showsuggestions .searchbox_suggestions {
  display: block;
}

.admin_search_suggestion {
  display: flex;
  font-size: 0.8rem;
  line-height: 1.3em;
  overflow: hidden;
  text-decoration: none;
  gap: 5px;
  padding-left: 50px;
}

.admin_search_suggestion_icon {
  width: 25px;
  aspect-ratio: 1;
}

.admin_search_suggestion-noimage {
  padding: 5px;
}

a.admin_search_suggestion-selected {
  background: $baseColorBackgroundLighter !important;
}

a.admin_search_suggestion-selected:active {
  background: $baseColorBackground !important;
}

.admin_search_suggestion_left {
  border-radius: 10px;
  width: 40px;
  aspect-ratio: 1;
  flex-shrink: 0;
  margin: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.admin_search_suggestion_right {
  flex-grow: 2;
  padding: 5px;
}

.admin_search_suggestion_category {
  text-transform: uppercase;
  color: $black;
  font-size: 0.7rem;
}

.admin_search_suggestion_prename {
  color: $gray;
  text-transform: uppercase;
  font-size: .7rem;
  line-height: 1.3em;
}

.admin_search_suggestion_name {
  font-size: 1rem;
  line-height: 1.3em;
}

.admin_search_suggestion_description {
  color: $gray;
}
