.admin_navigation_tabs {
  display: flex;
  justify-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 100;
  overflow: auto;
}

.admin_navigation_tabs_content {
  display: flex;
  border-radius: 100px;
  margin: 0 auto;
  gap: 10px;
  flex-wrap: wrap;
}

.admin_navigation_tab {
  white-space: nowrap;
  overflow: hidden;
  margin: 10px 0px;
  border-bottom: none;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: $black;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: $backgroundGrayColor;
}

.admin_navigation_tab_icon {
  width: 15px;
  margin-right: 5px;
}

.admin_navigation_tab_name {
  border: 0px solid red;
}

.admin_navigation_tab-selected,
.admin_navigation_tab-selected:hover {
  background-color: $baseColor;
  color: white;
  box-shadow: none;
}


