@use "../variables.scss" as *;

.admin_navigation_tabs {
  display: flex;
  justify-content: center;
  //justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 100;
  overflow: auto;

  display: flex;
  margin: 0 auto;
  padding: 0px 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.admin_navigation_tab {
  white-space: nowrap;
  overflow: hidden;
  border-bottom: none;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: $black;
  font-weight: 500;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-shrink: 0;
  background-color: $backgroundGrayColor;
  border: 1px solid $grayBorderColor;
}

.admin_navigation_tab_icon {
  width: 15px;
  aspect-ratio: 1;
}

.admin_navigation_tab-selected,
.admin_navigation_tab-selected:hover {
  background-color: $baseColor;
  color: white;
  box-shadow: none;
}


