.admin_navigation_tabs {
  display: flex;
  justify-content: center;
  vertical-align: bottom;
  flex-wrap: wrap;
  width: 100%;
  width: calc(~"100% - 10px");
  margin: 15px;
}

.admin_navigation_tabs_content {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background: @baseColorBackground;
  padding: 0px 4px;

  justify-content: center;
}

.admin_navigation_tab {
  white-space: nowrap;
  overflow: hidden;
  margin: 4px 0px;
  display: flex;
  border-bottom: none;
  font-size: 0.9rem;
  line-height: 1.8em;

  text-decoration: none;
  padding: 1px 20px;
  display: inline-block;

  border-radius: 10px;
  color: @black;
  //font-weight: 500;
}

.admin_navigation_tabdivider {
  border-left: 1px solid rgba(0, 0, 0, 0);
  margin: 7px 4px;
}

.admin_navigation_tabdivider-visible {
  border-color: #ddd;
}

.admin_navigation_tab:hover {
  color: black;
  //.shadow;
}

.admin_navigation_tab:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.admin_navigation_tab-selected,
.admin_navigation_tab-selected:hover {
  background-color: @baseColor;
  color: white;
  box-shadow: none;
  .shadow;
}
