.tasks {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 5px;
}

.task {
  display: inline-block;
  width: auto;
  height: auto;
}

.task_runbutton {
  margin: 0 auto;
  display: block;
  width: 100%;
}
