.task_group {
  display: flex;
  flex-wrap: wrap;
}

.task {
  .rectangle;
  width: auto;
  height: auto;
  padding: 5px;
  min-width: 200px;
}

.task_name {
  font-weight: 500;
  line-height: 1.3em;
  margin: 10px 0px 5px 0px;
}

.task_input {
  margin: 10px 3px;
}
