@use "../variables.scss" as *;

$timelineBottomHeight: 70px;
$timelineLeftWidth: 60px;

.timelines {
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 500px), 1fr));
    grid-gap: 8px;
    margin: 8px;
}

.timeline {
    padding: 8px 8px;
    //margin: 8px 8px;
    background: white;
    @include softShadow;
    border-radius: 8px;
    border: 1px solid $grayBorderColor;
}

.timeline_name {
    padding: 0px;
    margin: 0px;
    align-self: flex-start;
    padding-left: 8px;
}

.timeline_toolbar {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    align-items: center;
}

.timeline_toolbar_date, .timeline_toolbar_month, .timeline_toolbar_year {
    border: 1px solid $grayBorderColor;
    @include softShadow;
    font-size: .8rem;
    height: 26px !important;
    min-height: 0px !important;
    //line-height: 26px;
    padding: 0px 4px;
}

.timeline_toolbar_divider {
    flex-grow: 1000;
}

.timeline_toolbar .input {
    max-width: 200px;
}

.timeline_toolbar > * {
    box-shadow: none;
}

.timeline_values {
    position: relative;
    height: 200px;
    display: flex;
    padding: 0px 0px 0px $timelineLeftWidth;
    justify-content: stretch;
    margin-top: 16px;
}

.timeline_value {
    width: 100%;
    flex-shrink: 100;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    padding: 0px 3px;
    cursor: pointer;
}

.timeline_value_bars {
    flex-grow: 100;
    display: flex;
    //gap: 1px;
}

.timeline_value_bar {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    position: relative;
    display: flex;
    position: relative;
}

.timeline_value_label {
    position: absolute;
    justify-self: center;
    margin-bottom: 4px;
    margin-left: 0px;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1.3em;
    color: $gray;
    border-radius: 4px;
    background-color: white;
    @include softShadow;
    padding: 0px 8px;
    border: 1px solid $grayBorderColor;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $black;
    cursor: default;
    display: none;
    z-index: 10000;

}

.timeline_value:hover .timeline_value_label {
    display: inline-block;
}

.timeline_value:hover {
    opacity: 1 !important;
}

.timeline_values:has(.timeline_value:hover) .timeline_value {
    opacity: .7;
}

.timeline_value_bar_inner {
    position: relative;
    align-self: end;
    width: 100%;
    background-color: $baseColor;
    border-radius: 3px;
    @include softShadow;
}

.timeline_value_bar_inner-negative {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: $red;
}

.timeline_value_bar_inner-positive {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.timeline_value_name {
    font-size: .8rem;
    line-height: 1.3em;
    flex-shrink: 0;
    height: $timelineBottomHeight;
    margin-top: 2px;
    text-align: center;
    color: $gray;
    width: 100%;
    max-width: 100%;
    cursor: default;
    position: relative;
}

.timeline_value_name_inner {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transform-origin: top right;
    transform: rotate(-45deg);
    position: absolute;
    z-index: 100;
    width: 80px;
    right: 50%;
}

.timeline_value:hover {
    z-index: 1000;
}

.timeline_value:hover .timeline_value_name {
    color: $black;
    //width: auto;
    //overflow: visible;
}

.timeline_value-current .timeline_value_name {
    color: $red;
}

.timeline_value-selected .timeline_value_name {
    //color: $red;
    font-weight: bold;
}

.timeline_lines {
    //border: 1px solid red;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    bottom: $timelineBottomHeight;
}

.timeline_line {
    position: absolute;
    left: 0px;
    border-bottom: 2px dashed $grayBorderColor;
    width: 100%;
}

.timeline_line-iszero {
    border-color: $gray;
    border-bottom: 2px solid $grayBorderColor;
}

.timeline_line_name {
    color: $gray;
    width: $timelineLeftWidth;
    text-align: right;
    font-size: .8rem;
    line-height: 1.3em;
    padding: 0px 4px;
    cursor: default;
}

.timeline_filters {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0px;
    gap: 8px;
    //border: 1px solid red;
}

.timeline_filter {
    background-color: $baseColorBackground;
    //color: white;
    @include softShadow;
    font-size: .8rem;
    line-height: 1.3em;
    border-radius: 4px;
    padding: 0px 8px;
    cursor: default;

}