{{define "admin_tasks"}}
        <div class="tasks">
            {{range $task := .}}
                <div class="task">
                    <form method="POST" action="/admin/api/tasks/runtask" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{{$task.ID}}">
                        <input type="hidden" name="csrf" value="{{$task.CSRFToken}}">
                        <input type="submit" value="{{$task.Name}}" class="btn task_runbutton">
                    </form>
                </div>
            {{end}}
        </div>
{{end}}