{{define "admin_home_navigation"}}
  <div class="admin_home">
  {{range $section := .Sections}}
    <div class="admin_home_section">
      <h2>{{$section.Name}}</h2>
      <div class="admin_home_items">
        {{range $item := $section.Items}}
            <a href="{{$item.URL}}" class="admin_home_item">
              <div class="admin_home_item_name">{{$item.Name}}</div>
            </a>
        {{end}}
      </div>
    </div>
  {{end}}
  <div>
{{end}}