{{define "admin_search_suggest"}}
  <div class="admin_search_suggestions_content">
    {{range $i, $item := .}}
      <a href="{{$item.URL}}" class="admin_search_suggestion admin_search_suggestion-noimage" data-position="{{$i}}">
        {{if $item.Icon}}
          <img class="admin_search_suggestion_icon" src="/admin/api/icons?file={{$item.Icon}}&color=4078c0">
        {{else}}
          <div class="admin_search_suggestion_icon"></div>
        {{end}}
        <div class="admin_search_suggestion_right">
          {{if $item.Prename}}
            <div class="admin_search_suggestion_prename">{{$item.Prename}}</div>
          {{end}}
          <div class="admin_search_suggestion_name">{{$item.Name}}</div>
        </div>
      </a>
    {{end}}
  </div>
{{end}}

{{define "searchbox"}}
  <form class="searchbox" action="/admin/_search">
    <input class="searchbox_input" type="search" placeholder="Vyhledávání" name="q" value="{{.}}"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <button class="searchbox_button">
      <img src="/admin/api/icons?file=glyphicons-basic-28-search.svg&color=333333">
    </button>
    <div class="searchbox_suggestions"></div>
  </form>
{{end}}