{{define "admin_views"}}
  {{range $item := .}}
    {{template "admin_view" $item}}
  {{end}}
{{end}}

{{define "admin_view"}}
  <div class="box">
  {{if .Name}}
  <div class="view_header">
    <img src="/admin/api/icons?file={{.Icon}}&color=888888" class="view_header_icon">
    {{if .Name}}
      <span class="view_header_name">
        {{.Name}}
        {{if .Subname}}
          <span class="view_header_subname">
            {{.Subname}}
          </span>
        {{end}}
      </span>
    {{end}}
    <div class="btngroup view_header_tabs">
      {{range $navItem := .Navigation}}
        <a href="{{$navItem.URL}}" class="btn"><img src="/admin/api/icons?file={{.Icon}}&color=444444" class="btn_icon"></a>
      {{end}}
    </div>
  </div>
  {{end}}
  {{- if .Header}}
    {{- template "box_header" .Header}}
  {{end}}
  {{if .Relation}}
    {{template "admin_item_view_relationlist" .Relation}}
  {{end}}


  {{range $item := .Items}}
    {{if $item.Name}}
      <div class="view_name">
        {{if $item.Icon}}
          <img src="/admin/api/icons?file={{$item.Icon}}&color=444444" class="view_name_icon">
        {{end}}
        {{$item.Name}}
        {{if $item.EditURL}}
          <a href="{{$item.EditURL}}" class="view_edit">
            <img src="/admin/api/icons?file=glyphicons-basic-31-pencil.svg&color=4078c0" class="view_edit_icon">
          </a>
        {{end}}
      </div>
    {{end}}
    <div class="view_content">
      {{- PragoTMPL $item.Template $item.Value -}}
    </div>
  {{end}}

  {{range $result := .SearchResults}}
    <a href="{{$result.URL}}" class="search">
      <div class="search_icon"></div>
      <div class="search_right">
        <div class="search_name">{{$result.Name}}</div>
      </div>
    </a>
  {{end}}


  {{if .Pagination}}
    <div class="search_pagination">
      {{range $page := .Pagination}}
        <a href="{{$page.URL}}" class="search_pagination_page{{if $page.Selected}} search_pagination_page-selected{{end}}">{{$page.Title}}</a>
      {{end}}
    </div>
  {{end}}

  </div>
{{end}}

{{define "admin_item_view_text"}}
  {{- . -}}
{{end}}

{{define "admin_item_view_url"}}
  <a href="{{index . 0}}">{{index . 1}}</a>
{{end}}

{{define "admin_item_view_textarea"}}
  <span class="admin_item_view_textarea">{{- . -}}</span>
{{end}}

{{define "admin_item_view_markdown"}}
  {{- PragoMarkdown . -}}
{{end}}

{{define "admin_item_view_file"}}
  {{range $item := .}}
    {{template "admin_item_view_file_single" $item}}
  {{end}}
{{end}}

{{define "admin_item_view_file_single"}}
  {{if .MediumURL}}
    <div>
      <a href="{{.OriginalURL}}"><img src="{{.MediumURL}}"></a>
    </div>
  {{end}}
  <div>
    Download:
    {{range $path := .Paths}}
      <a href="{{$path.URL}}">{{$path.Name}}</a>
    {{end}}
  </div>
  {{if .IsImage}}
    <div>
      <form action="getcdnurl" method="POST">
        Získat zmenšeninu:
        <input type="hidden" name="uuid" value="{{.UUID}}">
        <input name="size" value="" placeholder="Velikost">
        <input type="submit" class="btn" name="Zmenšit">
      </form>
    </div>
  {{end}}
  <div>UUID: {{.UUID}}</div>
{{end}}

{{define "admin_item_view_image"}}
  <div class="admin_item_view_image_content" data-images="{{.}}">
    <progress class="progress" value="" max=""></progress>
  </div>
{{end}}

{{define "admin_item_view_place"}}
  <div class="admin_item_view_place" data-value="{{.}}">
    <progress class="progress" value="" max=""></progress>
  </div>
{{end}}

{{define "admin_item_view_relation"}}
  <div class="admin_item_view_relation">
    {{if .}}
      {{range $item := .}}
      <a class="admin_preview" href="{{$item.URL}}">
        <div class="admin_preview_image" style="background-image: url('{{PragoCSS $item.Image}}') ;"></div>
        <div class="admin_preview_right">
          <div class="admin_preview_name">{{$item.Name}}</div>
          <div class="admin_preview_description" title="{{$item.Description}}">{{$item.Description}}</div>
        </div>
      </a>
      {{end}}
    {{else}}
      –
    {{end}}
  </div>
{{end}}

{{define "admin_item_view_relationlist"}}
  <div class="admin_relationlist"
    data-source-resource="{{.SourceResource}}"
    data-target-resource="{{.TargetResource}}"
    data-target-field="{{.TargetField}}"
    data-id-value="{{.IDValue}}"
    data-count="{{.Count}}"
  >
    <div class="admin_relationlist_target">
    </div>
    <div class="admin_relationlist_loading hidden">
      <progress class="progress list_progress"></progress>
    </div>
    <div class="admin_relationlist_more hidden">
      <div class="btn"><img src="/admin/api/icons?file=glyphicons-basic-221-chevron-down.svg&color=444444" class="btn_icon"></div>
    </div>
  </div>
{{end}}

{{define "admin_item_view_relationlist_response"}}
      {{template "admin_item_view_relation" .}}
{{end}}

{{define "list_cell"}}
  {{if .}}
    {{if .Images}}
      <span class="list_cell_images">
      {{range $image := .Images}}
        {{if $image}}
        <div class="list_cell_image" style="background-image: url('{{PragoCSS (PragoThumb $image)}}');"></div>
        {{end}}
      {{end}}
      </span>
    {{end}}
    <span class="list_cell_name">{{.Name}}</span>
  {{end}}
{{end}}