{{define "admin_export"}}
  
  <form method="POST" action="export" class="form">

    <h2>Fields</h2>
    {{range $field := .Fields}}
      <label class="form_label">
        <input type="checkbox" name="_field" value="{{$field.ColumnName}}" checked>
        <span class="form_label_text-inline">{{$field.NameHuman}}</span>
      </label>
    {{end}}

    <h2>Order By</h2>
    <select name="_order" class="input">
      {{$default := .DefaultOrderColumnName}}
      {{range $field := .Fields}}
        <option value="{{$field.ColumnName}}"{{if eq $field.ColumnName $default}} selected{{end}}>{{$field.NameHuman}}</option>
      {{end}}
    </select>
    <label class="form_label">
      <input type="checkbox" name="_desc" {{if .DefaultOrderDesc}} checked{{end}}>
      <span class="form_label_text-inline">Descending order</span>
    </label>

    <h2>Limit</h2>
    <input name="_limit" type="number" class="input">

    <h2>Filter</h2>
    {{range $field := .Fields}}
      {{if $field.FilterLayout}}
        <label class="form_label">
          <span class="form_label_text">{{$field.NameHuman}}</span>
          <div>
            {{PragoTMPL $field.FilterLayout $field}}
          </div>
        </label>
      {{end}}
    {{end}}

    <div class="primarybtncontainer">
      <button class="btn btn-primary">Create Export</button>
    </div>
  </form>
{{end}}
