{{define "admin_search"}}

  {{template "searchbox" .search_q}}

  <div class="box">
    {{template "box_header" .box_header}}
    {{range $result := .search_results}}
      <a href="{{$result.URL}}" class="search">
        <div class="search_icon"
          {{if $result.Image}} style="background-image: url('{{CSS $result.Image}}');"{{end}}></div>
        <div class="search_right">
          <div class="search_category">{{$result.Category}}</div>
          <div class="search_name">{{$result.Name}}</div>
          <div class="search_description">{{$result.Description}}</div>
        </div>
      </a>
    {{end}}

    <div class="search_pagination">
      {{range $page := .search_pages}}
        <a href="{{$page.URL}}" class="search_pagination_page{{if $page.Selected}} search_pagination_page-selected{{end}}">{{$page.Title}}</a>
      {{end}}
    </div>
  </div>
{{end}}


{{define "admin_search_suggest"}}
  <div class="admin_search_suggestions_content">
    {{range $i, $item := .}}
      <a href="{{$item.URL}}" class="admin_search_suggestion{{if not $item.Image}} admin_search_suggestion-noimage{{end}}" data-position="{{$i}}">
        {{if $item.Image}}
          <div class="admin_search_suggestion_left"
          {{if $item.Image}} style="background-image: url('{{CSS $item.Image}}');"{{end}}></div>
        {{end}}
        <div class="admin_search_suggestion_right">
          <div class="admin_search_suggestion_category">{{$item.Category}}</div>
          <div class="admin_search_suggestion_name">{{$item.Name}}</div>
          <div class="admin_search_suggestion_description">{{$item.CroppedDescription}}</div>
        </div>
      </a>
    {{end}}
  </div>
{{end}}

{{define "searchbox"}}
  <form class="searchbox" action="/admin/_search">
    <input class="searchbox_input" type="search" placeholder="Vyhledávání" name="q" value="{{.}}"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus>
    <button class="searchbox_button">
      <img src="/admin/api/icons?file=glyphicons-basic-28-search.svg&color=333333">
    </button>
    <div class="searchbox_suggestions"></div>
  </form>
{{end}}