{{define "admin_tasks"}}
    <div class="admin_box">
        <h1>{{message .locale "tasks"}}</h1>
        <div class="admin_box_content">
            <div class="taskmonitorcontainer">{{template "taskmonitor" .}}</div>

            {{$token := .csrf_token}}
            {{$locale := .locale}}

            <h2>{{message .locale "tasks_run"}}</h2>

            {{range $group := .tasks}}
                <h3>{{$group.Name}}</h3>
                {{range $task := $group.Tasks}}
                    <div class="task_name">{{$task.Name}}</div>
                    <form method="POST" action="_tasks/runtask">
                        <input type="hidden" name="id" value="{{$task.ID}}">
                        <input type="hidden" name="csrf" value="{{$token}}">
                        <input type="submit" value="▶" class="btn btn-small">
                    </form>
                {{end}}
            {{end}}
        </div>
    </div>
{{end}}