{{define "admin_tasks"}}
    <div class="admin_box_content">
        <div class="tasks_groups">
            {{range $group := .Tasks}}
                <div class="tasks_group">
                <h3>{{$group.Name}}</h3>
                    <div class="task_group_tasks">
                        {{range $task := $group.Tasks}}
                            <div class="task">
                                <div class="task_name">{{$task.Name}}</div>
                                <form method="POST" action="api/tasks/runtask" enctype="multipart/form-data">
                                    {{range $file := $task.Files}}
                                        <div class="task_input">
                                            <div>{{$file.ID}}</div>
                                            <div>
                                                <input type="file" name="{{$file.ID}}" multiple>
                                            </div>
                                        </div>
                                    {{end}}

                                    <input type="hidden" name="id" value="{{$task.ID}}">
                                    <input type="hidden" name="csrf" value="{{$task.CSRFToken}}">
                                    <input type="submit" value="Spustit ▶" class="btn btn-small task_runbutton">
                                </form>
                            </div>
                        {{end}}
                    </div>
                </div>
            {{end}}
        </div>
    </div>
{{end}}