{{define "admin_table"}}
    <table class="admin_table">
        {{range $row := .Rows}}
            <tr>
            {{range $cell := $row.Cells}}
                <td>{{$cell.Content}}</td>
            {{end}}
            </tr>
        {{end}}
    </table>
{{end}}