{{define "admin_list"}}
<div class="list {{if .CanChangeOrder}} list-order{{end}}{{if .MultipleActions}} list-hasmultipleactions{{end}}"
  data-type="{{.TypeID}}"
  data-order-column="{{.OrderColumn}}"
  data-order-desc="{{.OrderDesc}}"
  data-columns="{{.Columns}}"
  data-visible-columns="{{.VisibleColumns}}"
  data-items-per-page="{{.ItemsPerPage}}"
>

  {{template "admin_list_multiple_actions" .}}

  {{template "admin_list_settings" .}}
    <div class="list_header">
      {{if .MultipleActions}}
        <div class="list_header_first"></div>
      {{end}}
      {{range $i, $item := .Header}}
        <div class="list_header_item" data-name="{{$item.ColumnName}}" data-natural-width="{{$item.NaturalCellWidth}}" styleOLD="width: {{$item.NaturalCellWidth}}px !important;">
          <div class="list_header_item_name{{if $item.CanOrder}} list_header_item_name-canorder{{end}}" data-name="{{$item.ColumnName}}" title="{{$item.NameHuman}}">
            {{if $item.Icon}}<img class="list_header_item_name_icon" src="/admin/api/icons?file={{$item.Icon}}&color=4078c0">{{end}}
            <div class="list_header_item_name_text">{{- $item.NameHuman -}}</div>
            <div class="list_header_item_name_ordericon"></div>
          </div>
          <div class="list_header_item_resizer" draggable="true"></div>
          <div class="list_header_item_filter" data-name="{{$item.ColumnName}}" data-filter-layout="{{$item.FilterLayout}}">
            {{if $item.FilterLayout}}
              {{tmpl $item.FilterLayout $item}}
            {{end}}
          </div>
        </div>
      {{end}}
      <div class="list_header_last">
        <span class="list_count"></span>
        <progress class="progress list_progress"></progress>
        <label class="list_header_showmore">
          <button class="btn list_header_showmore_btn">
            <img class="btn_icon" src="/admin/api/icons?file=glyphicons-basic-137-cogwheel.svg&color=444444">
            <div class="btn_text">Možnosti</div>
          </button>
        </label>
      </div>
    {{if true}}
    <div class="admin_list_settingsrow">
      <div class="admin_list_settingsrow_column"></div>
    </div>
    {{end}}
    </div>
  <div class="admin_table list_table"></div>
{{end}}

{{define "admin_list_settings"}}
  <div class="admin_tablesettings">
    <h3>{{message .Locale "admin_options_visible"}}</h3>
    <div class="admin_tablesettings_labels">
    {{range $item := .Header}}
      <label class="admin_tablesettings_label"><input type="checkbox" class="admin_tablesettings_column" data-column-name="{{$item.ColumnName}}"> {{$item.NameHuman}}</label>
    {{end}}
    </div>

    {{if .CanExport}}
      <h3>Exportovat tabulku do Excelu</h3>
      <a href="#" class="btn admin_exportbutton" download="export.xlsx">Exportovat</a>
    {{end}}

    <h3>Počet položek na stránce</h3>
    <select class="admin_tablesettings_pages input">
      {{range $item := .PaginationData}}
        <option value="{{$item.Value}}"{{if $item.Selected}} selected{{end}}>{{$item.Name}}</option>
      {{end}}
    </select>

    <h3>Statistiky</h3>
    <label>
      <input type="checkbox" class="admin_tablesettings_stats"> Zobrazit statistiky
    </label>
    <br>
    <label>
      <select class="admin_tablesettings_stats_limit input">
        {{range $item := .StatsLimitSelectData}}
          <option value="{{$item.Value}}"{{if $item.Selected}} selected{{end}}>{{$item.Name}}</option>
        {{end}}
      </select>
    </label>
    <div class="admin_tablesettings_stats_container"></div>
    <div class="clear"></div>
  </div>

{{end}}

{{define "filter_layout_text"}}
  <input class="input input-filter admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_relation"}}
  <div class="filter_relations admin_table_filter_item admin_table_filter_item-relations" name="{{.ColumnName}}" data-typ="{{.ColumnName}}" data-related-resource="{{.RelatedResourceID}}">
    <input type="hidden" class="filter_relations_hidden">
    <div class="filter_relations_preview">
      <div class="filter_relations_preview_image"></div>
      <div class="filter_relations_preview_name"></div>
      <img class="filter_relations_preview_close" src="/admin/api/icons?file=glyphicons-basic-599-menu-close.svg&color=444444">
    </div>
    <div class="filter_relations_search">
      <input class="input input-filter filter_relations_search_input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <div class="filter_relations_suggestions"></div>
    </div>
  </div>
{{end}}

{{define "filter_layout_number"}}
  <input class="input input-filter admin_table_filter_item" type="text" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_boolean"}}
  <select class="input input-filter admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <option value=""></option>
    <option value="true">{{index .FilterData 0}}</option>
    <option value="false">{{index .FilterData 1}}</option>
  </select>
{{end}}

{{define "filter_layout_select"}}
  <select class="input input-filter admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    {{range $item := .FilterData}}
      <option value="{{index $item 0}}">{{index $item 1}}</option>
    {{end}}
  </select>
{{end}}

{{define "filter_layout_date"}}
  <div class="admin_filter_layout_date">
    <input class="admin_table_filter_item admin_filter_layout_date_value" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <div class="admin_filter_layout_date_content">
      <input type="text"
        class="input input-filter admin_filter_date_input admin_filter_layout_date_from"
        placeholder="od"
      >
      <input type="text"
        class="input input-filter admin_filter_date_input admin_filter_layout_date_to"
        placeholder="do"
      >
    </div>
  </div>
{{end}}

{{define "admin_list_cells"}}
  {{range $item := .admin_list.Rows}}
    <div data-id="{{$item.ID}}" data-url="{{$item.URL}}" class="list_row">
      {{if $item.AllowsMultipleActions}}
        <div class="list_row_multiple preventredirect" data-id="{{$item.ID}}">
          <div class="list_cell_multiple_pseudocheckbox"></div>
        </div>
      {{end}}
      {{range $cell := $item.Items}}
        <div class="list_cell" title="{{$cell.Value.Name}}">
          {{tmpl $cell.Template $cell.Value}}
        </div>
      {{end}}
      <div class="list_row_lastcell">
        <div class="btngroup admin_list_buttons">
          {{range $action := $item.Actions.VisibleButtons}}
            <a href="{{$action.URL}}" class="btn"
              {{range $k, $v := $action.Params}} {{HTMLAttr $k}}="{{$v}}"{{end}}
            >
              {{if $action.Icon}}
                <img class="btn_icon" src="/admin/api/icons?file={{$action.Icon}}&color=444444">
              {{end}}
              {{if $action.Name}}
                <div class="btn_text">{{$action.Name}}</div>
              {{end}}
            </a>
          {{end}}
          {{if $item.Actions.ShowOrderButton}}
            <a href="#list-order-clicked" class="btn admin-action-order preventredirect">
              <img class="btn_icon" src="/admin/api/icons?file=glyphicons-basic-600-menu.svg&color=444444">
            </a>
          {{end}}
          {{if $item.Actions.MenuButtons}}
            <div class="btn preventredirect">
              <div class="btn_more preventredirect">
                {{range $action := $item.Actions.MenuButtons}}
                  <a href="{{$action.URL}}" class="btn_more_item preventredirect">
                    {{if $action.Icon}}
                      <img src="/admin/api/icons?file={{$action.Icon}}&color=444444" class="btn_more_item_icon">
                    {{end}}
                    <div class="btn_more_item_text">{{$action.Name}}</div>
                  </a>
                {{end}}
              </div>
              <img class="btn_icon preventredirect" src="/admin/api/icons?file=glyphicons-basic-497-more.svg&color=444444">
            </div>
          {{end}}
        </div>
      </div>
    </div>
  {{end}}
  {{if .admin_list.Message}}
    <div>
      <div colspan="{{.admin_list.Colspan}}" class="admin_list_message">
        {{.admin_list.Message}}
      </div>
    </div>
  {{end}}
  <div class="pagination" data-total="{{.admin_list.Pagination.TotalPages}}" data-selected="{{.admin_list.Pagination.SelectedPage}}"></div>
{{end}}

{{define "admin_list_multiple_actions"}}
  <div class="admin_list_multiple_actions">
    <div class="admin_list_multiple_actions_content">
      <span class="admin_list_multiple_actions_description"></span>
      {{range $item :=  .MultipleActions}}
        <input type="button" class="btn admin_list_multiple_action{{if $item.IsDelete}} btn-delete{{end}}" name="{{$item.ID}}" value="{{$item.Name}}">
      {{end}}
    </div>
  </div>
{{end}}
