{{define "admin_views"}}
  {{range $item := .}}
    {{template "admin_view" $item}}
  {{end}}
{{end}}

{{define "admin_view"}}
  {{if .Name}}
  <div class="view_header">
    <img src="/admin/api/icons?file={{.Icon}}&color=444444" class="view_header_icon">
    {{if .Name}}
      <span class="view_header_name">
        {{.Name}}
        {{if .Subname}}
          <span class="view_header_subname">
            {{.Subname}}
          </span>
        {{end}}
      </span>
    {{end}}
    <div class="btngroup view_header_tabs">
      {{range $navItem := .Navigation}}
        <a href="{{$navItem.URL}}" class="btn"><img src="/admin/api/icons?file={{.Icon}}&color=444444" class="btn_icon"></a>
      {{end}}
    </div>
  </div>
  {{end}}
  <div class="box">
  {{- if .Header}}
    {{- template "box_header" .Header}}
  {{end}}
  {{if .Relation}}
    {{template "admin_item_view_relationlist" .Relation}}
  {{end}}


  {{range $item := .Items}}
    {{if $item.Name}}
      <div class="view_name">
        {{if $item.Icon}}
          <img src="/admin/api/icons?file={{$item.Icon}}&color=444444" class="view_name_icon">
        {{end}}
        {{$item.Name}}
      </div>
    {{end}}
    <div class="view_content">
      {{- tmpl $item.Template $item.Value -}}
    </div>
  {{end}}
  {{if .QuickActions}}
    <div class="quick_actions">
      {{range $action := .QuickActions}}
        <button class="btn quick_actions_btn quick_actions_btn-{{$action.TypStr}}"
          data-url="{{$action.ActionURL}}"
          data-typ="{{$action.TypStr}}"
          data-item-id="{{$action.ItemID}}"
        >{{$action.Name}}</button>
      {{end}}
    </div>
  {{end}}
  </div>
{{end}}

{{define "admin_item_view_text"}}
  {{- . -}}
{{end}}

{{define "admin_item_view_url"}}
  <a href="{{index . 0}}">{{index . 1}}</a>
{{end}}

{{define "admin_item_view_textarea"}}
  <span class="admin_item_view_textarea">{{- . -}}</span>
{{end}}

{{define "admin_item_view_markdown"}}
  {{- markdown . -}}
{{end}}

{{define "admin_item_view_file"}}
  {{range $item := .}}
    {{template "admin_item_view_file_single" $item}}
  {{end}}
{{end}}

{{define "admin_item_view_file_single"}}
  {{if .MediumURL}}
    <div>
      <a href="{{.OriginalURL}}"><img src="{{.MediumURL}}"></a>
    </div>
  {{end}}
  <div>
    Download:
    {{range $path := .Paths}}
      <a href="{{$path.URL}}">{{$path.Name}}</a>
    {{end}}
  </div>
  {{if .IsImage}}
    <div>
      <form action="getcdnurl" method="POST">
        Získat zmenšeninu:
        <input type="hidden" name="uuid" value="{{.UUID}}">
        <input name="size" value="" placeholder="Velikost">
        <input type="submit" class="btn" name="Zmenšit">
      </form>
    </div>
  {{end}}
  <div>UUID: {{.UUID}}</div>
{{end}}

{{define "admin_item_view_image"}}
  <div class="admin_item_view_image_content" data-images="{{.}}">
    <progress class="progress" value="" max=""></progress>
  </div>
{{end}}

{{define "admin_item_view_place"}}
  <div class="admin_item_view_place" data-value="{{.}}">
    <progress class="progress" value="" max=""></progress>
  </div>
{{end}}

{{define "admin_item_view_relation"}}
  <div class="admin_item_view_relation">
    {{if .}}
      <a class="admin_preview" href="{{.URL}}">
        <div class="admin_preview_image" style="background-image: url('{{CSS .Image}}') ;"></div>
        <div class="admin_preview_right">
          <div class="admin_preview_name">{{.Name}}</div>
          <div class="admin_preview_description">{{.Description}}</div>
        </div>
      </a>
    {{else}}
      –
    {{end}}
  </div>
{{end}}

{{define "admin_item_view_relationlist"}}
  <div class="admin_relationlist"
    data-source-resource="{{.SourceResource}}"
    data-target-resource="{{.TargetResource}}"
    data-target-field="{{.TargetField}}"
    data-id-value="{{.IDValue}}"
    data-count="{{.Count}}"
  >
    <div class="admin_relationlist_target">
    </div>
    <div class="admin_relationlist_loading hidden">
      <progress class="progress list_progress"></progress>
    </div>
    <div class="admin_relationlist_more hidden">
      <div class="btn">Nahrát více</div>
    </div>
  </div>
{{end}}

{{define "admin_item_view_relationlist_response"}}
  {{range $item := .data}}
      {{template "admin_item_view_relation" $item}}
  {{end}}
{{end}}

{{define "admin_item_view_relations"}}
  {{.}}
{{end}}

{{define "list_cell"}}
  {{if .}}
    {{if .Images}}
      <span class="list_cell_images">
      {{range $image := .Images}}
        {{if $image}}
        <div class="list_cell_image" style="background-image: url('{{CSS (thumb $image)}}');"></div>
        {{end}}
      {{end}}
      </span>
    {{end}}
    <span class="list_cell_name">{{.Name}}</span>
  {{end}}
{{end}}