{{define "admin_list"}}
<div class="admin_list {{if .CanChangeOrder}} admin_list-order{{end}}{{if .MultipleActions}} admin_list-hasmultipleactions{{end}}"
  data-type="{{.TypeID}}"
  data-order-column="{{.OrderColumn}}"
  data-order-desc="{{.OrderDesc}}"
  data-columns="{{.Columns}}"
  data-visible-columns="{{.VisibleColumns}}"
  data-items-per-page="{{.ItemsPerPage}}"
>

  {{template "admin_list_multiple_actions" .}}

  {{template "admin_list_settings" .}}

  <table class="admin_table admin_list_table">
    <thead>
    <tr>
      {{if .MultipleActions}}
        <th rowspan="2">
          <!--
          <input type="checkbox">
          -->
        </th>
      {{end}}
      {{range $item := .Header}}
        <th class="admin_list_orderitem{{if $item.CanOrder}} admin_list_orderitem-canorder{{end}}" data-name="{{$item.ColumnName}}">
          {{- $item.NameHuman -}}
        </th>
      {{end}}
      <th rowspan="2" class="admin_list_lastheadercell">
        <span class="admin_table_count"></span>
        <progress class="progress admin_table_progress"></progress>
        <label class="admin_list_showmore_label">
          <button class="btn admin_list_settings">Možnosti</button>
          <!--
          <input type="checkbox" class="admin_list_showmore">Možnosti
          -->
        </label>
      </th>
    </tr>
    <tr class="admin_list_filterrow">
      {{range $item := .Header}}
        <th class="admin_list_filteritem" data-name="{{$item.ColumnName}}" data-filter-layout="{{$item.FilterLayout}}">
          {{if $item.FilterLayout}}
            {{tmpl $item.FilterLayout $item}}
          {{end}}
        </th>
      {{end}}
    </tr>
    <tr class="admin_list_settingsrow">
      <td class="admin_list_settingsrow_column">
        
      </td>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
{{end}}

{{define "admin_list_settings"}}
  <div class="admin_tablesettings">
    <h3>{{message .Locale "admin_options_visible"}}</h3>
    <div class="admin_tablesettings_labels">
    {{range $item := .Header}}
      <label class="admin_tablesettings_label"><input type="checkbox" class="admin_tablesettings_column" data-column-name="{{$item.ColumnName}}"> {{$item.NameHuman}}</label>
    {{end}}
    </div>

    {{if .CanExport}}
      <h3>Exportovat tabulku do Excelu</h3>
      <a href="#" class="btn admin_exportbutton" download="export.xlsx">Exportovat</a>
    {{end}}

    <h3>Počet položek na stránce</h3>
    <select class="admin_tablesettings_pages input">
      {{range $item := .PaginationData}}
        <option value="{{$item.Value}}"{{if $item.Selected}} selected{{end}}>{{$item.Name}}</option>
      {{end}}
    </select>

    <h3>Statistiky</h3>
    <label>
      <input type="checkbox" class="admin_tablesettings_stats"> Zobrazit statistiky
    </label>
    <br>
    <label>
      <select class="admin_tablesettings_stats_limit input">
        {{range $item := .StatsLimitSelectData}}
          <option value="{{$item.Value}}"{{if $item.Selected}} selected{{end}}>{{$item.Name}}</option>
        {{end}}
      </select>
    </label>
    <div class="admin_tablesettings_stats_container"></div>
    <div class="clear"></div>
  </div>

{{end}}

{{define "filter_layout_text"}}
  <input class="input input-small admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_relation"}}
  <div class="filter_relations admin_table_filter_item admin_table_filter_item-relations" name="{{.ColumnName}}" data-typ="{{.ColumnName}}" data-related-resource="{{.RelatedResourceID}}">
    <input type="hidden" class="filter_relations_hidden">
    <div class="filter_relations_preview">
      <div class="filter_relations_preview_close"></div>
      <div class="filter_relations_preview_image"></div>
      <div class="filter_relations_preview_name"></div>
      <div class="filter_relations_clear"></div>
    </div>
    <div class="filter_relations_search">
      <input class="input input-small filter_relations_search_input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <div class="filter_relations_suggestions"></div>
    </div>
  </div>
{{end}}

{{define "filter_layout_number"}}
  <input class="input input-small admin_table_filter_item" type="text" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_boolean"}}
  <select class="input input-small admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <option value=""></option>
    <option value="true">{{index .FilterData 0}}</option>
    <option value="false">{{index .FilterData 1}}</option>
  </select>
{{end}}

{{define "filter_layout_select"}}
  <select class="input input-small admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    {{range $item := .FilterData}}
      <option value="{{index $item 0}}">{{index $item 1}}</option>
    {{end}}
  </select>
{{end}}

{{define "filter_layout_date"}}
  <div class="admin_filter_layout_date">
    <input class="admin_table_filter_item admin_filter_layout_date_value" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <div class="admin_filter_layout_date_content">
      <input type="text"
        class="input input-small admin_filter_date_input admin_filter_layout_date_from"
        placeholder="Od"
      >
      <div class="admin_filter_layout_date_divider">–</div>
      <input type="text"
        class="input input-small admin_filter_date_input admin_filter_layout_date_to"
        placeholder="Do"
      >
    </div>
  </div>
{{end}}

{{define "admin_list_cells"}}
  {{range $item := .admin_list.Rows}}
    <tr data-id="{{$item.ID}}" data-url="{{$item.URL}}" class="admin_table_row">
      {{if $item.AllowsMultipleActions}}
        <td class="admin_table_cell-multiple preventredirect" data-id="{{$item.ID}}">
          <!--
          <input type="checkbox" class="admin_table_cell-multiple_checkbox preventredirect">
          -->
          <div class="admin_table_cell_multiple_pseudocheckbox"></div>
        </td>
      {{end}}
      {{range $cell := $item.Items}}
        <td{{if $cell.OrderedBy}} class="admin_table_cell-orderedby"{{end}}>
          {{tmpl $cell.Template $cell.Value}}
        </td>
      {{end}}
      <td nowrap class="top align-right admin_table_row_lastcell">
        <div class="btngroup admin_list_buttons">
          {{range $action := $item.Actions.VisibleButtons}}
            <a href="{{$action.URL}}" class="btn btn-small"
              {{range $k, $v := $action.Params}} {{HTMLAttr $k}}="{{$v}}"{{end}}
            >{{$action.Name}}</a>
          {{end}}
          {{if $item.Actions.ShowOrderButton}}
            <a href="" class="btn btn-small admin-action-order preventredirect">☰</a>
          {{end}}
          {{if $item.Actions.MenuButtons}}
            <div class="btn preventredirect btn-small btn-more">
              <div class="preventredirect">▼</div>
              <div class="btn-more_content preventredirect">
                {{range $action := $item.Actions.MenuButtons}}
                  <a href="{{$action.URL}}" class="btn btn-small btn-more_content_item">{{$action.Name}}</a>
                {{end}}
              </div>
            </div>
          {{end}}
        </div>
      </td>
    </tr>
  {{end}}
  {{if .admin_list.Message}}
    <tr>
      <td colspan="{{.admin_list.Colspan}}" class="admin_list_message">
        {{.admin_list.Message}}
      </td>
    </tr>
  {{end}}
  <tr>
    <td colspan="{{.admin_list.Colspan}}" class="pagination" data-total="{{.admin_list.Pagination.TotalPages}}" data-selected="{{.admin_list.Pagination.SelectedPage}}">
    </td>
  </tr>
</div>
{{end}}

{{define "admin_list_multiple_actions"}}
  <div class="admin_list_multiple_actions">
    <div class="admin_list_multiple_actions_content">
      <span class="admin_list_multiple_actions_description"></span>
      {{range $item :=  .MultipleActions}}
        <input type="button" class="btn admin_list_multiple_action{{if $item.IsDelete}} btn-delete{{end}}" name="{{$item.ID}}" value="{{$item.Name}}">
      {{end}}
    </div>
  </div>
{{end}}
