{{define "form_table"}}
    {{range $table := .}}
    <div class="form_table">
        <table>
            {{range $row := $table.Rows}}
                <tr>
                {{range $cell := $row.Cells}}
                    <td class="{{$cell.GetClassesString}}"{{if $cell.Rowspan}} rowspan="{{$cell.Rowspan}}"{{end}}{{if $cell.Colspan}} colspan="{{$cell.Colspan}}"{{end}}>
                        {{if $cell.Href}}<a href="{{$cell.Href}}">{{end}}
                            {{$cell.Text}}
                        {{if $cell.Href}}</a>{{end}}
                    </td>
                {{end}}
                </tr>
            {{end}}
        </table>

        <div class="form_table_footer">
            {{range $item := $table.FooterText}}
                <div class="form_table_footer_text">{{$item}}</div>
            {{end}}
        </div>
    </div>
    {{end}}
{{end}}
