{{define "admin_item_input"}}
  <input name="{{.ID}}" value="{{.Value}}" id="{{.UUID}}" class="input form_watcher form_input"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>
{{end}}

{{define "admin_item_input_int"}}
  <input type="number" name="{{.ID}}" value="{{.Value}}" id="{{.UUID}}" class="input form_watcher form_input form_input-int"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>
{{end}}

{{define "admin_item_input_float"}}
  <input type="number" name="{{.ID}}" value="{{.Value}}" id="{{.UUID}}" class="input form_watcher form_input form_input-float"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>
{{end}}

{{define "admin_item_email"}}
  <input name="{{.ID}}" value="{{.Value}}" type="email" class="input form_watcher form_input" spellcheck="false"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>
{{end}}

{{define "admin_item_password"}}
  <input name="{{.ID}}" value="{{.Value}}" type="password" class="input form_watcher form_input"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>
{{end}}

{{define "admin_item_textarea"}}
  <textarea name="{{.ID}}" id="{{.UUID}}" class="input form_watcher form_input textarea"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>{{.Value}}</textarea>
{{end}}

{{define "admin_item_markdown"}}
  <div class="admin_markdown">
    <div class="btngroup">
      <div class="btn btn-small admin_markdown_command" data-cmd="b" title="ctrl+b">B</div>
      <div class="btn btn-small admin_markdown_command" data-cmd="i" title="ctrl+i">I</div>
      <div class="btn btn-small admin_markdown_command" data-cmd="a" title="ctrl+u">Odkaz</div>
      <div class="btn btn-small admin_markdown_command" data-cmd="h2" title="ctrl+k">Nadpis</div>
    </div>

    &nbsp;&nbsp;<a href="" target="_blank" class="admin_markdown_show_help">Zobrazit nápovědu</a>&nbsp;&nbsp;

    <label>
      <input type="checkbox" class="admin_markdown_preview_show"> Zobrazit náhled
    </label>

    <textarea name="{{.ID}}" id="{{.UUID}}" class="input form_watcher form_input textarea"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>{{.Value}}</textarea>
    <div class="admin_markdown_preview hidden"></div>
  </div>
{{end}}

{{define "admin_item_checkbox"}}
  <label>
    <input type="checkbox" name="{{.ID}}" {{if .Value}}checked{{end}}{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}} class="form_watcher">
    <span class="form_label_text-inline">{{.Name}}</span>
  </label>
{{end}}

{{define "admin_item_date"}}
  <input type="text" name="{{.ID}}" value="{{.Value}}" id="{{.UUID}}" class="input form_watcher form_input form_input-date"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}} autocomplete="off">
{{end}}

{{define "admin_item_timestamp"}}
  {{if .Readonly}}
    <input name="{{.ID}}" value="{{.Value}}" class="input form_input"{{if .Focused}} autofocus{{end}} readonly>
  {{else}}
    <div class="admin_timestamp">
      <input type="hidden" id="{{.UUID}}" name="{{.ID}}" value="{{.Value}}">

      <input type="text" name="_admin_timestamp_hidden" class="input form_input form_input-date admin_timestamp_date"{{if .Focused}} autofocus{{end}} autocomplete="off">

      <select class="input form_watcher form_input admin_timestamp_hour"></select>
      <span class="admin_timestamp_divider">:</span>
      <select class="input form_watcher form_input admin_timestamp_minute"></select>

    </div>
  {{end}}
{{end}}

{{define "admin_item_image"}}
  <div class="admin_images">
    <input name="{{.ID}}" value="{{.Value}}" type="hidden" class="admin_images_hidden form_watcher">
    <div class="admin_images_loaded hidden">
      <div class="admin_images_preview"></div>
      <label class="admin_images_fileinput">
        <div class="admin_images_fileinput_plus"></div>
        <input type="file" id="{{.UUID}}" accept="{{.Data}}" multiple class="form_watcher">
      </label>
    </div>
    <progress class="progress"></progress>
  </div>
{{end}}

{{define "admin_item_file"}}
  <input type="file" id="{{.UUID}}" name="{{.ID}}" class="input form_watcher form_input"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>
{{end}}

{{define "admin_file"}}
  {{if .Value}}
    <input type="hidden" id="{{.UUID}}" name="{{.ID}}" value="{{.Value}}">
    <img src="{{thumb .Value}}">
  {{else}}
    <input type="file" id="{{.UUID}}" name="{{.ID}}" class="input form_watcher form_input"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>
  {{end}}
{{end}}

{{define "admin_item_captcha"}}
  <input type="number" name="{{.ID}}" value="{{.Value}}" id="{{.UUID}}" class="input form_watcher form_input form_input-int"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>
{{end}}

{{define "admin_item_submit"}}
  <div class="primarybtncontainer">
    <button id="{{.UUID}}" name="{{.ID}}" class="btn btn-primary"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>{{.Name}}</button>
  </div>
{{end}}

{{define "admin_item_delete"}}
  <button id="{{.UUID}}" name="{{.ID}}" class="btn btn-primary btn-delete"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>{{.Name}}</button>
{{end}}

{{define "admin_item_select"}}
  {{if gt (len .Data) 0}}
    <select name="{{.ID}}" id="{{.UUID}}" class="input form_watcher form_input"{{if .Focused}} autofocus{{end}}{{if .Readonly}} readonly{{end}}>
      {{$val := .Value}}
      {{range $value := .Data}}
        <option value="{{index $value 0}}"{{if eq $val (index $value 0)}} selected{{end}}>{{index $value 1}}</option>
      {{end}}
    </select>
  {{else}}
    {{template "admin_item_select_radio" .}}
  {{end}}
{{end}}

{{define "admin_item_select_radio"}}
  {{$val := .Value}}
  {{$id := .ID}}
  <div class="form_radios">
  {{range $value := .Data}}
      <div class="form_radio">
        <input type="radio" id="{{$id}}-{{index $value 0}}" name="{{$id}}" value="{{index $value 0}}"{{if eq $val (index $value 0)}} checked{{end}}>
        <label for="{{$id}}-{{index $value 0}}">{{index $value 1}}</label>
      </div>
  {{end}}
  </div>
{{end}}

{{define "admin_item_place"}}
<div class="admin_place">
  <input type="hidden" name="{{.ID}}" value="{{.Value}}">
</div>
{{end}}

{{define "admin_item_hidden"}}
<input type="hidden" name="{{.ID}}" value="{{.Value}}">
{{end}}

{{define "admin_item_link"}}
<div>
  <a href="{{.Value}}" target="_blank">{{.Value}}</a>
</div>
{{end}}

{{define "admin_item_relation"}}
<div class="admin_item_relation" data-relation="{{.Data}}">
  <input type="hidden" name="{{.ID}}" value="{{.Value}}">
  <progress class="progress"></progress>
  <div class="admin_item_relation_preview hidden"></div>
  <div class="admin_item_relation_change hidden">
    <div class="btn btn-small admin_item_relation_change_btn">×</div>
  </div>
  <div class="admin_item_relation_picker hidden">
    <input class="input">
    <div class="admin_item_relation_picker_suggestions">
      <div class="admin_item_relation_picker_suggestions_content">

      </div>
    </div>
  </div>
</div>
{{end}}

{{define "admin_list_image"}}
  <div class="admin_list_image" style="background-image: url('{{CSS (thumb .)}}');"></div>
{{end}}
