{{define "admin_layout"}}
<!doctype html>
<html lang="{{.main_menu.Language}}">
  <head>
    <meta charset="utf-8">
    <title>{{.admin_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/admin/prago_admin_files/admin.css?v={{.version}}">
    {{range $c := .css}}
        <link rel="stylesheet" href="{{$c}}">
    {{end}}

    <script type="text/javascript" src="/admin/prago_admin_files/pikaday.js?v={{.version}}"></script>
    <script type="text/javascript" src="/admin/prago_admin_files/admin.js?v={{.version}}"></script>
    {{range $javascript := .javascripts}}
        <script type="text/javascript" src="{{$javascript}}"></script>
    {{end}}
    <script src="https://maps.googleapis.com/maps/api/js?callback=googleMapsInited&libraries=places&key={{.google}}" async defer></script>

  </head>
  <body class="admin" data-csrf-token="{{._csrfToken}}" data-admin-prefix="{{.main_menu.URLPrefix}}" data-search-query="{{.search_q}}">
    <div class="admin_layout">
        <div class="admin_layout_left">
            {{template "admin_mainmenu" .main_menu}}
        </div>
        <div class="admin_layout_right">
            <div class="admin_header">
                <div class="admin_header_container">
                    <div class="admin_header_container_left">
                        <div class="admin_header_container_menu btn">Menu</div>
                    </div>
                    {{if .admin_page}}
                        {{template "admin_tabs" .admin_page.Navigation.Tabs}}
                    {{end}}
                </div>
            </div>
            <div class="admin_bottom">
                {{template "notification_center" .}}
                <div class="admin_content">
                    {{tmpl .admin_yield .}}
                </div>
            </div>
        </div>
    </div>
  </body>
</html>

{{end}}