{{define "board"}}
  <div class="board">
  
  <h1 class="board_name">{{if PragoIconExists .BoardIcon}}<img src="/admin/api/icons?file={{.BoardIcon}}&color=444444" class="board_icon">{{end}}<div class="board_name_text">{{.BoardName}}</div></h1>

  {{if .MainDashboard}}
    {{template "dashboard" .MainDashboard}}
  {{end}}

  {{if .Resources}}
    {{$boardURL := .BoardURL}}
    <div class="board_resources">
      {{range $i, $resource := .Resources}}
        {{if ne $resource.URL $boardURL}}
        <a href="{{$resource.URL}}" class="board_resource" title="{{$resource.Name}}">
          <div class="board_resource_left">{{if $resource.Icon}}<img class="board_resource_icon" src="/admin/api/icons?file={{$resource.Icon}}&color=4078c0">{{end}}</div>
          <div class="board_resource_right">{{$resource.Name}}</div>
        </a>
        {{end}}
      {{end}}
    </div>
  {{end}}

  {{range $dashboard := .Dashboards}}
    {{template "dashboard" $dashboard}}
  {{end}}

  {{if false}}
  {{if .Tasks}}
    <div class="dashboard">
      <h2 class="dashboard_name">{{.TasksName}}</h2>
      {{template "admin_tasks" .Tasks}}
    </div>
  {{end}}
  {{end}}

  <div>
{{end}}