{{define "board"}}
  <div class="board">

  {{if .IsMainBoard}}
    <div class="board_logo" style="background-image: url('/admin/logo');"></div>
  {{end}}

  {{if .IsMainBoard}}
    {{template "searchbox" ""}}
  {{end}}

  {{if .IsMainBoard}}
    <div class="board_user">
      <div class="board_user_left">Vítejte v administraci {{.AppName}}.<br>Jste přihlášen(a) jako uživatel <b>{{.UserSection.Name}}</b> s oprávněním {{.User.Role}}.</div>
      <div class="btngroup board_user_right">
        {{range $item := .UserSection.Items}}
          <a href="{{$item.URL}}" class="btn"><img src="/admin/api/icons?file={{$item.Icon}}&color=444444" class="btn_icon"><div class="btn_text">{{$item.Name}}</div></a>
        {{end}}
      </div>
    </div>
  {{end}}

  

  <h1 class="board_name">{{if .BoardIcon}}<img src="/admin/api/icons?file={{.BoardIcon}}&color=444444" class="board_icon">{{end}}{{.BoardName}}</h1>

  {{if .Resources}}
    {{$boardURL := .BoardURL}}
    <div class="board_resources">
      {{range $resource := .Resources}}
        {{if ne $resource.URL $boardURL}}
        <a href="{{$resource.URL}}" class="board_resource{{if $resource.IsBoard}} board_resource-isboard{{end}}" title="{{$resource.Name}}">
          <div class="board_resource_left">{{if $resource.Icon}}<img class="board_resource_icon" src="/admin/api/icons?file={{$resource.Icon}}&color=4078c0">{{end}}</div>
          <div class="board_resource_right">{{$resource.Name}}</div>
        </a>
        {{end}}
      {{end}}
    </div>
  {{end}}

  {{range $section := .Sections}}
    <div class="board_section">
      <h2 class="board_section_name">{{$section.Name}}</h2>
      <div class="board_items">
        {{range $item := $section.Items}}
            {{if $item.URL}}
              <a href="{{$item.URL}}" class="board_item{{if $item.IsRed}} board_item-red{{end}}{{if $item.IsGreen}} board_item-green{{end}}">
            {{else}}
              <div class="board_item{{if $item.IsRed}} board_item-red{{end}}{{if $item.IsGreen}} board_item-green{{end}}">
            {{end}}
              {{if $item.Icon}}
                <div class="board_item_icon"><img src="/admin/api/icons?file={{$item.Icon}}&color=4078c0"></div>
              {{end}}
              <div class="board_item_name">{{$item.Name}}</div>
              {{if $item.Value}}
                <div class="board_item_value">{{$item.Value}}</div>
              {{end}}
              {{if $item.Description}}
                <div class="board_item_description">{{$item.Description}}</div>
              {{end}}
            {{if $item.URL}}
              </a>
            {{else}}
              </div>
            {{end}}
        {{end}}
      </div>
      {{range $table := $section.Tables}}
        <div class="board_table" data-uuid="{{$table.UUID}}"><progress class="progress"></progress></div>
      {{end}}
      {{if $section.Tasks}}
        {{template "admin_tasks" $section.Tasks}}
      {{end}}
    </div>
  {{end}}
  <div>
{{end}}