{{define "board"}}
  <div class="board">

  {{if .IsMainBoard}}
    <div class="board_logo" style="background-image: url('/admin/logo');"></div>
  {{end}}

  {{if .IsMainBoard}}
    {{template "searchbox" ""}}
  {{end}}

  {{if .IsMainBoard}}
    <div class="board_user">
      <div class="btngroup board_user_buttons">
        {{range $item := .UserSection.Items}}
          <a href="{{$item.URL}}" class="btn"><img src="/admin/api/icons?file={{$item.Icon}}&color=444444" class="btn_icon"><div class="btn_text">{{$item.Name}}</div></a>
        {{end}}
      </div>
      <div class="board_user_text">Vítejte v administraci {{.AppName}}.<br>Jste přihlášen(a) jako uživatel <b>{{.UserSection.Name}}</b> s oprávněním {{.User.Role}}.</div>
    </div>
  {{end}}

  

  <h1 class="board_name">{{if .BoardIcon}}<img src="/admin/api/icons?file={{.BoardIcon}}&color=444444" class="board_icon">{{end}}{{.BoardName}}</h1>

  {{if .Resources}}
    {{$boardURL := .BoardURL}}
    <div class="board_resources">
      {{range $i, $resource := .Resources}}
        {{$delay := multiplication 10 $i}}
        {{if ne $resource.URL $boardURL}}
        <a href="{{$resource.URL}}" class="board_resource{{if $resource.IsBoard}} board_resource-isboard{{end}}" style="animation-delay: {{$delay}}ms;" title="{{$resource.Name}}">
          <div class="board_resource_left">{{if $resource.Icon}}<img class="board_resource_icon" src="/admin/api/icons?file={{$resource.Icon}}&color=4078c0">{{end}}</div>
          <div class="board_resource_right">{{$resource.Name}}</div>
        </a>
        {{end}}
      {{end}}
    </div>
  {{end}}

  {{range $dashboard := .Dashboards}}
    <div class="dashboard">
      <h2 class="dashboard_name">{{$dashboard.Name}}</h2>
      <div class="dashboard_figures">
        {{range $item := $dashboard.Figures}}
            {{if $item.URL}}
              <a href="{{$item.URL}}" data-uuid="{{$item.UUID}}" class="dashboard_figure dashboard_figure-loading">
            {{else}}
              <div data-uuid="{{$item.UUID}}" class="dashboard_figure dashboard_figure-loading">
            {{end}}
              <div class="progress dashboard_figure_loader"></div>
              {{if $item.Icon}}
                <div class="dashboard_figure_icon"><img src="/admin/api/icons?file={{$item.Icon}}&color=4078c0"></div>
              {{end}}
              <div class="dashboard_figure_name" title="{{$item.Name}}">{{$item.Name}}</div>
              <div class="dashboard_figure_value"></div>
              <div class="dashboard_figure_description"></div>
            {{if $item.URL}}
              </a>
            {{else}}
              </div>
            {{end}}
        {{end}}
      </div>
      {{range $table := $dashboard.Tables}}
        <div class="dashboard_table" data-uuid="{{$table.UUID}}"><progress class="progress"></progress></div>
      {{end}}
    </div>
  {{end}}

  {{if .Tasks}}
    <div class="dashboard">
      <h2 class="dashboard_name">{{.TasksName}}</h2>
      {{template "admin_tasks" .Tasks}}
    </div>
  {{end}}
  <div>
{{end}}