{{define "box_header" -}}
    <div class="box_header" {{if .Image}}
        style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1)), url('{{PragoCSS .Image}}')"
    {{end}}>
        {{if .Name}}
            <div class="box_name">
                {{if .Icon}}
                    <div class="box_icon">
                        <img src="/admin/api/icons?file={{.Icon}}&color=444444">
                    </div>
                {{end}}
                {{.Name}}
            </div>
        {{end}}
        {{if .TextAfter}}
            <div class="box_textafter">{{.TextAfter}}</div>
        {{end}}
        {{if .Buttons}}
            <div class="box_header_buttons">
                {{range $button := .Buttons}}
                    <a href="{{$button.URL}}" class="btn">{{if $button.Icon}}<img src="/admin/api/icons?file={{$button.Icon}}&color=444444" class="btn_icon">{{end}}<div class="btn_text">{{$button.Name}}</div></a>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}