{{define "box_header" -}}
    <div class="box_header">
        {{range $text := .DescriptionsBefore}}
            <div class="box_textbefore">{{$text}}</div>
        {{end}}
        {{if .Name}}
            <div class="box_name">
                {{if .Icon}}
                    <div class="box_icon">
                        <img src="/admin/api/icons?file={{.Icon}}&color={{PragoStyleColor .Style}}">
                    </div>
                {{end}}
                {{.Name}}
            </div>
        {{end}}
        {{range $text := .DescriptionsAfter}}
            <div class="box_textafter">{{$text}}</div>
        {{end}}
        {{if .Buttons}}
            <div class="box_header_buttons">
                {{range $button := .Buttons}}                    
                    <a href="{{$button.URL}}" class="btn{{if $button.Style}} btn-{{$button.Style}}{{end}}">
                        {{if $button.Icon}}<img src="/admin/api/icons?file={{$button.Icon}}&color={{PragoStyleColor $button.Style}}" class="btn_icon">{{end}}
                        <div class="btn_text">{{$button.Name}}</div>
                    </a>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}