{{define "breadcrumbs"}}
    <div class="breadcrumbs">
        {{range $item := .Items}}
            <a href="{{$item.URL}}" class="breadcrumb{{if $item.Logo}} breadcrumb-logo{{end}}" title="{{$item.Title}}">
                {{if $item.Logo}}
                    <img src="{{$item.Logo}}" class="breadcrumb_logo">
                {{end}}
                {{if $item.Icon}}
                    <div class="breadcrumb_badge">
                        {{if $item.Image}}
                            <img src="{{$item.Image}}" class="breadcrumb_badge_image">
                        {{else}}
                            <img src="/admin/api/icons?file={{$item.Icon}}&color=444444" class="breadcrumb_badge_icon">
                        {{end}}
                    </div>
                {{end}}
                {{if $item.Name}}
                    {{if not $item.Logo}}
                        <div class="breadcrumb_text">
                            {{$item.Name}}
                        </div>
                    {{end}}
                {{end}}
            </a>
        {{end}}
    </div>
{{end}}