{{define "eshop_control"}}

    <script>{{template "eshop_control_js" .}}</script>

    <div class="eshop_control">
        <h2>Kontrola vstupu</h2>

        <video autoplay loop muted playsinline class="eshop_control_video"></video>
        <canvas class="eshop_control_canvas"></canvas>
    </div>
{{end}}