{{define "eshop_generate"}}
    <form method="post" action="">
    <input type="hidden" name="_csrfToken" value="{{.CSRFToken}}">
    <label>
        Počet vstupenek
        <select name="count">
            {{range $option := .options}}
                <option value="{{$option}}">{{$option}}</option>
            {{end}}
        </select>
    </label>
    <input type="submit" class="btn" value="Vygenerovat vstupenky">
    </form>
{{end}}