{{define "form"}}

  {{$boxHeaderData := .GetBoxHeader}}

  <div class="form_container{{if .AutosubmitOnDataChange}} form_container-autosubmit{{end}}{{if .AutosubmitFirstTime}} form_container-autosubmitfirsttime{{end}}"
    data-form-name="{{$boxHeaderData.Name}}"
    data-form-icon="{{$boxHeaderData.Icon}}"
  >

    <div class="box">
      {{template "box_header" $boxHeaderData}}

      {{range $scriptPath := .ScriptPaths}}
        <script src="{{$scriptPath}}"></script>
      {{end}}

      <form method="POST" action="{{.Action}}" class="form prago_form" enctype="multipart/form-data" novalidate>
        {{if .CSRFToken}}
          <input type="hidden" name="_csrfToken" value="{{.CSRFToken}}">
        {{end}}

        <div class="form_errors hidden"></div>
        
        {{range $item := .Items}}
          <div class="form_label{{if .TextOver}} form_label-textover{{end}}{{if .Hidden}} form_label-hidden{{end}}{{if .Required}} form_label-required{{end}}" data-id="{{.ID}}">
            <a class="form_label_textover">
              {{.TextOver}}
            </a>
            <div class="form_label_content">
            {{if eq .HiddenName false}}
              {{range $description := .DescriptionsBefore}}
                <div class="form_label_description">{{$description}}</div>
              {{end}}
              <label for="{{.UUID}}" class="form_label_text">
                {{if .Icon}}
                  <img src="/admin/api/icons?file={{$item.Icon}}&color=444444" class="form_label_text_icon">
                {{end}}
                {{.Name}}
                {{if .HelpURL}}
                  <a href="{{.HelpURL}}" class="form_label_text_help"><img src="/admin/api/icons?file=glyphicons-basic-196-circle-empty-info.svg&color=4077bf" title="Nápověda"></a>
                {{end}}
              </label>
              {{if .Description}}
                <div class="form_label_description">{{.Description}}</div>
              {{end}}
              {{range $description := .DescriptionsAfter}}
                <div class="form_label_description">{{$description}}</div>
              {{end}}
            {{end}}
            <div class="form_label_errors hidden"></div>
            <div>
              {{.GetContent}}
            </div>
            </div>
          </div>
        {{end}}

        <progress class="progress form_progress hidden"></progress>

      </form>
    </div>

    <div class="form_after_content">{{.HTMLAfter}}</div>

  </div>

{{end}}