{{define "form_table"}}
    {{range $table := .}}
    <div class="form_table">
        <table>
            {{range $row := $table.Rows}}
                <tr>
                {{range $cell := $row.Cells}}
                    <td class="{{$cell.GetClassesString}}"{{if $cell.Rowspan}} rowspan="{{$cell.Rowspan}}"{{end}}{{if $cell.Colspan}} colspan="{{$cell.Colspan}}"{{end}}>
                        {{range $checkbox := $cell.Checkboxes}}
                            <input type="checkbox" name="{{$checkbox.Name}}"{{if $checkbox.Checked}} checked{{end}}>
                        {{end}}
                        {{if $cell.Href}}<a href="{{$cell.Href}}">{{end}}
                            {{if .DescriptionBefore}}<div class="form_table_cell_descriptionbefore">{{.DescriptionBefore}}</div>{{end}}
                            {{$cell.Text}}
                            {{if .DescriptionAfter}}<div class="form_table_cell_descriptionafter">{{.DescriptionAfter}}</div>{{end}}
                        {{if $cell.Href}}</a>{{end}}
                        {{range $button := $cell.Buttons}}
                            <a href="{{if $button.URL}}{{$button.URL}}{{else}}#{{end}}" class="btn" onclick="{{$button.OnClick}}">{{$button.Name}}</a>
                        {{end}}
                    </td>
                {{end}}
                </tr>
            {{end}}
        </table>
        {{range $graph := $table.Graphs}}
            {{template "graph" $graph}}
        {{end}}

        <div class="form_table_footer">
            {{range $item := $table.FooterText}}
                <div class="form_table_footer_text">{{$item}}</div>
            {{end}}
        </div>
    </div>
    {{end}}
{{end}}
