{{define "graph"}}
    {{$view := .}}
    <div class="graph">
        <h3 class="graph_name">{{$view.Name}}</h3>
        <div class="graph_items">
        {{range $value := $view.Items}}
            <div class="graph_item">
                <div class="graph_item_bar">
                    <div class="graph_item_bar_percent" style="height: {{$value.Percent}}%;"></div>
                </div>
                <div class="graph_item_value">{{$value.Value}}</div>
                <div class="graph_item_name">{{$value.Name}}</div>
            </div>
        {{end}}
        </div>
    </div>
{{end}}