{{define "help_icons"}}
    <div class="help_icons">
    {{range $icon := .}}
        <div class="help_icon" data-icon="{{$icon}}">
            <img src="/admin/api/icons?file={{$icon}}&color=333333" class="help_icon_img" loading="lazy">
            <div class="help_icon_name">{{$icon}}</div>
        </div>
    {{end}}
    </div>

{{end}}