{{define "item_views"}}
  <div class="box views">
  {{range $item := .}}
    <div class="view">
    {{if $item.Name}}
      <div class="view_header">
        {{if $item.Icon}}
          <img src="/admin/api/icons?file={{$item.Icon}}&color={{PragoBlackColor}}" class="view_header_icon">
        {{end}}
        <div class="view_header_name">
          <div>{{$item.Name}}</div>
          {{range $subname := $item.SubNames}}
            <div class="view_header_subname">{{$subname}}</div>
          {{end}}
        </div>
        <div class="view_header_buttons">
          {{range $btn := .Buttons}}
            <a class="btn" {{if $btn.URL}}href="{{$btn.URL}}"{{end}} {{if $btn.OnClick}}onclick="{{$btn.OnClick}}"{{end}} data-tooltip="{{$btn.GetTitle}}">
              <img src="/admin/api/icons?file={{$btn.Icon}}&color={{PragoBlackColor}}" class="btn_icon">
            </a>
          {{end}}
        </div>
      </div>
    {{end}}
    {{if $item.ViewContent}}
      {{template "item_view_content" $item.ViewContent}}
    {{end}}

    {{if .Relation}}
      {{template "view_relationlist" .Relation}}
    {{end}}

    </div>
  {{end}}
  </div>
{{end}}

{{define "item_view_content"}}
<div class="view_content{{if .Style}} view_content-{{.Style}}{{end}}">
  {{if .HasNameOrIcon}}
    <div class="view_content_header">
      <div class="view_content_header_inner">
        {{if .Icon}}<img class="view_content_icon" src="/admin/api/icons?file={{.Icon}}&color={{.IconColor}}">{{end}}
        {{if .Name}}<div class="view_content_name">{{.Name}}</div>{{end}}
      </div>
    </div>
  {{end}}
  {{if .CDNFileData}}
    <div class="fileview">
      {{if .CDNFileData.OriginalURL}}
          <a href="{{.CDNFileData.OriginalURL}}" class="fileview_preview" style="background-image: url('{{.CDNFileData.GiantURL}}');"></a>
      {{end}}
    </div>
  {{end}}

  {{if .ContentHTML}}
    <div class="view_content_html">
      {{.ContentHTML}}
    </div>
  {{end}}

  {{if .Previews}}
    {{template "view_relation" .Previews}}
  {{end}}
  {{if .Images}}
    <div class="imageview" data-images="{{PragoJSON .Images}}">
      <progress class="progress" value="" max=""></progress>
    </div>
  {{end}}

  {{if .PlaceData}}
    <div class="item_view_place" data-value="{{.PlaceData}}">
      <progress class="progress" value="" max=""></progress>
    </div>
  {{end}}

  {{if .VideoURL}}
    <div class="videoview" data-videos="{{.VideoURL}}">
      <video class="videoview_video hidden"></video>
      <progress class="progress" value="" max=""></progress>
    </div>
  {{end}}

</div>
{{end}}

{{define "view_relation"}}
    {{if .}}
      <div class="item_view_relation">
      {{range $item := .}}
      <a class="preview" href="{{$item.URL}}">
        {{if $item.Image}}
          <img src="{{PragoCSS $item.Image}}" class="preview_image" loading="lazy">
        {{end}}
        {{if $item.Icon}}
          <img src="/admin/api/icons?file={{$item.Icon}}&color={{$item.GetIconColor}}" class="preview_icon">
        {{end}}
        <div class="preview_right">
          <div class="preview_name">{{$item.Name}}</div>
          <div class="preview_description" {{if $item.Description}}data-tooltip="{{$item.Description}}"{{end}}>{{$item.Description}}</div>
        </div>
      </a>
      {{end}}
      </div>
    {{else -}}
    {{- end}}
{{end}}