{{define "layout_style"}}
    <style>
        :root {
            --hue: {{PragoHue}};
            --saturation: {{PragoSaturation}};
            --lightness: {{PragoLightness}};

            --black: #{{PragoBlackColor}};
            --red: #{{PragoRedColor}};
            --green: #{{PragoGreenColor}};
        }
    </style>
{{end}}