{{define "layout_nologin"}}

<!doctype html>
<html lang="{{.Language}}">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/admin/prago_admin_files/prago.css?v={{.Version}}">
    <script type="text/javascript" src="/admin/prago_admin_files/prago.js?v={{.Version}}"></script>
    {{if .Icon}}
        <link rel="icon" href="/admin/api/icons?file={{.Icon}}&color=444444" type="image/svg+xml">
    {{end}}

  </head>
  <body class="admin_nologin"{{if .BackgroundImageURL}} style="background-image: url('{{ .BackgroundImageURL}}')"{{end}}>
    {{template "notification_center" .NotificationsData}}

    <div class="admin_nologin_outer">
    <div class="admin_nologin_content">
      <div class="admin_nologin_logo" style="background-image: url('/admin/logo');"></div>
      {{template "tabs" .Tabs}}
      {{template "form" .FormData}}
    </div>
    </div>
  </body>
</html>

{{end}}