{{define "prago_layout"}}
<!doctype html>
<html lang="{{.Language}}">
  <head>
    <meta charset="utf-8">
    <title>{{.Name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/admin/prago_admin_files/prago.css?v={{.Version}}">
    <script src="https://api.mapy.cz/loader.js"></script>
    <script type="text/javascript" src="/admin/prago_admin_files/pikaday.js?v={{.Version}}"></script>
    <script type="text/javascript" src="/admin/prago_admin_files/prago.js?v={{.Version}}"></script>
    {{if .Icon}}
        <link rel="icon" href="/admin/api/icons?file={{.Icon}}&color=444444" type="image/svg+xml">
    {{end}}
    {{range $javascript := .JavaScripts}}
        <script type="text/javascript" src="{{$javascript}}"></script>
    {{end}}

  </head>
  <body class="admin" data-admin-prefix="/admin">
    <div class="root">
        {{template "notification_center" .NotificationsData}}
        <div class="root_header">
            <a href="/admin" class="root_logo" style="background-image: url('/admin/logo');"></a>
            {{template "admin_tabs" .Navigation.Tabs}}
            <div class="root_hamburger">
                <img src="/admin/api/icons?file=glyphicons-basic-600-menu.svg&color=444444" class="root_hamburger_iconopen">
                <img src="/admin/api/icons?file=glyphicons-basic-599-menu-close.svg&color=444444" class="root_hamburger_iconclose">
            </div>
        </div>
        <div class="root_bottom">
            <div class="root_left">
                {{template "menu" .Menu}}
            </div>
            <div class="root_content">
                {{range $message := .Messages}}
                    <h1 class="admin_message">{{$message.Name}}</h1>
                {{end}}
                {{if .PageTemplate}}
                    {{tmpl .PageTemplate .PageData}}
                {{end}}
            </div>
        </div>
    </div>
  </body>
</html>

{{end}}