{{define "list"}}
<div class="list {{if .CanChangeOrder}} list-order{{end}}{{if .MultipleActions}} list-hasmultipleactions{{end}}"
  data-type="{{.TypeID}}"
  data-order-column="{{.OrderColumn}}"
  data-order-desc="{{.OrderDesc}}"
  data-columns="{{.Columns}}"
  data-visible-columns="{{.VisibleColumns}}"
  data-items-per-page="{{.ItemsPerPage}}"
>

  {{template "list_multiple_actions" .}}

  <progress class="progress list_progress"></progress>

  {{template "list_header" .}}

  <div class="list_table">
    <div class="list_table_content">
      {{template "list_placeholder"}}
    </div>
  </div>
  <div class="list_footer"></div>
{{end}}

{{define "list_header"}}
<div class="list_header_container">
  <div class="list_header">
    {{if .MultipleActions}}
      <div class="list_header_multiple">
        <div class="list_cell_multiple_pseudocheckbox"></div>
      </div>
    {{end}}
    {{range $i, $item := .Header}}
      <div class="list_header_item" data-name="{{$item.ColumnName}}" data-natural-width="{{$item.NaturalCellWidth}}">
        <div class="list_header_item_name{{if $item.CanOrder}} list_header_item_name-canorder{{end}}" data-name="{{$item.ColumnName}}" title="{{$item.NameHuman}}">
          {{if $item.Icon}}<img class="list_header_item_name_icon" src="/admin/api/icons?file={{$item.Icon}}&color=4078c0">{{end}}
          <div class="list_header_item_name_text">{{- $item.NameHuman -}}</div>
          <div class="list_header_item_name_ordericon"></div>
        </div>
        <div class="list_header_item_resizer" draggable="true"></div>
        <div class="list_header_item_filter" data-name="{{$item.ColumnName}}" data-filter-layout="{{$item.FilterLayout}}">
          {{if $item.FilterLayout}}
            {{template "filter_layout2" $item}}
          {{end}}
        </div>
      </div>
    {{end}}
  </div>
</div>
{{end}}

{{define "list_placeholder"}}
  <div class="list_tableplaceholder">
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
  </div>
{{end}}

{{define "filter_layout2"}}
  <div class="list_filter2" data-filter-content="{{.DefaultFilterResponseJSON}}">
    <div class="list_filter2_name"></div>
    <input class="list_filter2_input">
    <div class="list_filter2_close hidden">
      <img src="/admin/api/icons?file=glyphicons-basic-599-menu-close.svg&color=4077bf" class="list_filter2_close_icon">
    </div>
  </div>
{{end}}

{{define "list_multiple_actions"}}
  <div class="list_multiple_actions">
    <div class="list_multiple_actions_content">
      <span class="list_multiple_actions_description"></span>
      <div class="btngroup list_multiple_actions_buttons">
        {{range $item :=  .MultipleActions}}
          <button class="btn list_multiple_action"
            data-id="{{$item.ID}}"
            data-resource-id="{{$item.ResourceID}}"
          >
            {{if $item.Icon}}<img class="btn_icon" src="/admin/api/icons?file={{$item.Icon}}&color=444444">{{end}}
            {{$item.Name}}
          </button>
        {{end}}
      </div>
    </div>
    <div class="btn list_multiple_actions_cancel">
      <img src="/admin/api/icons?file=glyphicons-basic-599-menu-close.svg&color=444444" class="btn_icon">
    </div>
  </div>
{{end}}
