{{define "list"}}
<div class="list {{if .CanChangeOrder}} list-order{{end}}{{if .MultipleActions}} list-hasmultipleactions{{end}}"
  data-type="{{.TypeID}}"
  data-order-column="{{.OrderColumn}}"
  data-order-desc="{{.OrderDesc}}"
  data-columns="{{.Columns}}"
  data-visible-columns="{{.VisibleColumns}}"
  data-items-per-page="{{.ItemsPerPage}}"
>

  {{template "list_multiple_actions" .}}

  <div class="list_hidden">
    {{template "list_settings" .}}
    {{template "list_stats" .}}
    {{template "list_export" .}}
  </div>
  <progress class="progress list_progress"></progress>

  <div class="list_table">
    {{template "list_header" .}}
    <div class="list_table_content">
      {{template "list_placeholder"}}
    </div>
  </div>
  <div class="list_footer"></div>
{{end}}

{{define "list_header"}}
<div class="list_header_container">
  <div class="list_header">
    {{if .MultipleActions}}
      <div class="list_header_first"></div>
    {{end}}
    {{range $i, $item := .Header}}
      <div class="list_header_item" data-name="{{$item.ColumnName}}" data-natural-width="{{$item.NaturalCellWidth}}" styleOLD="width: {{$item.NaturalCellWidth}}px !important;">
        <div class="list_header_item_name{{if $item.CanOrder}} list_header_item_name-canorder{{end}}" data-name="{{$item.ColumnName}}" title="{{$item.NameHuman}}">
          {{if $item.Icon}}<img class="list_header_item_name_icon" src="/admin/api/icons?file={{$item.Icon}}&color=4078c0">{{end}}
          <div class="list_header_item_name_text">{{- $item.NameHuman -}}</div>
          <div class="list_header_item_name_ordericon"></div>
        </div>
        <div class="list_header_item_resizer" draggable="true"></div>
        <div class="list_header_item_filter" data-name="{{$item.ColumnName}}" data-filter-layout="{{$item.FilterLayout}}">
          {{if $item.FilterContent}}
            {{$item.FilterContent}}
          {{end}}
        </div>
      </div>
    {{end}}
    <div class="list_header_last">
      <span class="list_count"></span>
      <div class="btngroup list_header_actions">
        <button class="btn list_header_action-settings" title="Nastavení">
          <img class="btn_icon" src="/admin/api/icons?file=glyphicons-basic-137-cogwheel.svg&color=444444">
        </button>
        <button class="btn list_header_action-stats" title="Statistiky">
          <img class="btn_icon" src="/admin/api/icons?file=glyphicons-basic-43-stats-circle.svg&color=444444">
        </button>
        <button class="btn list_header_action-export" title="Export">
          <img class="btn_icon" src="/admin/api/icons?file=glyphicons-basic-302-square-download.svg&color=444444">
        </button>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "list_settings"}}
  <div class="list_settings">
    <h3>{{PragoMessage .Locale "admin_options_visible"}}</h3>
    <div class="list_settings_labels">
    {{range $item := .Header}}
      <label class="list_settings_label"><input type="checkbox" class="list_settings_column" data-column-name="{{$item.ColumnName}}"> {{$item.NameHuman}}</label>
    {{end}}
    </div>

    <h3>Počet položek na stránce</h3>
    <select class="list_settings_pages input">
      {{range $item := .PaginationData}}
        <option value="{{$item.Value}}"{{if $item.Selected}} selected{{end}}>{{$item.Name}}</option>
      {{end}}
    </select>
  </div>
{{end}}

{{define "list_stats"}}
  <div class="list_stats">
    <h3>Počet řádků</h3>
    <label>
      <select class="list_stats_limit input">
        {{range $item := .StatsLimitSelectData}}
          <option value="{{$item.Value}}"{{if $item.Selected}} selected{{end}}>{{$item.Name}}</option>
        {{end}}
      </select>
    </label>
    <h3>xxx{{.Language}}</h3>
    <div class="list_stats_container"></div>
  </div>
{{end}}

{{define "list_export"}}
  <div class="list_export">
    {{if .CanExport}}
      <a href="#" class="btn admin_exportbutton" download="export.xlsx">Stáhnout tabulku ve formátu .xlsx</a>
      <br><br>
      <a href="api/export.csv" class="btn" download="export.csv">Stáhnout celou tabulku ve formátu .csv</a>
    {{else}}
      Nemáte oprávnění exportovat tuto tabulku.
    {{end}}
  </div>
{{end}}

{{define "list_placeholder"}}
  <div class="list_tableplaceholder">
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
    <div class="list_tableplaceholder_row"></div>
  </div>
{{end}}

{{define "filter_layout_text"}}
  <input class="input list_filter_input list_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_relation"}}
  <div class="filter_relations list_filter_item list_filter_item-relations" name="{{.ColumnName}}" data-typ="{{.ColumnName}}" data-related-resource="{{.RelatedResourceID}}">
    <input type="hidden" class="filter_relations_hidden">
    <div class="filter_relations_preview hidden">
      <div class="filter_relations_preview_image"></div>
      <div class="filter_relations_preview_name"></div>
      <img class="filter_relations_preview_close" src="/admin/api/icons?file=glyphicons-basic-599-menu-close.svg&color=444444">
    </div>
    <div class="filter_relations_search">
      <input class="input list_filter_input filter_relations_search_input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <div class="filter_relations_suggestions"></div>
    </div>
  </div>
{{end}}

{{define "filter_layout_number"}}
  <input class="input list_filter_input list_filter_item" type="text" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_boolean"}}
  <select class="input list_filter_input list_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <option value=""></option>
    <option value="true">{{index .FilterData 0}}</option>
    <option value="false">{{index .FilterData 1}}</option>
  </select>
{{end}}

{{define "filter_layout_select"}}
  <select class="input list_filter_input list_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    {{range $item := .FilterData}}
      <option value="{{index $item 0}}">{{index $item 1}}</option>
    {{end}}
  </select>
{{end}}

{{define "filter_layout_date"}}
  <div class="list_filter_layout_date">
    <input class="list_filter_item list_filter_layout_date_value" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <div class="list_filter_layout_date_content">
      <input type="date"
        class="input list_filter_input list_filter_date_input list_filter_layout_date_from"
        placeholder="od"
      >
      <input type="date"
        class="input list_filter_input list_filter_date_input list_filter_layout_date_to"
        placeholder="do"
      >
    </div>
  </div>
{{end}}

{{define "list_cells"}}
  {{range $item := .admin_list.Rows}}
    <div data-id="{{$item.ID}}" data-url="{{$item.URL}}" class="list_row" data-actions="{{$item.Actions.JSON}}" data-name="{{$item.Name}}" data-description="{{$item.Description}}" data-image-url="{{$item.ImageURL}}">
      {{if $item.AllowsMultipleActions}}
        <div class="list_row_multiple preventredirect" data-id="{{$item.ID}}">
          <div class="list_cell_multiple_pseudocheckbox"></div>
        </div>
      {{end}}
      {{range $cell := $item.Items}}
        <div class="list_cell" title="{{$cell.Name}}" data-cell-id="{{$cell.ItemID}}" {{if $cell.FetchURL}}data-fetch-url="{{$cell.FetchURL}}"{{end}}>
          {{template "list_cell" $cell}}
        </div>
      {{end}}
      <div class="list_row_lastcell">
        <div class="btngroup list_buttons">
          {{if $item.Actions.ShowOrderButton}}
            <a href="#list-order-clicked" class="btn admin-action-order preventredirect">
              <img class="btn_icon" src="/admin/api/icons?file=glyphicons-basic-600-menu.svg&color=444444">
            </a>
          {{end}}
          {{if $item.Actions.MenuButtons}}
            <div class="btn list_buttons_more preventredirect">
              <img class="btn_icon preventredirect" src="/admin/api/icons?file=glyphicons-basic-497-more.svg&color=444444">
            </div>
          {{end}}
        </div>
      </div>
    </div>
  {{end}}
{{end}}

{{define "list_footer"}}
  {{if .admin_list.Message}}
    <div class="list_message">
      {{.admin_list.Message}}
    </div>
  {{end}}
  <div class="pagination" data-total="{{.admin_list.Pagination.TotalPages}}" data-selected="{{.admin_list.Pagination.SelectedPage}}"></div>
{{end}}

{{define "list_multiple_actions"}}
  <div class="list_multiple_actions">
    <div class="list_multiple_actions_content">
      <span class="list_multiple_actions_description"></span>
      <div class="list_multiple_actions_buttons">
        {{range $item :=  .MultipleActions}}
          <button class="btn list_multiple_action" data-id="{{$item.ID}}" data-name="{{$item.Name}}" data-action-type="{{$item.ActionType}}">
            {{if $item.Icon}}<img class="btn_icon" src="/admin/api/icons?file={{$item.Icon}}&color=444444">{{end}}
            {{$item.Name}}
          </button>
        {{end}}
      </div>
    </div>
    <img src="/api/glyphicons/glyphicons-basic-599-menu-close.svg?color=888888" class="list_multiple_actions_cancel">
  </div>
{{end}}
