{{define "list_cells"}}
  {{range $row := .Rows}}
    <div data-id="{{$row.ID}}" data-url="{{$row.URL}}" class="list_row" data-actions="{{$row.Actions.JSON}}" data-prename="{{$row.PreName}}" data-name="{{$row.Name}}" data-description="{{$row.Description}}" data-image-url="{{$row.ImageURL}}">
      {{if $row.ListContent.AllowsMultipleActions}}
        <div class="list_row_multiple" data-id="{{$row.ID}}">
          <div class="list_cell_multiple_pseudocheckbox"></div>
        </div>
      {{end}}
      {{range $cell := $row.Items}}
        <div class="list_cell" title="{{$cell.Name}}" data-cell-id="{{$cell.ItemID}}" {{if $cell.FetchURL}}data-fetch-url="{{$cell.FetchURL}}"{{end}}>
          {{template "list_cell" $cell}}
        </div>
      {{end}}
    </div>
  {{end}}
{{end}}

{{define "list_cell"}}
    {{if .HasImages}}
      <span class="list_cell_images">
      {{range $image := .Images}}
        {{if $image}}
          <img src="{{PragoCSS (PragoThumb $image)}}" class="list_cell_image" loading="lazy">
        {{end}}
      {{end}}
      </span>
    {{end}}
    <span class="list_cell_name">{{.Name}}</span>
{{end}}