{{define "list_stats"}}
  <div class="list_stats">
    <h3>Počet řádků</h3>
    <label>
      <select class="list_stats_limit input">
        {{range $item := .StatsLimitSelectData}}
          <option value="{{$item.Value}}"{{if $item.Selected}} selected{{end}}>{{$item.Name}}</option>
        {{end}}
      </select>
    </label>
    <h3>{{PragoMessage .Language "admin_stats"}}</h3>
    <div class="list_stats_container"></div>
  </div>
{{end}}

{{define "list_stats_content"}}
  <div class="admin_stats">
    <div class="admin_stats_sections">
      {{range $section := .Sections}}
        <div class="admin_stats_section">
          <div class="admin_stats_section_name">{{$section.Name}}</div>
          <div class="admin_stats_section_table">
            {{range $row := $section.Table}}
              {{if $row.URL}}
                <a href="{{$row.URL}}" class="admin_stats_section_row" title="{{$row.Name}} - {{$row.Description.Count}} ({{$row.Description.Percent}})">
              {{else}}
                <div class="admin_stats_section_row" title="{{$row.Name}} - {{$row.Description.Count}} ({{$row.Description.Percent}})">
              {{end}}
                <div class="admin_stats_section_row_name">
                  {{if $row.Image}}
                    <div class="admin_stats_section_row_image" style="background-url: url('{{$row.Image}}');"></div>
                  {{end}}
                  {{$row.Name}}
                </div>
                <div class="admin_stats_section_row_graph{{if eq $row.Description.Percent ""}} admin_stats_section_row_graph-empty{{end}}">
                  <div class="admin_stats_section_row_graph_content" style="width: {{$row.Description.PercentCSS}};"></div>
                </div>
                <div class="admin_stats_section_row_description">
                  <div class="admin_stats_section_row_description_count">{{$row.Description.Count}}</div>
                  <div class="admin_stats_section_row_description_percent">{{$row.Description.Percent}}</div>
                </div>
              {{if $row.URL}}
                </a>
              {{else}}
                </div>
              {{end}}
            {{end}}
          </div>
        </div>
      {{end}}
    </div>
  </div>
{{end}}