{{define "menu"}}
    <div class="menu2">
        <div class="menu2_items">
            {{template "menu_items" .Items}}
        </div>
        <div class="menu_footer">
            <div>{{.Username}}</div>
            <div>{{.Email}}</div>
            <div {{if .RoleWarning}}class="menu_footer_item-warning"{{end}}>{{.Role}}</div>
            <div>{{.LanguageDecription}}</div>
            <div>{{.Version}}</div>
        </div>
    </div>
{{end}}

{{define "menu_items"}}
    {{range $item := .}}
        <div class="menu2_item{{if $item.Subitems}} menu2_item-hassubitems{{end}}{{if $item.IsSelectedOrExpanded}} menu2_item-expanded{{end}}">
            <div class="menu2_item_top">
                <div class="menu2_item_icon">
                    <img src="/admin/api/icons?file=glyphicons-basic-224-chevron-right.svg&color=dddddd" class="menu2_item_icon_img">
                </div>
                <a href="{{$item.URL}}" class="menu2_item_content{{if $item.Selected}} menu2_item_content-selected{{end}}" title="{{$item.Name}}">
                    {{if $item.Icon}}
                        <img class="menu2_item_content_icon" src="/admin/api/icons?file={{$item.Icon}}&color={{if $item.Selected}}ffffff{{else}}444444{{end}}">
                    {{else}}
                        <div class="menu2_item_content_icon menu2_item_content_icon-empty"></div>
                    {{end}}
                    <div class="menu2_item_content_name">{{$item.Name}}</div>
                    <div class="menu2_item_content_subname"></div>
                </a>
            </div>
            {{if $item.Subitems}}
                <div class="menu2_items menu2_items-subitems">
                    {{template "menu_items" $item.Subitems}}
                </div>
            {{end}}
        </div>
    {{end}}
{{end}}