{{define "notification"}}
    <div class="notification">
        <div class="notification_close"></div>
        <div class="notification_left"></div>
        <div class="notification_right">
            <div class="notification_name">{{.Name}}</div>
        </div>
    </div>
{{end}}