{{define "view_relationlist"}}
  <div class="relation_view_list"
    data-source-resource="{{.SourceResource}}"
    data-target-resource="{{.TargetResource}}"
    data-target-field="{{.TargetField}}"
    data-id-value="{{.IDValue}}"
    data-count="{{.Count}}"
  >
    <div class="relation_view_list_target">
    </div>
    <div class="relation_view_list_loading hidden">
      <progress class="progress list_progress"></progress>
    </div>
    <div class="relation_view_list_more hidden">
      <div class="btn"><img src="/admin/api/icons?file=glyphicons-basic-221-chevron-down.svg&color={{PragoBlackColor}}" class="btn_icon"></div>
    </div>
  </div>
{{end}}

{{define "view_relationlist_response"}}
      {{template "view_relation" .}}
{{end}}