{{define "relation_views"}}
  {{range $item := .}}
    {{template "relation_view" $item}}
  {{end}}
{{end}}

{{define "relation_view"}}
  <div class="box">
  {{if .Name}}
  <div class="relation_view_header">
    {{if .Name}}
      <span class="relation_view_header_name">
        {{if .Icon}}
          <img src="/admin/api/icons?file={{.Icon}}&color={{PragoBlackColor}}" class="relation_view_header_icon">
        {{end}}
        {{.Name}}
        {{if .Subname}}
          <span class="relation_view_header_subname">
            {{- .Subname -}}
          </span>
        {{end}}
      </span>
    {{end}}
    <div class="relation_view_header_tabs">
      {{range $navItem := .Buttons}}
        <a href="{{$navItem.URL}}" class="btn" title="{{$navItem.Name}}"><img src="/admin/api/icons?file={{.Icon}}&color={{PragoBlackColor}}" class="btn_icon"></a>
      {{end}}
    </div>
  </div>
  {{end}}
  {{if .Relation}}
    {{template "view_relationlist" .Relation}}
  {{end}}
  </div>
{{end}}

{{define "view_relationlist"}}
  <div class="admin_relationlist"
    data-source-resource="{{.SourceResource}}"
    data-target-resource="{{.TargetResource}}"
    data-target-field="{{.TargetField}}"
    data-id-value="{{.IDValue}}"
    data-count="{{.Count}}"
  >
    <div class="admin_relationlist_target">
    </div>
    <div class="admin_relationlist_loading hidden">
      <progress class="progress list_progress"></progress>
    </div>
    <div class="admin_relationlist_more hidden">
      <div class="btn"><img src="/admin/api/icons?file=glyphicons-basic-221-chevron-down.svg&color={{PragoBlackColor}}" class="btn_icon"></div>
    </div>
  </div>
{{end}}

{{define "view_relationlist_response"}}
      {{template "view_relation" .}}
{{end}}