{{define "sql_console"}}

{{if .table}}
    <table class="admin_table">
        {{range $row := .table}}
            <tr>
                {{range $column := $row}}
                    <td>{{$column.Value}}</td>
                {{end}}
            </tr>
        {{end}}
    </table>
{{end}}

{{end}}