{{define "taskmonitor"}}
    <div class="taskmonitor">
        {{if .taskmonitor.Name}}
            <h2>Spuštěné úlohy</h2>
        {{end}}

        {{range $item := .taskmonitor.Items}}
            <div class="taskmonitor_task">
                <div class="taskmonitor_task_left">
                    <div class="taskmonitor_task_left_status">
                        {{if $item.IsDone}}
                            {{if $item.IsError}}
                                <span class="taskmonitor_task_done">💥</span>
                            {{else}}
                                {{if $item.IsStopped}}
                                    <span class="taskmonitor_task_done">🛑</span>
                                {{else}}
                                    <span class="taskmonitor_task_done">✅</span>
                                {{end}}
                            {{end}}
                        {{else if $item.IsStopped}}
                            <span class="taskmonitor_task_done">🛑</span>
                        {{end}}
                    </div>
                    <div class="taskmonitor_task_progress">
                        {{if not $item.IsDone}}
                            <progress {{if $item.ProgressDescription}}value="{{$item.Progress}}" max="100" title="{{$item.ProgressDescription}}"{{end}}></progress>
                        {{end}}
                    </div>
                </div>
                <div class="taskmonitor_task_middle">
                    <div class="taskmonitor_task_name">
                        {{$item.TaskName}}
                        <span class="taskmonitor_task_uuid">{{$item.UUID}}</span>
                    </div>
                    <div class="taskmonitor_task_status">
                        {{if $item.StartedStr}}
                            Zahájeno: {{$item.StartedStr}},
                        {{end}}
                        {{if $item.EndedStr}}
                            Dokončeno: {{$item.EndedStr}},
                        {{end}}
                        {{if $item.Status}}
                            Status: {{$item.Status}}
                        {{end}}
                    </div>
                </div>
                {{if $item.Actions}}
                    <div class="taskmonitor_task_right">
                        {{range $item := $item.Actions}}
                            <a href="{{$item.URL}}" class="btn btn-small">{{$item.Name}}</a>
                        {{end}}
                    </div>
                {{end}}
            </div>
        {{end}}
    </div>
{{end}}