{{define "views"}}
  {{range $item := .}}
    {{template "view" $item}}
  {{end}}
{{end}}

{{define "view"}}
  <div class="box">
  {{if .Name}}
  <div class="view_header">
    <img src="/admin/api/icons?file={{.Icon}}&color=888888" class="view_header_icon">
    {{if .Name}}
      <span class="view_header_name">
        {{.Name}}
        {{if .Subname}}
          <span class="view_header_subname">
            {{.Subname}}
          </span>
        {{end}}
      </span>
    {{end}}
    <div class="btngroup view_header_tabs">
      {{range $navItem := .Navigation}}
        <a href="{{$navItem.URL}}" class="btn"><img src="/admin/api/icons?file={{.Icon}}&color=444444" class="btn_icon">{{$navItem.Name}}</a>
      {{end}}
    </div>
  </div>
  {{end}}
  {{- if .Header}}
    {{- template "box_header" .Header}}
  {{end}}
  {{if .Relation}}
    {{template "view_relationlist" .Relation}}
  {{end}}


  {{range $item := .Items}}
    <div class="view">
    {{if $item.Name}}
      <div class="view_name">
        {{if $item.Icon}}
          <img src="/admin/api/icons?file={{$item.Icon}}&color=444444" class="view_name_icon">
        {{end}}
        {{$item.Name}}
        {{if $item.EditURL}}
          <a href="{{$item.EditURL}}" class="view_edit">
            <img src="/admin/api/icons?file=glyphicons-basic-31-pencil.svg&color=4078c0" class="view_edit_icon">{{$item.EditName}}
          </a>
        {{end}}
      </div>
    {{end}}
    <div class="view_content">
      {{- $item.Content -}}
    </div>
    </div>
  {{end}}

  {{range $result := .SearchResults}}
    <a href="{{$result.URL}}" class="search">
      <div class="search_icon"></div>
      <div class="search_right">
        <div class="search_name">{{$result.Name}}</div>
      </div>
    </a>
  {{end}}


  {{if .Pagination}}
    <div class="search_pagination">
      {{range $page := .Pagination}}
        <a href="{{$page.URL}}" class="search_pagination_page{{if $page.Selected}} search_pagination_page-selected{{end}}">{{$page.Title}}</a>
      {{end}}
    </div>
  {{end}}

  </div>
{{end}}

{{define "view_text"}}
  {{- . -}}
{{end}}

{{define "view_textarea"}}
  <span>{{- . -}}</span>
{{end}}

{{define "view_markdown"}}
  {{- PragoMarkdown . -}}
{{end}}

{{define "view_cdn_file"}}
  <div class="fileview">
  {{if .MediumURL}}
      <a href="{{.DownloadURL}}" class="fileview_preview" style="background-image: url('{{.MediumURL}}');"></a>
  {{end}}
  </div>
{{end}}

{{define "view_image"}}
  <div class="imageview" data-images="{{.}}">
    <progress class="progress" value="" max=""></progress>
  </div>
{{end}}

{{define "view_place"}}
  <div class="admin_item_view_place" data-value="{{.}}">
    <progress class="progress" value="" max=""></progress>
  </div>
{{end}}

{{define "view_relation"}}
  <div class="admin_item_view_relation">
    {{if .}}
      {{range $item := .}}
      <a class="admin_preview" href="{{$item.URL}}">
        {{if $item.Image}}
          <img src="{{PragoCSS $item.Image}}" class="admin_preview_image" loading="lazy">
        {{end}}
        <div class="admin_preview_right">
          <div class="admin_preview_name">{{$item.Name}}</div>
          <div class="admin_preview_description" title="{{$item.Description}}">{{$item.Description}}</div>
        </div>
      </a>
      {{end}}
    {{else -}}
      
    {{- end}}
  </div>
{{end}}

{{define "view_relationlist"}}
  <div class="admin_relationlist"
    data-source-resource="{{.SourceResource}}"
    data-target-resource="{{.TargetResource}}"
    data-target-field="{{.TargetField}}"
    data-id-value="{{.IDValue}}"
    data-count="{{.Count}}"
  >
    <div class="admin_relationlist_target">
    </div>
    <div class="admin_relationlist_loading hidden">
      <progress class="progress list_progress"></progress>
    </div>
    <div class="admin_relationlist_more hidden">
      <div class="btn"><img src="/admin/api/icons?file=glyphicons-basic-221-chevron-down.svg&color=444444" class="btn_icon"></div>
    </div>
  </div>
{{end}}

{{define "view_relationlist_response"}}
      {{template "view_relation" .}}
{{end}}