{{define "admin_home_navigation"}}
  
  {{range $item := .}}
    <h2><a href="{{$item.URL}}">{{$item.Name}}</a></h2>
    <ul>
      {{range $action := $item.Actions}}
        <li><a href="{{$action.URL}}">{{$action.Name}}</a></li>
      {{end}}
    </ul>
  {{end}}
{{end}}