{{define "admin_tasks"}}
    <div class="admin_box">        
        <h1>{{message .currentuser.Locale "tasks"}}</h1>
        <h2>Spuštěné úlohy</h2>

        <div class="taskmonitorcontainer">{{template "taskmonitor" .}}</div>

        {{$token := ._csrfToken}}

        <h2>Spustit úlohu</h2>
        {{range $task := .tasks}}
            <form method="POST" action="_tasks/runtask">
                <input type="hidden" name="id" value="{{$task.ID}}">
                <input type="hidden" name="csrf" value="{{$token}}">
                <input type="submit" value="{{$task.Name}}" class="btn">
            </form>
            <br>
        {{end}}

    </div>
{{end}}