{{define "admin_home_navigation"}}
  <div class="admin_box_padding">  
    {{range $item := .}}
      <a href="{{$item.URL}}">{{$item.Name}}</a>
      <ul>
        {{range $action := $item.Actions}}
          <li><a href="{{$action.URL}}">{{$action.Name}}</a></li>
        {{end}}
      </ul>
    {{end}}
  </div>
{{end}}