{{define "admin_search"}}
  <div class="admin_box">
    <h1>{{.admin_title}}</h1>

    {{range $result := .search_results}}
      <a href="{{$result.URL}}" class="search">
        <div class="search_icon"
          {{if $result.Image}} style="background-image: url('{{CSS $result.Image}}');"{{end}}></div>
        <div class="search_right">
          <div class="search_category">{{$result.Category}}</div>
          <div class="search_name">{{$result.Name}}</div>
          <div class="search_description">{{$result.Description}}</div>
        </div>
      </a>
    {{end}}

    <div class="search_pagination">
      {{range $page := .search_pages}}
        <a href="{{$page.URL}}" class="search_pagination_page{{if $page.Selected}} search_pagination_page-selected{{end}}">{{$page.Title}}</a>
      {{end}}
    </div>
  </div>
{{end}}


{{define "admin_search_suggest"}}
  <div class="admin_search_suggestions_content">
    {{range $i, $item := .items}}
      <a href="{{$item.URL}}" class="admin_search_suggestion" data-position="{{$i}}">
        <div class="admin_search_suggestion_left"
          {{if $item.Image}} style="background-image: url('{{CSS $item.Image}}');"{{end}}></div>
        <div class="admin_search_suggestion_right">
          <div class="admin_search_suggestion_category">{{$item.Category}}</div>
          <div class="admin_search_suggestion_name">{{$item.Name}}</div>
          <div class="admin_search_suggestion_description">{{$item.Description}}</div>
        </div>
      </a>
    {{end}}
  </div>
{{end}}