{{define "admin_layout_nologin"}}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.admin_title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{.admin_header_prefix}}/normalize.css?v={{.version}}">
    <link rel="stylesheet" href="{{.admin_header_prefix}}/_static/admin.css?v={{.version}}">
  </head>
  <body class="admin_nologin">

    {{if .admin_page.Admin.Logo}}
      <div class="admin_nologin_logo" style="background-image: url('{{CSS .admin_page.Admin.Logo}}');"></div>
    {{end}}

    {{if .admin_page}}
      {{template "admin_tabs" .admin_page.Navigation.Tabs}}
    {{end}}

    {{template "notification_center" .}}
    {{template "admin_flash" .}}
    {{tmpl .admin_yield .}}
  </body>
</html>

{{end}}