{{define "admin_home_navigation"}}
  <table class="admin_table">
    {{range $item := .}}
      <tr>
        <td>
          <b><a href="{{$item.URL}}">{{$item.Name}}</a></b>
        </td>
        <td>
          <div class="btngroup">
            {{range $action := $item.Actions}}
              <a class="btn" href="{{$action.Url}}">{{$action.Name}}</a>
            {{end}}
          </div>
        </td>
      </tr>
    {{end}}
  </table>
{{end}}