{{define "admin_navigation"}}
  <div class="admin_navigation_breadcrumbs">
    {{range $item := .Breadcrumbs}}
      <a href="{{$item.URL}}" class="admin_navigation_breadcrumb">
        {{- if $item.Logo -}}
          <div style="background-image: url('{{CSS $item.Logo}}');"
          class="admin_navigation_breadcrumb_image admin_navigation_breadcrumb_image-logo"></div>
        {{- end -}}
        {{- if $item.Image -}}
          <div style="background-image: url('{{CSS $item.Image}}');"
          class="admin_navigation_breadcrumb_image"></div>
        {{- end -}}
        {{- $item.Name -}}
        <div class="admin_navigation_breadcrumb_divider"></div>
      </a>
    {{end}}
  </div>

  <div class="admin_navigation_tabs">
    {{range $item := .Tabs}}
      <a href="{{$item.URL}}" class="admin_navigation_tab{{if $item.Selected}} admin_navigation_tab-selected{{end}}">
        {{$item.Name}}
      </a>
    {{end}}
  </div>

  <div class="admin_box{{if .Wide}} admin_box-wide{{end}}">
{{end}}

{{define "admin_navigation_page"}}
    {{tmpl "admin_navigation" .admin_page.Navigation}}
    {{tmpl .admin_page.PageTemplate .admin_page.PageData}}
  </div>
{{end}}