{{define "admin_stats"}}
  {{range $item := .Fields}}
    <div class="view_name">
      {{$item.Name}}
    </div>
    <div class="view_content">
      {{tmpl $item.Template $item.Data}}
    </div>
  {{end}}
{{end}}

{{define "admin_stats_text"}}
  {{.}}
{{end}}

{{define "admin_stats_pie"}}
  <div class="admin_stats_pie" data-label-a="{{.LabelA}}" data-label-b="{{.LabelB}}" data-value-a="{{.ValueA}}" data-value-b="{{.ValueB}}" height="50px">
    <canvas></canvas>
  </div>
{{end}}

{{define "admin_stats_timeline"}}
  <div class="admin_stats_timeline" data-field="{{.Field}}" data-resource="{{.Resource}}">
    <canvas></canvas>
  </div>
{{end}}