{{define "admin_list"}}
  <table class="admin_table admin_table-list {{if .CanChangeOrder}} admin_table-order{{end}}"
  data-type="{{.TypeID}}"
  data-order-column="{{.OrderColumn}}"
  data-order-desc="{{.OrderDesc}}"
  data-prefilter-field="{{.PrefilterField}}"
  data-prefilter-value="{{.PrefilterValue}}"
  >
    <thead>
    <tr>
      {{range $item := .Header}}
        {{if $item.ShouldShow}}
          <th>
            {{if $item.CanOrder}}
              <a href="#" class="admin_table_orderheader" data-name="{{$item.ColumnName}}">
            {{- end -}}
              {{- $item.NameHuman -}}
            {{if $item.CanOrder -}}
              </a>
            {{end}}
          </th>
        {{end}}
      {{end}}
      <th>
        <span class="admin_table_count"></span>
      </th>
    </tr>
    <tr>
      {{range $item := .Header}}
        {{if $item.ShouldShow}}
          <th>
            {{if $item.FilterLayout}}
              {{tmpl $item.FilterLayout $item}}
            {{end}}
          </th>
        {{end}}
      {{end}}
      <th>
        <progress class="admin_table_progress"></progress>
      </th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
{{end}}

{{define "filter_layout_text"}}
  <input class="input input-small admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_relation"}}
  <select class="input input-small admin_table_filter_item admin_table_filter_item-relations" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <option value="" selected=""></option>
  </select>
{{end}}

{{define "filter_layout_number"}}
  <input class="input input-small admin_table_filter_item" type="number" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_boolean"}}
  <select class="input input-small admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <option value=""></option>
    <option value="true">{{index .FilterData 0}}</option>
    <option value="false">{{index .FilterData 1}}</option>
  </select>
{{end}}

{{define "filter_layout_date"}}
  <div class="admin_filter_layout_date">
    <input class="admin_table_filter_item admin_filter_layout_date_value" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <div class="admin_filter_layout_date_content">
      <input type="date" class="input input-small admin_filter_layout_date_from">
      <div class="admin_filter_layout_date_divider">–</div>
      <input type="date" class="input input-small admin_filter_layout_date_to">
    </div>
  </div>
{{end}}

{{define "admin_list_cells"}}
  {{range $item := .admin_list.Rows}}
    <tr data-id="{{$item.ID}}" data-url="{{$item.URL}}" class="admin_table_row">
      {{range $cell := $item.Items}}
      <td>
        {{tmpl $cell.Template $cell.Value}}
      </td>
      {{end}}
      <td nowrap class="top align-right">
        <div class="btngroup admin_list_buttons">
          {{range $action := $item.Actions.VisibleButtons}}
            <a href="{{$action.URL}}" class="btn btn-small"
              {{range $k, $v := $action.Params}} {{HTMLAttr $k}}="{{$v}}"{{end}}
            >{{$action.Name}}</a>
          {{end}}
          {{if $item.Actions.ShowOrderButton}}
            <a href="" class="btn btn-small admin-action-order preventredirect">☰</a>
          {{end}}
          {{if $item.Actions.MenuButtons}}
            <button class="btn preventredirect btn-small btn-more">
              <div class="preventredirect">▼</div>
              <div class="btn-more_content preventredirect">
                {{range $action := $item.Actions.MenuButtons}}
                  <a href="{{$action.URL}}" class="btn btn-small btn-more_content_item">{{$action.Name}}</a>
                {{end}}
              </div>
            </button>
          {{end}}
        </div>
      </td>
    </tr>
  {{end}}
  {{if .admin_list.Pagination.Pages}}
    <tr>
      <td colspan="{{.admin_list.Colspan}}" class="pagination">
        {{range $page := .admin_list.Pagination.Pages}}
          {{if $page.Current}}
            <span class="pagination_page_current">{{$page.Page}}</span>
          {{else}}
            <a href="#" class="pagination_page" data-page="{{$page.Page}}">{{$page.Page}}</a>
          {{end}}
        {{end}}
      </td>
    </tr>
  {{end}}
{{end}}
