{{define "admin_list"}}
<div class="admin_list {{if .CanChangeOrder}} admin_list-order{{end}}"
  data-type="{{.TypeID}}"
  data-order-column="{{.OrderColumn}}"
  data-order-desc="{{.OrderDesc}}"
  data-prefilter-field="{{.PrefilterField}}"
  data-prefilter-value="{{.PrefilterValue}}"
  data-columns="{{.Columns}}"
  data-visible-columns="{{.VisibleColumns}}"
>
  <div class="admin_tablesettings">
    <div class="admin_tablesettings_name">{{message .Locale "admin_options_visible"}}</div>

    <a href="#" class="btn admin_exportbutton" download="export.xlsx">Exportovat</a>

    {{range $item := .Header}}
      <label class="admin_tablesettings_label"><input type="checkbox" class="admin_tablesettings_column" data-column-name="{{$item.ColumnName}}"> {{$item.NameHuman}}</label>
    {{end}}
    <div class="clear"></div>
  </div>

  <table class="admin_table admin_list_table">
    <thead>
    <tr>
      {{range $item := .Header}}
        <th class="admin_list_orderitem{{if $item.CanOrder}} admin_list_orderitem-canorder{{end}}" data-name="{{$item.ColumnName}}">
          {{- $item.NameHuman -}}
        </th>
      {{end}}
      <th>
        <span class="admin_table_count"></span>
      </th>
    </tr>
    <tr class="admin_list_filterrow">
      {{range $item := .Header}}
        <th class="admin_list_filteritem" data-name="{{$item.ColumnName}}" data-filter-layout="{{$item.FilterLayout}}">
          {{if $item.FilterLayout}}
            {{tmpl $item.FilterLayout $item}}
          {{end}}
        </th>
      {{end}}
      <th>
        <progress class="admin_table_progress"></progress>
      </th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
{{end}}

{{define "filter_layout_text"}}
  <input class="input input-small admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_relation"}}
  <div class="filter_relations admin_table_filter_item admin_table_filter_item-relations" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <input type="hidden" class="filter_relations_hidden">
    <div class="filter_relations_preview">
      <div class="filter_relations_preview_close"></div>
      <div class="filter_relations_preview_image"></div>
      <div class="filter_relations_preview_name"></div>
      <div class="filter_relations_clear"></div>
    </div>
    <div class="filter_relations_search">
      <input class="input input-small filter_relations_search_input">
      <div class="filter_relations_suggestions"></div>
    </div>
  </div>
 <!--
  <select class="input input-small admin_table_filter_item admin_table_filter_item-relations" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <option value="" selected=""></option>
  </select>
-->
{{end}}

{{define "filter_layout_number"}}
  <input class="input input-small admin_table_filter_item" type="text" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
{{end}}

{{define "filter_layout_boolean"}}
  <select class="input input-small admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <option value=""></option>
    <option value="true">{{index .FilterData 0}}</option>
    <option value="false">{{index .FilterData 1}}</option>
  </select>
{{end}}

{{define "filter_layout_select"}}
  <select class="input input-small admin_table_filter_item" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    {{range $item := .FilterData}}
      <option value="{{index $item 0}}">{{index $item 1}}</option>
    {{end}}
  </select>
{{end}}

{{define "filter_layout_date"}}
  <div class="admin_filter_layout_date">
    <input class="admin_table_filter_item admin_filter_layout_date_value" name="{{.ColumnName}}" data-typ="{{.ColumnName}}">
    <div class="admin_filter_layout_date_content">
      <input type="text"
        class="input input-small admin_filter_layout_date_from form_input-date"
        placeholder="Od"
      >
      <div class="admin_filter_layout_date_divider">–</div>
      <input type="text"
        class="input input-small admin_filter_layout_date_to form_input-date"
        placeholder="Do"
      >
    </div>
  </div>
{{end}}

{{define "admin_list_cells"}}
  {{range $item := .admin_list.Rows}}
    <tr data-id="{{$item.ID}}" data-url="{{$item.URL}}" class="admin_table_row">
      {{range $cell := $item.Items}}
        <td{{if $cell.OrderedBy}} class="admin_table_cell-orderedby"{{end}}>
          {{tmpl $cell.Template $cell.Value}}
        </td>
      {{end}}
      <td nowrap class="top align-right">
        <div class="btngroup admin_list_buttons">
          {{range $action := $item.Actions.VisibleButtons}}
            <a href="{{$action.URL}}" class="btn btn-small"
              {{range $k, $v := $action.Params}} {{HTMLAttr $k}}="{{$v}}"{{end}}
            >{{$action.Name}}</a>
          {{end}}
          {{if $item.Actions.ShowOrderButton}}
            <a href="" class="btn btn-small admin-action-order preventredirect">☰</a>
          {{end}}
          {{if $item.Actions.MenuButtons}}
            <div class="btn preventredirect btn-small btn-more">
              <div class="preventredirect">▼</div>
              <div class="btn-more_content preventredirect">
                {{range $action := $item.Actions.MenuButtons}}
                  <a href="{{$action.URL}}" class="btn btn-small btn-more_content_item">{{$action.Name}}</a>
                {{end}}
              </div>
            </div>
          {{end}}
        </div>
      </td>
    </tr>
  {{end}}
  {{if .admin_list.Message}}
    <tr>
      <td colspan="{{.admin_list.Colspan}}" class="admin_list_message">
        {{.admin_list.Message}}
      </td>
    </tr>
  {{end}}
  {{if .admin_list.Pagination.Pages}}
    <tr>
      <td colspan="{{.admin_list.Colspan}}" class="pagination">
        {{range $page := .admin_list.Pagination.Pages}}
          {{if $page.Current}}
            <span class="pagination_page_current">{{$page.Page}}</span>
          {{else}}
            <a href="#" class="pagination_page" data-page="{{$page.Page}}">{{$page.Page}}</a>
          {{end}}
        {{end}}
      </td>
    </tr>
  {{end}}
</div>
{{end}}
